In [1]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [2]:
BIGQUERY_PROJECT = 'ironhacks-data'

In [3]:
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [4]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [5]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404

In [6]:
query = """

SELECT date, max_rel_humidity
FROM ironhacks-data.ironhacks_training.weather_data
WHERE date='2020-06-16'




"""

In [7]:
query_job = bigquery_client.query(query)
get_ipython().system('python3 -m pip install pandas')
import pandas
data = query_job.to_dataframe()
data.head()

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

         date  max_rel_humidity
0  2020-06-16           82.2795