In [1]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [2]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
ORDER BY week_number ASC
"""

In [3]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
print(unemployment_data)

                                  uu_id  timeperiod  week_number  countyfips  \
0      65f24aac652de33abaf3f227b41e2641    20220101            1       18093
1      14ceb8012cb1b912044297c8933cfcfc    20220101            1       18057
2      f013068de98db1470bd986137a0c6d23    20220101            1       18003
3      f70960d492c2fd067680a14baa0f66e9    20220101            1       18167
4      778946d9696cd6c95f57e8b1e6336389    20220101            1       18167
...                                 ...         ...          ...         ...
16828  447d5984bb8a8179bff002ccd1bba162    20220910           37       18081
16829  7dd5fff353cd08adc694aa74d7fa31af    20220910           37       18063
16830  7dd5fff353cd08adc694aa74d7fa31af    20220910           37       18063
16831  06c78e49b4daedfeb808c42e58fb25e4    20220910           37       18063
16832  06c78e49b4daedfeb808c42e58fb25e4    20220910           37       18063

        tract                                       tract_name  total_claims  \
0      950500      Census Tract 9505, Lawrence County, Indiana            10
1      110506   Census Tract 1105.06, Hamilton County, Indiana            39
2         900            Census Tract 9, Allen County, Indiana            10
3       10600           Census Tract 106, Vigo County, Indiana            35
4       11200           Census Tract 112, Vigo County, Indiana            37
...       ...                                              ...           ...
16828  610802    Census Tract 6108.02, Johnson County, Indiana            10
16829  210202  Census Tract 2102.02, Hendricks County, Indiana            13
16830  210202  Census Tract 2102.02, Hendricks County, Indiana            13
16831  210603  Census Tract 2106.03, Hendricks County, Indiana            11
16832  210603  Census Tract 2106.03, Hendricks County, Indiana            11

       edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  ...  \
0                    0             <NA>               <NA>  ...
1                 <NA>                0               <NA>  ...
2                    0                0               <NA>  ...
3                    0             <NA>                 21  ...
4                    0             <NA>                 24  ...
...                ...              ...                ...  ...
16828                0             <NA>               <NA>  ...
16829                0             <NA>               <NA>  ...
16830                0             <NA>               <NA>  ...
16831                0             <NA>               <NA>  ...
16832                0             <NA>               <NA>  ...

       gender_female  gender_male gender_na race_amerindian race_asian  \
0               <NA>         <NA>         0               0          0
1               <NA>         <NA>         0               0          0
2               <NA>         <NA>         0               0          0
3               <NA>         <NA>         0               0          0
4                 26           11         0               0          0
...              ...          ...       ...             ...        ...
16828           <NA>         <NA>         0               0          0
16829           <NA>         <NA>         0               0          0
16830           <NA>         <NA>         0               0          0
16831           <NA>         <NA>         0               0          0
16832           <NA>         <NA>         0               0          0

       race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0            <NA>              0                    0           0        <NA>
1            <NA>           <NA>                    0        <NA>          28
2            <NA>              0                    0        <NA>        <NA>
3               0           <NA>                    0        <NA>          32
4            <NA>           <NA>                    0        <NA>        <NA>
...           ...            ...                  ...         ...         ...
16828           0              0                    0        <NA>        <NA>
16829           0              0                    0           0          13
16830           0              0                    0           0          13
16831        <NA>              0                    0           0        <NA>
16832        <NA>              0                    0           0        <NA>

[16833 rows x 25 columns]