In [1]:
get_ipython().run_cell_magic('capture', '', "%logstop\n%logstart -t -r -q ipython_command_log.py global\n\n#- IRONHACKS RESEARCH TRACKING CODE\n#----------------------------------\n# The following code is used to help our research team understand how you \n# our notebook environment. We do not collect any personal information with\n# the following code, it is used to measure when and how often you work on\n# your submission files.\n\nimport os\nfrom datetime import datetime\nimport IPython.core.history as history\n\nha = history.HistoryAccessor()\nha_tail = ha.get_tail(1)\nha_cmd = next(ha_tail)\nsession_id = str(ha_cmd[0])\ncommand_id = str(ha_cmd[1])\ntimestamp = datetime.utcnow().isoformat()\nhistory_line = ','.join([session_id, command_id, timestamp]) + '\\n'\nlogfile = open(os.environ['HOME']+'/ipython_session_log.csv', 'a')\nlogfile.write(history_line)\nlogfile.close()\n")

In [2]:
get_ipython().run_cell_magic('capture', '', "\n#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED\n#------------------------------------------\n# This is normally not required. The hub environment comes preinstaled with \n# many packages that you can already use without setup. In case there is some\n# other library you would like to use that isn't on the list you run this command\n# once to install them.  If it is already installed this command has no effect.\n!pip install db-dtypes\n!python3 -m pip install pandas\n!pip install pmdarima\n")

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [3]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima

In [4]:
get_ipython().run_cell_magic('capture', '', "\n#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED\n#------------------------------------------\n# This is normally not required. The hub environment comes preinstaled with \n# many packages that you can already use without setup. In case there is some\n# other library you would like to use that isn't on the list you run this command\n# once to install them.  If it is already installed this command has no effect.\n!pip install db-dtypes\n!python3 -m pip install pandas\n!pip install pmdarima\n!pip install plotly==5.11.0\n")

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [5]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima

- DEFINE YOUR CLASSES AND FUNCTIONS 
-----------------------------------
This is not required, but is helpful in keeping your notebook organized. 
You can use the following cell or several cells to define your functions
and classes to keep them separate from your analysis or results code.
In general it useful to define your methods in a separate cell from where
it is run.

In [6]:
def dataExplore(data):
    '''
    Explore dataframe
    '''
    print("# of observations: ", data.shape[0])
    for col in data.columns:
        if col in ["uu_id", "timeperiod", "week_number", "countyfips", "tract", "tract_name", "date"]:
            print("# of %s: %s" % (col, len(pd.unique(data[col]))))
        else:
            print("Unique value of %s: %s" % (col, pd.unique(data[col])))

In [7]:
def dataBalanceCheck(data):
    '''
    Check the balance of data frame
    '''
    unbalance_count = 0
    print("# of observations in complete time series: ", len(pd.unique(data["week_number"])))
    for id in pd.unique(data["uu_id"]):
        if len(data[data["uu_id"] == id]) <  len(pd.unique(data["week_number"])):
            print(id, len(data[data["uu_id"] == id]))
            unbalance_count += 1
    print("% of tracts with incomplete time series: ", unbalance_count / len(pd.unique(data["uu_id"]))*100)

In [8]:
def dataFillNa(data, value):
    """
   fill NA with given value in the dataframe
    """
    for col in data.columns:
        if col in ["uu_id", "timeperiod", "week_number", "countyfips", "tract", "tract_name", "date"]:
            pass
        elif col in ["top_category_employer1", "top_category_employer2", "top_category_employer3"]:
            data[col] = data[col].replace({'N/A':str(value)})
        else:
            data[col] = data[col].fillna(value)
    return(data)

In [9]:
def dataIdentifyDWM(data):
    '''
    Input: # of week. Output: data for the first day, its month and week order in the month
    '''
    data["date"] = pd.to_datetime(2022 * 1000 + (1+(data["week_number"]-1)*7), format='%Y%j')
    data["month"] = pd.DatetimeIndex(data["date"]).month
    data["weekofmonth"]= pd.to_numeric(data["date"].dt.day/7)
    data['weekofmonth'] = data['weekofmonth'].apply(lambda x: math.ceil(x))
    return(data)

In [10]:
def MSPE(s1, s2):
    return(sum((s1 - s2)**2)/len(s1))

In [11]:
def MAPE(s1, s2):
    return(sum(abs(s1 - s2))/len(s1))

In [12]:
def ARIMA_predict(df_input, cutoff_rate = 0.8, n_period = 15):
    cutoff = int(cutoff_rate * len(df_input))
    if cutoff_rate < 1:
        valid = df_input[cutoff:]
    train = df_input[:cutoff]
    model = auto_arima(train, trace=False, error_action='ignore', suppress_warnings=True)
    model.fit(train)
    forecast = model.predict(n_period)
    return(forecast)

In [13]:
# Obtain data using BigQuery
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [14]:
query = """
SELECT
a.*,
b.average_wage
FROM 
(SELECT 
*
FROM `ironhacks-data.ironhacks_competition.unemployment_data`) a
JOIN `ironhacks-data.ironhacks_competition.wage_data` b 
ON a.uu_id=b.uu_id
"""

In [15]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()

In [16]:
query_pred = """
SELECT * FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [17]:
query_job_pred = bigquery_client.query(query_pred)
data_pred_query= query_job_pred.to_dataframe()

In [18]:
# Explore input data for NA and special values
dataExplore(data)
# dataExplore(data_pred_query)
# data_pred_query.head()

# of observations:  16833
# of uu_id: 525
# of timeperiod: 35
# of week_number: 35
# of countyfips: 60
# of tract: 425
# of tract_name: 525
Unique value of total_claims: <IntegerArray>
[ 22, 111,  39,  14, 155,  24,  19,  20,  12,  50,
 ...
 135,  95, 105, 117, 118,  93, 137, 146, 120, 110]
Length: 120, dtype: Int64
Unique value of edu_8th_or_less: <IntegerArray>
[0, <NA>, 18, 14, 10, 19, 24, 17, 28, 16, 41, 12, 33, 21, 13, 26, 11, 37]
Length: 18, dtype: Int64
Unique value of edu_grades_9_11: <IntegerArray>
[<NA>,    0,   19,   11,   12,   10,   13,   35,   18,   14,   21,   25,   16,
   17,   37,   42,   20,   15,   26,   22,   29,   47,   33,   28,   40,   27,
   43,   24,   39,   23,   44,   36,   30,   31,   32,   41,   51,   38,   57,
   78]
Length: 40, dtype: Int64
Unique value of edu_hs_grad_equiv: <IntegerArray>
[  14,  108, <NA>,   69,   15,   10,   13,   21,   50,   44,   30,    0,   11,
   17,   18,   45,   62,   37,   12,   42,   31,   16,   41,   20,   24,   27,
   23,   65,   97,   19,   35,   39,   51,   26,   25,   22,   36,   38,   28,
   78,   32,   29,   52,   33,   34,   55,   49,   59,   66,   43,   61,   86,
   57,   46,   54,   48,   56,   60,   47,   58,   70,   53,   63,  111,   40,
   75,   73,  126,   83,   94,   87,   89,   80,   92,   67,   71,   74,  120,
  101,   79,  137,   77,   84,   82,   68,   64,   88,   72,  122,  112,   76,
  110,   81,  113,   98]
Length: 95, dtype: Int64
Unique value of edu_post_hs: <IntegerArray>
[<NA>,   83,   16,   10,   13,   12,    0,   15,   11,   21,   27,   19,   23,
   14,   34,   22,   51,   20,   18,   45,   25,   54,   32,   17,   87,   49,
   26,   29,   57,   43,   77,   38,   73,   24,   31,   28,   70,   41,   44,
  154,   36,   56,   30,   59,   33,   39,   42,   37,   47,   53,   46,   55,
   40,   35,   50,   75,   48,   52,   65,   82,   72,   58,   67,   92,   79,
   69,   64,   60]
Length: 68, dtype: Int64
Unique value of edu_unknown: <IntegerArray>
[   0, <NA>,   18,   13,   14,   11,   15,   12,   21,   35,   10,   20,   31,
   48,   26,   29,   46,   16,   17,   28,   27,   19,   36,   60,   24,   22]
Length: 26, dtype: Int64
Unique value of top_category_employer1: ['31-33' '48-49' '56' '72' '23' '54' '61' '11' '62' '44-45' '81' '52' '42'
 '71' '92' '51' '53' '55' '21' '99' '22']
Unique value of top_category_employer2: ['51' 'N/A' '22' '11' '21' '99' '23' '42' '52' '53' '54' '55' '56' '61'
 '62' '71' '72' '81' '92' '31-33' '44-45' '48-49']
Unique value of top_category_employer3: ['62' '56' 'N/A' '44-45' '31-33' '72' '48-49' '23' '52' '92' '42' '81'
 '54' '71' '55' '21' '99' '61' '51' '53' '22' '11']
Unique value of gender_female: <IntegerArray>
[<NA>,   76,   90,   14,   11,   29,   20,   16,   39,   10,    0,   27,   52,
   25,   17,   12,   13,   34,   23,   28,   26,   22,   65,   46,   19,   15,
   58,   18,   31,   21,   40,   43,   32,   61,   62,   81,   24,   44,   30,
   38,   42,   33,   41,   36,   37,   59,   74,   55,   54,   35,   83,   47,
   48,   82,   95,   49,   84,   57,   72,   53,   45,  119,   60,   71,   86,
   68,   50,   64,   80,   75,   67,  112,   69,   51,   56,   77,   66,  126,
  103,   96,   73]
Length: 81, dtype: Int64
Unique value of gender_male: <IntegerArray>
[<NA>,   35,   65,   10,   39,   46,   34,    0,   17,   13,   15,   12,   32,
   22,   11,   52,   30,   21,   37,   14,   18,   19,   72,   44,   16,   26,
   77,   23,   90,   67,   31,   41,   49,   24,   25,   28,   36,   64,   27,
   73,   53,   29,   20,   42,   48,   45,   84,   47,   56,   43,   50,   59,
   55,   80,   40,   33,   74,   57,   86,   78,   91,   38,   58,   83,  139,
   62,   61,   51,  127,   70,   82,   54,   71,   85,   79,   69,   63,  123,
   81,   66]
Length: 80, dtype: Int64
Unique value of gender_na: <IntegerArray>
[0, <NA>, 12, 27, 49]
Length: 5, dtype: Int64
Unique value of race_amerindian: <IntegerArray>
[0, <NA>, 13, 14, 36, 11, 26, 10, 17]
Length: 9, dtype: Int64
Unique value of race_asian: <IntegerArray>
[0, <NA>, 26, 13, 21, 10, 19, 20, 24, 12, 41, 11]
Length: 12, dtype: Int64
Unique value of race_black: <IntegerArray>
[  11, <NA>,   39,   10,  135,    0,   16,   21,   17,   18,   20,   23,   47,
   22,   34,   85,   81,   52,   14,   61,   31,   12,   13,   19,   48,   57,
   50,   45,   24,   27,   84,   59,   26,   36,   38,   25,   15,   60,   89,
   37,   42,   28,   29,   51,   54,   43,   66,   35,   40,   46,   33,   64,
   78,   41,   62,   32,   90,   30,   58,   67,  163,   53,   76,   55,   77,
   99,   87,   49,   75,  101,   92,   73,   56,   72,  138,   63,   65,  109,
   97,   71,   68,   91,   44,   79,  128,   80,   88,   70,   82,   74,  140,
   83,   86,   93,   69,  142,   96,  117]
Length: 98, dtype: Int64
Unique value of race_noanswer: <IntegerArray>
[   0, <NA>,   28,   13,   12,   23,   46,   11,   19,   25,   16,   15,   31,
   24,   22,   20,   29,   14,   17,   26,   10,   34,   37,   76,   35,   38,
   40,   39,   30,   55,  110]
Length: 31, dtype: Int64
Unique value of race_hawaiiannative: <IntegerArray>
[0, <NA>]
Length: 2, dtype: Int64
Unique value of race_other: <IntegerArray>
[<NA>,    0,   14,   24,   13,   10,   22,   38,   15,   43,   12,   17,   23,
   18,   27,   16,   25,   19,   26,   20,   33,   30,   34,   74,   46,   11,
   31,   32,   21,   29,   36,   68,   28,   60]
Length: 34, dtype: Int64
Unique value of race_white: <IntegerArray>
[<NA>,    0,   12,   14,   71,   61,   44,   23,   15,   10,   33,   11,   17,
   13,   19,   55,   18,   16,   29,   72,   47,   25,   22,   35,   28,   50,
   27,   26,   20,   32,   24,   34,   21,   45,   38,   30,   52,   39,   40,
  103,   83,   41,   37,   36,   42,   49,   66,   69,   31,  155,   65,   53,
   46,   67,   73,   63,   43,   70,   60,   51,   64,   57,   89,   81,   54,
   68,   48,  110,   76,   56,   74,   92,   97,   62,   94,   77]
Length: 76, dtype: Int64
Unique value of average_wage: [ 8347.125       7036.63636364  7890.14285714  7534.375
 11825.125       4607.33333333 11288.25       17538.8
 15685.13333333 17452.          6195.14285714 17467.53846154
 17906.0952381  17766.         24255.25       16334.5
 14842.04347826 17617.23076923 12794.09090909  7691.375
 11044.9        14063.66666667 12955.64814815 13500.13793103
  5047.75        8931.66666667  8230.22222222  9687.35714286
 11917.375      15117.7         8629.07692308  8939.66666667
  5918.875       9982.94117647  6372.          7308.
 10372.83333333 10808.4        14503.83333333 13185.5
 11736.375      11140.33333333 13467.125      14739.35294118
 17909.36363636 11465.71428571  3992.5        10756.125
 11862.42857143 13333.23333333 13345.96428571 10415.54545455
 16904.9         8660.2        15159.72727273  8810.88888889
  9151.          9240.8        11283.22222222 12255.76923077
  6661.66666667 20252.921875   21923.         14894.52380952
 12294.4         8671.          7568.         17141.41666667
 12740.125      10000.94117647  9523.6         9514.75
 15542.57142857 13541.83333333 13348.78947368  9727.85714286
  8708.28571429 14623.27272727 14781.         21521.
 14125.32       10758.33333333 14508.          8901.4
  7213.5         8219.57142857 10198.          5365.8
 10153.14285714  8841.125       9883.25       14189.
 10254.9         7074.28571429  8295.16666667  7661.55555556
  9136.2         8687.75        5237.91666667 10065.22222222
  8182.25        9726.875      11529.28571429  6885.
  7106.85714286  7807.25       10280.44444444  8056.33333333
  8583.875       9478.58333333  6588.         12068.57142857
 11072.72727273  7090.61538462  8550.71428571 13002.14285714
 18145.28571429  9916.72727273 11392.2         7746.33333333
  8341.625      17697.22222222 10784.18181818 11857.42857143
  8190.          9908.3125     11379.4         9502.6
 12219.5         7381.2        17279.16666667 12497.
 13643.75       11919.88888889  6520.90909091  8391.8
  6663.71428571 11174.33333333 14218.75       11816.66666667
 13895.33333333 16392.83870968  9019.66666667 12307.71428571
 11501.90909091 26388.66666667  6248.         11831.28571429
 12577.42857143 14797.         10147.         20625.5
  6201.33333333 15658.26923077  8485.85714286 19334.74193548
  4433.5         8653.28571429 14241.72727273 13171.91666667
  8659.57142857  5899.75        9891.25       12655.
  6780.         11327.625       8472.          7977.42857143
 21129.16666667  8369.         13250.         10030.625
 13156.11111111 17968.61290323 18390.42857143 10188.5
 14287.14285714  5184.75        5080.9375      8564.33333333
  7061.2         7098.125      11397.66666667 19350.16666667
  8125.33333333  8942.         11404.75        9386.
  8687.          9925.71428571  9960.25       16923.14285714
  9967.2         6953.88235294  7837.3         9464.16666667
 10445.         10352.         11132.16666667 10087.42857143
 11424.125       7187.57142857  6736.18181818 11133.58823529
  6392.30769231  4637.375      15455.33333333  6241.77777778
 17926.83333333 13854.75        8431.125      11266.33333333
  7067.30769231 12513.5         9948.06666667 11044.875
 13343.2173913  11896.5        14344.          6781.4
 11891.875      10889.66666667 10846.66666667  5554.
  8645.83333333  8306.          7269.          8857.15
  8807.16666667 10857.66666667 14246.66666667 11789.875
  9491.         17754.8        10133.5        13119.
 14975.4        23880.          8861.         16658.
 18770.4        11045.         17127.66666667  9277.
 13992.25       13613.5        12082.42857143 21412.33333333
  6896.83333333 14835.2         5973.8         9020.11111111
 24552.2         7886.         11111.         21141.375
  9966.66666667 11355.8         7594.5        16336.85714286
 10749.77777778  6903.66666667 14962.66666667  9201.8
  8336.5        41267.         14278.         12010.6
  8928.         15619.33333333  8465.71428571  4916.33333333
 10423.4        11876.66666667 12709.25       12674.2
 10040.85714286 12247.875      13105.85714286  7219.2
 13632.88888889 15440.5         9440.91666667 11609.83333333
 11884.33333333 10931.77777778 10039.          8112.
  7099.53846154 26336.125       9010.5        10818.
 11224.54545455 14375.18181818 14126.09090909 14174.22222222
 10704.42857143 10426.88888889 14725.         13907.15151515
 19702.88235294  9814.3        10139.84615385  8715.25
 12544.75       10843.55555556 10469.86666667 11353.77777778
  7562.28571429  8209.75        8786.2        17146.44444444
  7223.         12200.28571429  7777.83333333 18368.45454545
  9976.33333333 21891.5        13228.76923077  8991.25
  9129.71428571 10357.66666667 12315.         18908.81632653
  9706.66666667 10922.85714286 13404.53333333 10458.5
 13339.30769231 10576.14285714 14779.         13908.33333333
 14760.6875     11141.13333333 15919.         10814.375
  8018.5        16624.7         5426.25       12460.88888889
 10622.88888889  8123.5        12912.         13053.5
  9598.27272727 13223.625      15105.          8141.
 11736.54545455  9057.1         9474.         14781.5
  4024.         17207.6         9974.33333333  5832.42857143
 11297.          9768.63636364 12099.1         9803.
 16393.5         9274.46153846  9281.          6861.2
 12016.33333333  7554.75       10851.09090909 15379.14285714
  8622.2         4018.16666667  7539.33333333  7667.72727273
  9779.5625      6393.6         7009.          6429.33333333
 10520.23529412  8852.         10175.76923077 11040.66666667
 13030.         11464.         13246.16666667 11526.4
 13316.2        11012.58333333 15486.         17832.86956522
 19748.95       13308.61538462 13213.53333333 15142.
  8152.83333333  7642.          7689.8        10971.83333333
 10901.66666667 13278.66666667  8074.42857143 10484.33333333
 12860.0625     12882.55555556 21658.66666667 32368.25
 15790.13333333 13225.25       13051.57142857  9013.81818182
 21175.         15006.5        18011.38461538 16676.13333333
 13029.4        14085.42857143 13199.81818182 15846.76923077
 20800.2        13035.          9936.88888889 11040.28571429
 10120.         10188.55555556 15254.8        14903.27272727
 10908.31578947 14596.125      11725.30769231 10356.125
 11066.85714286 22035.         13343.4        14081.2
 12079.5        16340.88888889 13439.83333333 10836.18181818
 14976.         13018.66666667 24573.71428571 13163.08333333
 14206.28571429 10040.11111111 14304.18181818 15600.39130435
 17418.55102041 13029.2        12415.57142857 10794.75
 12865.91666667  8040.2         6176.71428571  8797.6
 12161.3        14195.28571429 17575.27272727  6959.
 18250.25       19289.         22092.02702703 14976.05882353
 12868.65625    16334.9047619  18286.35       14365.15789474
  8098.5        11163.53846154 10478.63636364 12777.2
 18272.33333333 14436.66666667 12097.4        15767.94444444
 15100.         14989.4         8193.2        18215.25
  8050.5        11507.57142857  8392.         15134.8
  9073.33333333 11944.         18061.4        23200.5
  5757.33333333 11593.3         9311.88888889  9722.6
 11428.35714286 21899.58333333 17334.625      12758.2
  8586.6        14437.66666667 10680.          8909.44444444
  4112.          7195.5        15257.          9173.28571429
 13216.14285714 14833.83333333 17307.45454545 14628.06666667
 14474.61538462 20515.41176471 18967.27027027 12084.58333333
 18015.05263158  6612.         14576.2         7884.5
  7359.8         8142.75        5008.5         7361.1
  9753.375      10832.375       6580.          7603.83333333
  9311.42857143  6401.4        10320.28571429 14410.46153846
 17282.76470588]

In [19]:
# Explore input data for NA and special values
# dataExplore(data)
dataExplore(data_pred_query)
# data_pred_query.head()

# of observations:  525
# of uu_id: 525
# of week_number: 1

In [20]:
# Explore input data for NA and special values
# dataExplore(data)
# dataExplore(data_pred_query)
data_pred_query.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [21]:
# Explore input data for NA and special values
dataExplore(data)
# dataExplore(data_pred_query)
# data_pred_query.head()

# of observations:  16833
# of uu_id: 525
# of timeperiod: 35
# of week_number: 35
# of countyfips: 60
# of tract: 425
# of tract_name: 525
Unique value of total_claims: <IntegerArray>
[ 22, 111,  39,  14, 155,  24,  19,  20,  12,  50,
 ...
 135,  95, 105, 117, 118,  93, 137, 146, 120, 110]
Length: 120, dtype: Int64
Unique value of edu_8th_or_less: <IntegerArray>
[0, <NA>, 18, 14, 10, 19, 24, 17, 28, 16, 41, 12, 33, 21, 13, 26, 11, 37]
Length: 18, dtype: Int64
Unique value of edu_grades_9_11: <IntegerArray>
[<NA>,    0,   19,   11,   12,   10,   13,   35,   18,   14,   21,   25,   16,
   17,   37,   42,   20,   15,   26,   22,   29,   47,   33,   28,   40,   27,
   43,   24,   39,   23,   44,   36,   30,   31,   32,   41,   51,   38,   57,
   78]
Length: 40, dtype: Int64
Unique value of edu_hs_grad_equiv: <IntegerArray>
[  14,  108, <NA>,   69,   15,   10,   13,   21,   50,   44,   30,    0,   11,
   17,   18,   45,   62,   37,   12,   42,   31,   16,   41,   20,   24,   27,
   23,   65,   97,   19,   35,   39,   51,   26,   25,   22,   36,   38,   28,
   78,   32,   29,   52,   33,   34,   55,   49,   59,   66,   43,   61,   86,
   57,   46,   54,   48,   56,   60,   47,   58,   70,   53,   63,  111,   40,
   75,   73,  126,   83,   94,   87,   89,   80,   92,   67,   71,   74,  120,
  101,   79,  137,   77,   84,   82,   68,   64,   88,   72,  122,  112,   76,
  110,   81,  113,   98]
Length: 95, dtype: Int64
Unique value of edu_post_hs: <IntegerArray>
[<NA>,   83,   16,   10,   13,   12,    0,   15,   11,   21,   27,   19,   23,
   14,   34,   22,   51,   20,   18,   45,   25,   54,   32,   17,   87,   49,
   26,   29,   57,   43,   77,   38,   73,   24,   31,   28,   70,   41,   44,
  154,   36,   56,   30,   59,   33,   39,   42,   37,   47,   53,   46,   55,
   40,   35,   50,   75,   48,   52,   65,   82,   72,   58,   67,   92,   79,
   69,   64,   60]
Length: 68, dtype: Int64
Unique value of edu_unknown: <IntegerArray>
[   0, <NA>,   18,   13,   14,   11,   15,   12,   21,   35,   10,   20,   31,
   48,   26,   29,   46,   16,   17,   28,   27,   19,   36,   60,   24,   22]
Length: 26, dtype: Int64
Unique value of top_category_employer1: ['31-33' '48-49' '56' '72' '23' '54' '61' '11' '62' '44-45' '81' '52' '42'
 '71' '92' '51' '53' '55' '21' '99' '22']
Unique value of top_category_employer2: ['51' 'N/A' '22' '11' '21' '99' '23' '42' '52' '53' '54' '55' '56' '61'
 '62' '71' '72' '81' '92' '31-33' '44-45' '48-49']
Unique value of top_category_employer3: ['62' '56' 'N/A' '44-45' '31-33' '72' '48-49' '23' '52' '92' '42' '81'
 '54' '71' '55' '21' '99' '61' '51' '53' '22' '11']
Unique value of gender_female: <IntegerArray>
[<NA>,   76,   90,   14,   11,   29,   20,   16,   39,   10,    0,   27,   52,
   25,   17,   12,   13,   34,   23,   28,   26,   22,   65,   46,   19,   15,
   58,   18,   31,   21,   40,   43,   32,   61,   62,   81,   24,   44,   30,
   38,   42,   33,   41,   36,   37,   59,   74,   55,   54,   35,   83,   47,
   48,   82,   95,   49,   84,   57,   72,   53,   45,  119,   60,   71,   86,
   68,   50,   64,   80,   75,   67,  112,   69,   51,   56,   77,   66,  126,
  103,   96,   73]
Length: 81, dtype: Int64
Unique value of gender_male: <IntegerArray>
[<NA>,   35,   65,   10,   39,   46,   34,    0,   17,   13,   15,   12,   32,
   22,   11,   52,   30,   21,   37,   14,   18,   19,   72,   44,   16,   26,
   77,   23,   90,   67,   31,   41,   49,   24,   25,   28,   36,   64,   27,
   73,   53,   29,   20,   42,   48,   45,   84,   47,   56,   43,   50,   59,
   55,   80,   40,   33,   74,   57,   86,   78,   91,   38,   58,   83,  139,
   62,   61,   51,  127,   70,   82,   54,   71,   85,   79,   69,   63,  123,
   81,   66]
Length: 80, dtype: Int64
Unique value of gender_na: <IntegerArray>
[0, <NA>, 12, 27, 49]
Length: 5, dtype: Int64
Unique value of race_amerindian: <IntegerArray>
[0, <NA>, 13, 14, 36, 11, 26, 10, 17]
Length: 9, dtype: Int64
Unique value of race_asian: <IntegerArray>
[0, <NA>, 26, 13, 21, 10, 19, 20, 24, 12, 41, 11]
Length: 12, dtype: Int64
Unique value of race_black: <IntegerArray>
[  11, <NA>,   39,   10,  135,    0,   16,   21,   17,   18,   20,   23,   47,
   22,   34,   85,   81,   52,   14,   61,   31,   12,   13,   19,   48,   57,
   50,   45,   24,   27,   84,   59,   26,   36,   38,   25,   15,   60,   89,
   37,   42,   28,   29,   51,   54,   43,   66,   35,   40,   46,   33,   64,
   78,   41,   62,   32,   90,   30,   58,   67,  163,   53,   76,   55,   77,
   99,   87,   49,   75,  101,   92,   73,   56,   72,  138,   63,   65,  109,
   97,   71,   68,   91,   44,   79,  128,   80,   88,   70,   82,   74,  140,
   83,   86,   93,   69,  142,   96,  117]
Length: 98, dtype: Int64
Unique value of race_noanswer: <IntegerArray>
[   0, <NA>,   28,   13,   12,   23,   46,   11,   19,   25,   16,   15,   31,
   24,   22,   20,   29,   14,   17,   26,   10,   34,   37,   76,   35,   38,
   40,   39,   30,   55,  110]
Length: 31, dtype: Int64
Unique value of race_hawaiiannative: <IntegerArray>
[0, <NA>]
Length: 2, dtype: Int64
Unique value of race_other: <IntegerArray>
[<NA>,    0,   14,   24,   13,   10,   22,   38,   15,   43,   12,   17,   23,
   18,   27,   16,   25,   19,   26,   20,   33,   30,   34,   74,   46,   11,
   31,   32,   21,   29,   36,   68,   28,   60]
Length: 34, dtype: Int64
Unique value of race_white: <IntegerArray>
[<NA>,    0,   12,   14,   71,   61,   44,   23,   15,   10,   33,   11,   17,
   13,   19,   55,   18,   16,   29,   72,   47,   25,   22,   35,   28,   50,
   27,   26,   20,   32,   24,   34,   21,   45,   38,   30,   52,   39,   40,
  103,   83,   41,   37,   36,   42,   49,   66,   69,   31,  155,   65,   53,
   46,   67,   73,   63,   43,   70,   60,   51,   64,   57,   89,   81,   54,
   68,   48,  110,   76,   56,   74,   92,   97,   62,   94,   77]
Length: 76, dtype: Int64
Unique value of average_wage: [ 8347.125       7036.63636364  7890.14285714  7534.375
 11825.125       4607.33333333 11288.25       17538.8
 15685.13333333 17452.          6195.14285714 17467.53846154
 17906.0952381  17766.         24255.25       16334.5
 14842.04347826 17617.23076923 12794.09090909  7691.375
 11044.9        14063.66666667 12955.64814815 13500.13793103
  5047.75        8931.66666667  8230.22222222  9687.35714286
 11917.375      15117.7         8629.07692308  8939.66666667
  5918.875       9982.94117647  6372.          7308.
 10372.83333333 10808.4        14503.83333333 13185.5
 11736.375      11140.33333333 13467.125      14739.35294118
 17909.36363636 11465.71428571  3992.5        10756.125
 11862.42857143 13333.23333333 13345.96428571 10415.54545455
 16904.9         8660.2        15159.72727273  8810.88888889
  9151.          9240.8        11283.22222222 12255.76923077
  6661.66666667 20252.921875   21923.         14894.52380952
 12294.4         8671.          7568.         17141.41666667
 12740.125      10000.94117647  9523.6         9514.75
 15542.57142857 13541.83333333 13348.78947368  9727.85714286
  8708.28571429 14623.27272727 14781.         21521.
 14125.32       10758.33333333 14508.          8901.4
  7213.5         8219.57142857 10198.          5365.8
 10153.14285714  8841.125       9883.25       14189.
 10254.9         7074.28571429  8295.16666667  7661.55555556
  9136.2         8687.75        5237.91666667 10065.22222222
  8182.25        9726.875      11529.28571429  6885.
  7106.85714286  7807.25       10280.44444444  8056.33333333
  8583.875       9478.58333333  6588.         12068.57142857
 11072.72727273  7090.61538462  8550.71428571 13002.14285714
 18145.28571429  9916.72727273 11392.2         7746.33333333
  8341.625      17697.22222222 10784.18181818 11857.42857143
  8190.          9908.3125     11379.4         9502.6
 12219.5         7381.2        17279.16666667 12497.
 13643.75       11919.88888889  6520.90909091  8391.8
  6663.71428571 11174.33333333 14218.75       11816.66666667
 13895.33333333 16392.83870968  9019.66666667 12307.71428571
 11501.90909091 26388.66666667  6248.         11831.28571429
 12577.42857143 14797.         10147.         20625.5
  6201.33333333 15658.26923077  8485.85714286 19334.74193548
  4433.5         8653.28571429 14241.72727273 13171.91666667
  8659.57142857  5899.75        9891.25       12655.
  6780.         11327.625       8472.          7977.42857143
 21129.16666667  8369.         13250.         10030.625
 13156.11111111 17968.61290323 18390.42857143 10188.5
 14287.14285714  5184.75        5080.9375      8564.33333333
  7061.2         7098.125      11397.66666667 19350.16666667
  8125.33333333  8942.         11404.75        9386.
  8687.          9925.71428571  9960.25       16923.14285714
  9967.2         6953.88235294  7837.3         9464.16666667
 10445.         10352.         11132.16666667 10087.42857143
 11424.125       7187.57142857  6736.18181818 11133.58823529
  6392.30769231  4637.375      15455.33333333  6241.77777778
 17926.83333333 13854.75        8431.125      11266.33333333
  7067.30769231 12513.5         9948.06666667 11044.875
 13343.2173913  11896.5        14344.          6781.4
 11891.875      10889.66666667 10846.66666667  5554.
  8645.83333333  8306.          7269.          8857.15
  8807.16666667 10857.66666667 14246.66666667 11789.875
  9491.         17754.8        10133.5        13119.
 14975.4        23880.          8861.         16658.
 18770.4        11045.         17127.66666667  9277.
 13992.25       13613.5        12082.42857143 21412.33333333
  6896.83333333 14835.2         5973.8         9020.11111111
 24552.2         7886.         11111.         21141.375
  9966.66666667 11355.8         7594.5        16336.85714286
 10749.77777778  6903.66666667 14962.66666667  9201.8
  8336.5        41267.         14278.         12010.6
  8928.         15619.33333333  8465.71428571  4916.33333333
 10423.4        11876.66666667 12709.25       12674.2
 10040.85714286 12247.875      13105.85714286  7219.2
 13632.88888889 15440.5         9440.91666667 11609.83333333
 11884.33333333 10931.77777778 10039.          8112.
  7099.53846154 26336.125       9010.5        10818.
 11224.54545455 14375.18181818 14126.09090909 14174.22222222
 10704.42857143 10426.88888889 14725.         13907.15151515
 19702.88235294  9814.3        10139.84615385  8715.25
 12544.75       10843.55555556 10469.86666667 11353.77777778
  7562.28571429  8209.75        8786.2        17146.44444444
  7223.         12200.28571429  7777.83333333 18368.45454545
  9976.33333333 21891.5        13228.76923077  8991.25
  9129.71428571 10357.66666667 12315.         18908.81632653
  9706.66666667 10922.85714286 13404.53333333 10458.5
 13339.30769231 10576.14285714 14779.         13908.33333333
 14760.6875     11141.13333333 15919.         10814.375
  8018.5        16624.7         5426.25       12460.88888889
 10622.88888889  8123.5        12912.         13053.5
  9598.27272727 13223.625      15105.          8141.
 11736.54545455  9057.1         9474.         14781.5
  4024.         17207.6         9974.33333333  5832.42857143
 11297.          9768.63636364 12099.1         9803.
 16393.5         9274.46153846  9281.          6861.2
 12016.33333333  7554.75       10851.09090909 15379.14285714
  8622.2         4018.16666667  7539.33333333  7667.72727273
  9779.5625      6393.6         7009.          6429.33333333
 10520.23529412  8852.         10175.76923077 11040.66666667
 13030.         11464.         13246.16666667 11526.4
 13316.2        11012.58333333 15486.         17832.86956522
 19748.95       13308.61538462 13213.53333333 15142.
  8152.83333333  7642.          7689.8        10971.83333333
 10901.66666667 13278.66666667  8074.42857143 10484.33333333
 12860.0625     12882.55555556 21658.66666667 32368.25
 15790.13333333 13225.25       13051.57142857  9013.81818182
 21175.         15006.5        18011.38461538 16676.13333333
 13029.4        14085.42857143 13199.81818182 15846.76923077
 20800.2        13035.          9936.88888889 11040.28571429
 10120.         10188.55555556 15254.8        14903.27272727
 10908.31578947 14596.125      11725.30769231 10356.125
 11066.85714286 22035.         13343.4        14081.2
 12079.5        16340.88888889 13439.83333333 10836.18181818
 14976.         13018.66666667 24573.71428571 13163.08333333
 14206.28571429 10040.11111111 14304.18181818 15600.39130435
 17418.55102041 13029.2        12415.57142857 10794.75
 12865.91666667  8040.2         6176.71428571  8797.6
 12161.3        14195.28571429 17575.27272727  6959.
 18250.25       19289.         22092.02702703 14976.05882353
 12868.65625    16334.9047619  18286.35       14365.15789474
  8098.5        11163.53846154 10478.63636364 12777.2
 18272.33333333 14436.66666667 12097.4        15767.94444444
 15100.         14989.4         8193.2        18215.25
  8050.5        11507.57142857  8392.         15134.8
  9073.33333333 11944.         18061.4        23200.5
  5757.33333333 11593.3         9311.88888889  9722.6
 11428.35714286 21899.58333333 17334.625      12758.2
  8586.6        14437.66666667 10680.          8909.44444444
  4112.          7195.5        15257.          9173.28571429
 13216.14285714 14833.83333333 17307.45454545 14628.06666667
 14474.61538462 20515.41176471 18967.27027027 12084.58333333
 18015.05263158  6612.         14576.2         7884.5
  7359.8         8142.75        5008.5         7361.1
  9753.375      10832.375       6580.          7603.83333333
  9311.42857143  6401.4        10320.28571429 14410.46153846
 17282.76470588]

In [22]:
# Explore input data for NA and special values
# dataExplore(data)
# dataExplore(data_pred_query)
# data_pred_query.head()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white,average_wage
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,0,0,0,11,0,0,<NA>,<NA>,8347.125000
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,35,0,0,0,<NA>,<NA>,0,0,0,7036.636364
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,0,0,0,39,0,0,0,0,7890.142857
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>,7534.375000
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>,11825.125000

In [23]:
# Explore input data for NA and special values
dataExplore(data)
# dataExplore(data_pred_query)
# data_pred_query.head()
data.head()

# of observations:  16833
# of uu_id: 525
# of timeperiod: 35
# of week_number: 35
# of countyfips: 60
# of tract: 425
# of tract_name: 525
Unique value of total_claims: <IntegerArray>
[ 22, 111,  39,  14, 155,  24,  19,  20,  12,  50,
 ...
 135,  95, 105, 117, 118,  93, 137, 146, 120, 110]
Length: 120, dtype: Int64
Unique value of edu_8th_or_less: <IntegerArray>
[0, <NA>, 18, 14, 10, 19, 24, 17, 28, 16, 41, 12, 33, 21, 13, 26, 11, 37]
Length: 18, dtype: Int64
Unique value of edu_grades_9_11: <IntegerArray>
[<NA>,    0,   19,   11,   12,   10,   13,   35,   18,   14,   21,   25,   16,
   17,   37,   42,   20,   15,   26,   22,   29,   47,   33,   28,   40,   27,
   43,   24,   39,   23,   44,   36,   30,   31,   32,   41,   51,   38,   57,
   78]
Length: 40, dtype: Int64
Unique value of edu_hs_grad_equiv: <IntegerArray>
[  14,  108, <NA>,   69,   15,   10,   13,   21,   50,   44,   30,    0,   11,
   17,   18,   45,   62,   37,   12,   42,   31,   16,   41,   20,   24,   27,
   23,   65,   97,   19,   35,   39,   51,   26,   25,   22,   36,   38,   28,
   78,   32,   29,   52,   33,   34,   55,   49,   59,   66,   43,   61,   86,
   57,   46,   54,   48,   56,   60,   47,   58,   70,   53,   63,  111,   40,
   75,   73,  126,   83,   94,   87,   89,   80,   92,   67,   71,   74,  120,
  101,   79,  137,   77,   84,   82,   68,   64,   88,   72,  122,  112,   76,
  110,   81,  113,   98]
Length: 95, dtype: Int64
Unique value of edu_post_hs: <IntegerArray>
[<NA>,   83,   16,   10,   13,   12,    0,   15,   11,   21,   27,   19,   23,
   14,   34,   22,   51,   20,   18,   45,   25,   54,   32,   17,   87,   49,
   26,   29,   57,   43,   77,   38,   73,   24,   31,   28,   70,   41,   44,
  154,   36,   56,   30,   59,   33,   39,   42,   37,   47,   53,   46,   55,
   40,   35,   50,   75,   48,   52,   65,   82,   72,   58,   67,   92,   79,
   69,   64,   60]
Length: 68, dtype: Int64
Unique value of edu_unknown: <IntegerArray>
[   0, <NA>,   18,   13,   14,   11,   15,   12,   21,   35,   10,   20,   31,
   48,   26,   29,   46,   16,   17,   28,   27,   19,   36,   60,   24,   22]
Length: 26, dtype: Int64
Unique value of top_category_employer1: ['31-33' '48-49' '56' '72' '23' '54' '61' '11' '62' '44-45' '81' '52' '42'
 '71' '92' '51' '53' '55' '21' '99' '22']
Unique value of top_category_employer2: ['51' 'N/A' '22' '11' '21' '99' '23' '42' '52' '53' '54' '55' '56' '61'
 '62' '71' '72' '81' '92' '31-33' '44-45' '48-49']
Unique value of top_category_employer3: ['62' '56' 'N/A' '44-45' '31-33' '72' '48-49' '23' '52' '92' '42' '81'
 '54' '71' '55' '21' '99' '61' '51' '53' '22' '11']
Unique value of gender_female: <IntegerArray>
[<NA>,   76,   90,   14,   11,   29,   20,   16,   39,   10,    0,   27,   52,
   25,   17,   12,   13,   34,   23,   28,   26,   22,   65,   46,   19,   15,
   58,   18,   31,   21,   40,   43,   32,   61,   62,   81,   24,   44,   30,
   38,   42,   33,   41,   36,   37,   59,   74,   55,   54,   35,   83,   47,
   48,   82,   95,   49,   84,   57,   72,   53,   45,  119,   60,   71,   86,
   68,   50,   64,   80,   75,   67,  112,   69,   51,   56,   77,   66,  126,
  103,   96,   73]
Length: 81, dtype: Int64
Unique value of gender_male: <IntegerArray>
[<NA>,   35,   65,   10,   39,   46,   34,    0,   17,   13,   15,   12,   32,
   22,   11,   52,   30,   21,   37,   14,   18,   19,   72,   44,   16,   26,
   77,   23,   90,   67,   31,   41,   49,   24,   25,   28,   36,   64,   27,
   73,   53,   29,   20,   42,   48,   45,   84,   47,   56,   43,   50,   59,
   55,   80,   40,   33,   74,   57,   86,   78,   91,   38,   58,   83,  139,
   62,   61,   51,  127,   70,   82,   54,   71,   85,   79,   69,   63,  123,
   81,   66]
Length: 80, dtype: Int64
Unique value of gender_na: <IntegerArray>
[0, <NA>, 12, 27, 49]
Length: 5, dtype: Int64
Unique value of race_amerindian: <IntegerArray>
[0, <NA>, 13, 14, 36, 11, 26, 10, 17]
Length: 9, dtype: Int64
Unique value of race_asian: <IntegerArray>
[0, <NA>, 26, 13, 21, 10, 19, 20, 24, 12, 41, 11]
Length: 12, dtype: Int64
Unique value of race_black: <IntegerArray>
[  11, <NA>,   39,   10,  135,    0,   16,   21,   17,   18,   20,   23,   47,
   22,   34,   85,   81,   52,   14,   61,   31,   12,   13,   19,   48,   57,
   50,   45,   24,   27,   84,   59,   26,   36,   38,   25,   15,   60,   89,
   37,   42,   28,   29,   51,   54,   43,   66,   35,   40,   46,   33,   64,
   78,   41,   62,   32,   90,   30,   58,   67,  163,   53,   76,   55,   77,
   99,   87,   49,   75,  101,   92,   73,   56,   72,  138,   63,   65,  109,
   97,   71,   68,   91,   44,   79,  128,   80,   88,   70,   82,   74,  140,
   83,   86,   93,   69,  142,   96,  117]
Length: 98, dtype: Int64
Unique value of race_noanswer: <IntegerArray>
[   0, <NA>,   28,   13,   12,   23,   46,   11,   19,   25,   16,   15,   31,
   24,   22,   20,   29,   14,   17,   26,   10,   34,   37,   76,   35,   38,
   40,   39,   30,   55,  110]
Length: 31, dtype: Int64
Unique value of race_hawaiiannative: <IntegerArray>
[0, <NA>]
Length: 2, dtype: Int64
Unique value of race_other: <IntegerArray>
[<NA>,    0,   14,   24,   13,   10,   22,   38,   15,   43,   12,   17,   23,
   18,   27,   16,   25,   19,   26,   20,   33,   30,   34,   74,   46,   11,
   31,   32,   21,   29,   36,   68,   28,   60]
Length: 34, dtype: Int64
Unique value of race_white: <IntegerArray>
[<NA>,    0,   12,   14,   71,   61,   44,   23,   15,   10,   33,   11,   17,
   13,   19,   55,   18,   16,   29,   72,   47,   25,   22,   35,   28,   50,
   27,   26,   20,   32,   24,   34,   21,   45,   38,   30,   52,   39,   40,
  103,   83,   41,   37,   36,   42,   49,   66,   69,   31,  155,   65,   53,
   46,   67,   73,   63,   43,   70,   60,   51,   64,   57,   89,   81,   54,
   68,   48,  110,   76,   56,   74,   92,   97,   62,   94,   77]
Length: 76, dtype: Int64
Unique value of average_wage: [ 8347.125       7036.63636364  7890.14285714  7534.375
 11825.125       4607.33333333 11288.25       17538.8
 15685.13333333 17452.          6195.14285714 17467.53846154
 17906.0952381  17766.         24255.25       16334.5
 14842.04347826 17617.23076923 12794.09090909  7691.375
 11044.9        14063.66666667 12955.64814815 13500.13793103
  5047.75        8931.66666667  8230.22222222  9687.35714286
 11917.375      15117.7         8629.07692308  8939.66666667
  5918.875       9982.94117647  6372.          7308.
 10372.83333333 10808.4        14503.83333333 13185.5
 11736.375      11140.33333333 13467.125      14739.35294118
 17909.36363636 11465.71428571  3992.5        10756.125
 11862.42857143 13333.23333333 13345.96428571 10415.54545455
 16904.9         8660.2        15159.72727273  8810.88888889
  9151.          9240.8        11283.22222222 12255.76923077
  6661.66666667 20252.921875   21923.         14894.52380952
 12294.4         8671.          7568.         17141.41666667
 12740.125      10000.94117647  9523.6         9514.75
 15542.57142857 13541.83333333 13348.78947368  9727.85714286
  8708.28571429 14623.27272727 14781.         21521.
 14125.32       10758.33333333 14508.          8901.4
  7213.5         8219.57142857 10198.          5365.8
 10153.14285714  8841.125       9883.25       14189.
 10254.9         7074.28571429  8295.16666667  7661.55555556
  9136.2         8687.75        5237.91666667 10065.22222222
  8182.25        9726.875      11529.28571429  6885.
  7106.85714286  7807.25       10280.44444444  8056.33333333
  8583.875       9478.58333333  6588.         12068.57142857
 11072.72727273  7090.61538462  8550.71428571 13002.14285714
 18145.28571429  9916.72727273 11392.2         7746.33333333
  8341.625      17697.22222222 10784.18181818 11857.42857143
  8190.          9908.3125     11379.4         9502.6
 12219.5         7381.2        17279.16666667 12497.
 13643.75       11919.88888889  6520.90909091  8391.8
  6663.71428571 11174.33333333 14218.75       11816.66666667
 13895.33333333 16392.83870968  9019.66666667 12307.71428571
 11501.90909091 26388.66666667  6248.         11831.28571429
 12577.42857143 14797.         10147.         20625.5
  6201.33333333 15658.26923077  8485.85714286 19334.74193548
  4433.5         8653.28571429 14241.72727273 13171.91666667
  8659.57142857  5899.75        9891.25       12655.
  6780.         11327.625       8472.          7977.42857143
 21129.16666667  8369.         13250.         10030.625
 13156.11111111 17968.61290323 18390.42857143 10188.5
 14287.14285714  5184.75        5080.9375      8564.33333333
  7061.2         7098.125      11397.66666667 19350.16666667
  8125.33333333  8942.         11404.75        9386.
  8687.          9925.71428571  9960.25       16923.14285714
  9967.2         6953.88235294  7837.3         9464.16666667
 10445.         10352.         11132.16666667 10087.42857143
 11424.125       7187.57142857  6736.18181818 11133.58823529
  6392.30769231  4637.375      15455.33333333  6241.77777778
 17926.83333333 13854.75        8431.125      11266.33333333
  7067.30769231 12513.5         9948.06666667 11044.875
 13343.2173913  11896.5        14344.          6781.4
 11891.875      10889.66666667 10846.66666667  5554.
  8645.83333333  8306.          7269.          8857.15
  8807.16666667 10857.66666667 14246.66666667 11789.875
  9491.         17754.8        10133.5        13119.
 14975.4        23880.          8861.         16658.
 18770.4        11045.         17127.66666667  9277.
 13992.25       13613.5        12082.42857143 21412.33333333
  6896.83333333 14835.2         5973.8         9020.11111111
 24552.2         7886.         11111.         21141.375
  9966.66666667 11355.8         7594.5        16336.85714286
 10749.77777778  6903.66666667 14962.66666667  9201.8
  8336.5        41267.         14278.         12010.6
  8928.         15619.33333333  8465.71428571  4916.33333333
 10423.4        11876.66666667 12709.25       12674.2
 10040.85714286 12247.875      13105.85714286  7219.2
 13632.88888889 15440.5         9440.91666667 11609.83333333
 11884.33333333 10931.77777778 10039.          8112.
  7099.53846154 26336.125       9010.5        10818.
 11224.54545455 14375.18181818 14126.09090909 14174.22222222
 10704.42857143 10426.88888889 14725.         13907.15151515
 19702.88235294  9814.3        10139.84615385  8715.25
 12544.75       10843.55555556 10469.86666667 11353.77777778
  7562.28571429  8209.75        8786.2        17146.44444444
  7223.         12200.28571429  7777.83333333 18368.45454545
  9976.33333333 21891.5        13228.76923077  8991.25
  9129.71428571 10357.66666667 12315.         18908.81632653
  9706.66666667 10922.85714286 13404.53333333 10458.5
 13339.30769231 10576.14285714 14779.         13908.33333333
 14760.6875     11141.13333333 15919.         10814.375
  8018.5        16624.7         5426.25       12460.88888889
 10622.88888889  8123.5        12912.         13053.5
  9598.27272727 13223.625      15105.          8141.
 11736.54545455  9057.1         9474.         14781.5
  4024.         17207.6         9974.33333333  5832.42857143
 11297.          9768.63636364 12099.1         9803.
 16393.5         9274.46153846  9281.          6861.2
 12016.33333333  7554.75       10851.09090909 15379.14285714
  8622.2         4018.16666667  7539.33333333  7667.72727273
  9779.5625      6393.6         7009.          6429.33333333
 10520.23529412  8852.         10175.76923077 11040.66666667
 13030.         11464.         13246.16666667 11526.4
 13316.2        11012.58333333 15486.         17832.86956522
 19748.95       13308.61538462 13213.53333333 15142.
  8152.83333333  7642.          7689.8        10971.83333333
 10901.66666667 13278.66666667  8074.42857143 10484.33333333
 12860.0625     12882.55555556 21658.66666667 32368.25
 15790.13333333 13225.25       13051.57142857  9013.81818182
 21175.         15006.5        18011.38461538 16676.13333333
 13029.4        14085.42857143 13199.81818182 15846.76923077
 20800.2        13035.          9936.88888889 11040.28571429
 10120.         10188.55555556 15254.8        14903.27272727
 10908.31578947 14596.125      11725.30769231 10356.125
 11066.85714286 22035.         13343.4        14081.2
 12079.5        16340.88888889 13439.83333333 10836.18181818
 14976.         13018.66666667 24573.71428571 13163.08333333
 14206.28571429 10040.11111111 14304.18181818 15600.39130435
 17418.55102041 13029.2        12415.57142857 10794.75
 12865.91666667  8040.2         6176.71428571  8797.6
 12161.3        14195.28571429 17575.27272727  6959.
 18250.25       19289.         22092.02702703 14976.05882353
 12868.65625    16334.9047619  18286.35       14365.15789474
  8098.5        11163.53846154 10478.63636364 12777.2
 18272.33333333 14436.66666667 12097.4        15767.94444444
 15100.         14989.4         8193.2        18215.25
  8050.5        11507.57142857  8392.         15134.8
  9073.33333333 11944.         18061.4        23200.5
  5757.33333333 11593.3         9311.88888889  9722.6
 11428.35714286 21899.58333333 17334.625      12758.2
  8586.6        14437.66666667 10680.          8909.44444444
  4112.          7195.5        15257.          9173.28571429
 13216.14285714 14833.83333333 17307.45454545 14628.06666667
 14474.61538462 20515.41176471 18967.27027027 12084.58333333
 18015.05263158  6612.         14576.2         7884.5
  7359.8         8142.75        5008.5         7361.1
  9753.375      10832.375       6580.          7603.83333333
  9311.42857143  6401.4        10320.28571429 14410.46153846
 17282.76470588]

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white,average_wage
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,0,0,0,11,0,0,<NA>,<NA>,8347.125000
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,35,0,0,0,<NA>,<NA>,0,0,0,7036.636364
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,0,0,0,39,0,0,0,0,7890.142857
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>,7534.375000
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>,11825.125000

In [24]:
# Explore input data for NA and special values
# dataExplore(data)
# dataExplore(data_pred_query)
# data_pred_query.head()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white,average_wage
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,0,0,0,11,0,0,<NA>,<NA>,8347.125000
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,35,0,0,0,<NA>,<NA>,0,0,0,7036.636364
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,0,0,0,39,0,0,0,0,7890.142857
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>,7534.375000
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>,11825.125000

In [25]:
get_ipython().run_cell_magic('capture', '', "\n#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED\n#------------------------------------------\n# This is normally not required. The hub environment comes preinstaled with \n# many packages that you can already use without setup. In case there is some\n# other library you would like to use that isn't on the list you run this command\n# once to install them.  If it is already installed this command has no effect.\n!pip install db-dtypes\n!python3 -m pip install pandas\n!pip install pmdarima\n!pip install plotly==5.11.0\n!pip install hts_reconciliation\n")

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [26]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima
import reconciliation_hts

ModuleNotFoundError: No module named 'reconciliation_hts'

In [27]:
%%capture

UsageError: %%capture is a cell magic, but the cell body is empty.

In [28]:
#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED
#------------------------------------------
# This is normally not required. The hub environment comes preinstaled with 
# many packages that you can already use without setup. In case there is some
# other library you would like to use that isn't on the list you run this command
# once to install them.  If it is already installed this command has no effect.
get_ipython().system('pip install db-dtypes')
get_ipython().system('python3 -m pip install pandas')
get_ipython().system('pip install pmdarima')
get_ipython().system('pip install plotly==5.11.0')
get_ipython().system('pip install hts_reconciliation')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: pmdarima in /opt/anaconda3/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (0.29.24)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.26.7)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.7.1)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (58.0.4)
Requirement already satisfied: scikit-learn>=0.22 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.2.2)
Requirement already satisfied: statsmodels>=0.13.2 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (0.13.5)
Requirement already satisfied: numpy>=1.21.2 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.22.4)
Requirement already satisfied: pandas>=0.19 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.19->pmdarima) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.19->pmdarima) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.19->pmdarima) (1.16.0)

Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.22->pmdarima) (2.2.0)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.13.2->pmdarima) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.13.2->pmdarima) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels>=0.13.2->pmdarima) (3.0.4)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: plotly==5.11.0 in /opt/anaconda3/lib/python3.9/site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from plotly==5.11.0) (8.1.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

ERROR: Could not find a version that satisfies the requirement hts_reconciliation (from versions: none)
ERROR: No matching distribution found for hts_reconciliation
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [29]:
%%capture

UsageError: %%capture is a cell magic, but the cell body is empty.

In [30]:
#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED
#------------------------------------------
# This is normally not required. The hub environment comes preinstaled with 
# many packages that you can already use without setup. In case there is some
# other library you would like to use that isn't on the list you run this command
# once to install them.  If it is already installed this command has no effect.
get_ipython().system('pip install db-dtypes')
get_ipython().system('python3 -m pip install pandas')
get_ipython().system('pip install pmdarima')
get_ipython().system('pip install plotly==5.11.0')
get_ipython().system('pip install scikit-hts[auto-arima]')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.20.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: pmdarima in /opt/anaconda3/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.21.2 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.22.4)
Requirement already satisfied: statsmodels>=0.13.2 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (0.13.5)
Requirement already satisfied: pandas>=0.19 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.5.3)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.2.0)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.26.7)
Requirement already satisfied: scikit-learn>=0.22 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.2.2)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (0.29.24)
Requirement already satisfied: scipy>=1.3.2 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (1.7.1)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima) (58.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.19->pmdarima) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.19->pmdarima) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.19->pmdarima) (1.16.0)

Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.22->pmdarima) (2.2.0)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.13.2->pmdarima) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.13.2->pmdarima) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels>=0.13.2->pmdarima) (3.0.4)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: plotly==5.11.0 in /opt/anaconda3/lib/python3.9/site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from plotly==5.11.0) (8.1.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

zsh:1: no matches found: scikit-hts[auto-arima]

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [31]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima
import hts
from hts.hierarchy import HierarchyTree
from hts.model import AutoArimaModel
from hts import HTSRegressor

ModuleNotFoundError: No module named 'hts'

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [32]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima
import hts

ModuleNotFoundError: No module named 'hts'

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [33]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [34]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima
from hts.hierarchy import HierarchyTree
from hts.model import AutoArimaModel
from hts import HTSRegressor

ModuleNotFoundError: No module named 'hts'

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [35]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima
from collections.abc import Iterable
import hts
from hts.hierarchy import HierarchyTree
from hts.model import AutoArimaModel
from hts import HTSRegressor

ModuleNotFoundError: No module named 'hts'

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [36]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima
from collections.abc import Iterable

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [37]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import statsmodels.api as sm
import math
import plotly.express as px
from pmdarima.arima import auto_arima
from collections.abc import Iterable
import hts

ModuleNotFoundError: No module named 'hts'