In [1]:
data[data["top_category_employer1"]]

NameError: name 'data' is not defined

In [2]:
get_ipython().system('pip install db-dtypes')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [3]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [4]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [5]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [6]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [8]:
data[data["top_category_employer1"]]

KeyError: "None of [Index(['31-33', '48-49', '56', '56', '72', '31-33', '31-33', '56', '23', '23',\n       ...\n       '56', '42', '44-45', '52', '52', '56', '56', '56', '23', '23'],\n      dtype='object', length=16833)] are in the [columns]"

In [9]:
data["top_category_employer1"]

0        31-33
1        48-49
2           56
3           56
4           72
         ...
16828       56
16829       56
16830       56
16831       23
16832       23
Name: top_category_employer1, Length: 16833, dtype: object

In [10]:
data[["top_category_employer1"]]

      top_category_employer1
0                      31-33
1                      48-49
2                         56
3                         56
4                         72
...                      ...
16828                     56
16829                     56
16830                     56
16831                     23
16832                     23

[16833 rows x 1 columns]

In [11]:
data["top_category_employer1"].value_counts()

31-33    4810
23       3160
56       2836
62       1667
44-45    1105
72       1087
48-49     622
54        334
52        302
42        244
81        195
61        138
55         70
53         69
71         65
51         59
92         48
11          7
22          6
21          5
99          4
Name: top_category_employer1, dtype: int64