In [1]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

NameError: name 'bigquery' is not defined

In [2]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = BIGQUERY.Client(project=BIGQUERY_PROJECT)

NameError: name 'BIGQUERY' is not defined

In [3]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [4]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [5]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [6]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
covid19_cases_data.head()

   week_number  start_date  county   fips  cases  deaths
0            9  2021-03-01  Marion  18097    664      23
1           12  2021-03-22  Marion  18097    623      11
2           19  2021-05-10  Marion  18097   1156       4
3           11  2021-03-15  Marion  18097    560      13
4            6  2021-02-08  Marion  18097   1542     219

In [7]:
print("Columns:")
print('\n'.join(covid19_cases_data.columns))
print("\nResults:")
print(covid19_cases_data.head())

Columns:
week_number
start_date
county
fips
cases
deaths

Results:
   week_number  start_date  county   fips  cases  deaths
0            9  2021-03-01  Marion  18097    664      23
1           12  2021-03-22  Marion  18097    623      11
2           19  2021-05-10  Marion  18097   1156       4
3           11  2021-03-15  Marion  18097    560      13
4            6  2021-02-08  Marion  18097   1542     219

In [8]:
query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [9]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [10]:
print(covid19_cases_data)

   f0_
0   46

In [11]:
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`

SyntaxError: invalid syntax (2857140902.py, line 1)

In [12]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
***

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data` 
"""

query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
wage_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list` 
"""

query_job = bigquery_client.query(query)
prediction_data = query_job.to_dataframe()
prediction_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_data` 
"""

query_job = bigquery_client.query(query)
prediction_data = query_job.to_dataframe()
prediction_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list` 
"""

query_job = bigquery_client.query(query)
prediction_data = query_job.to_dataframe()
prediction_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = '19'
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = "19"
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = 19
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = 39
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = 38
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data` 
"""

query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
wage_data.head()

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = 38
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = 30
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE week_number = 30
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE total claims > 10
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`

SyntaxError: invalid syntax (3183256747.py, line 7)

In [13]:
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE MAX(total_claims)
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE total_claims > 10
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name, total_claims
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, tract_name, total_claims
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, total_claims
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, total_claims
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY total_claims
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY uu_id
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, tract_name, MAX(SUM(total_claims))
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY uu_id
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, tract_name, SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY uu_id
ORDER BY SUM(total_claims) DESC
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, SUM(tract_name), SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY uu_id
ORDER BY SUM(total_claims) DESC
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY uu_id
ORDER BY SUM(total_claims) DESC
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT uu_id, SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY uu_id
ORDER BY SUM(total_claims) DESC
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

print(unemployment_data)

#query = """
#SELECT uu_id, SUM(total_claims)
#FROM `ironhacks-data.ironhacks_competition.unemployment_data`
#GROUP BY uu_id
#ORDER BY SUM(total_claims) DESC
#LIMIT 10
#"""

SyntaxError: invalid syntax (3445760792.py, line 1)

In [14]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

   f0_
0   46

In [15]:
query = """
SELECT * 
FROM `ironhacks-data.ironhacks_competition.INFORMATION_SCHEMA.TABLES`
"
query_job = bigquery_client.query(query)
prediction_data = query_job.to_dataframe()
prediction_data.head()

query = """
SELECT * 
FROM `ironhacks-data.ironhacks_competition.INFORMATION_SCHEMA.TABLES`
"""
query_job = bigquery_client.query(query)
prediction_data = query_job.to_dataframe()
prediction_data.head()

query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.unemployment.data`
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.unemployment_data`
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT
FROM `ironhacks-data.ironhacks_training.unemployment_data`
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.unemployment_data`
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, week_number, SUM(total_claims), edu_8th_or_less
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY week_number
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, week_number, SUM(total_claims), edu_8th_or_less
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract name, week_number
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, week_number, SUM(total_claims), edu_8th_or_less
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name, week_number
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, week_number, SUM(total_claims)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name, week_number
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, week_number, SUM(total_claims) AS sum_total_claims
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name, week_number
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, week_number, SUM(total_claims) AS sum_total_claims
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name, week_number
ORDER BY sum_total_claims DESC
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT tract_name, week_number, SUM(total_claims) AS sum_total_claims
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
GROUP BY tract_name, week_number
ORDER BY sum_total_claims DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

print("Columns:")
print('\n'.join(wage_data.columns))
print("\nResults:")
print(wage_data.head())

query = """
SELECT e.tract_name, e.week_number, e.SUM(total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.unemployment_data` as w
ON e.uu_id=w.uu_id
GROUP BY tract_name, week_number
ORDER BY sum_total_claims DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, e.week_number, SUM(total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.unemployment_data` as w
ON e.uu_id=w.uu_id
GROUP BY tract_name, week_number
ORDER BY sum_total_claims DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, e.week_number, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.unemployment_data` as w
ON e.uu_id=w.uu_id
GROUP BY tract_name, week_number
ORDER BY sum_total_claims DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, e.week_number, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage` as w
ON e.uu_id=w.uu_id
GROUP BY tract_name, week_number
ORDER BY sum_total_claims DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, e.week_number, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY tract_name, week_number
ORDER BY sum_total_claims DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, e.week_number, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, e.week_number, w.average_wage
ORDER BY sum_total_claims DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, e.week_number, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, e.week_number, w.average_wage
ORDER BY sum_total_claims DESC
    AND average_wage DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, e.week_number, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, e.week_number, w.average_wage
ORDER BY average_wage DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, w.average_wage
ORDER BY average_wage DESC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, w.average_wage
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, w.average_wage
WHERE average_wage IS NOT NULL
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, w.average_wage

SyntaxError: invalid syntax (1401864268.py, line 10)

In [16]:
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, w.average_wage
WHERE average_wage IS NOT NaN
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, w.average_wage
WHERE average_wage IS NOT 'NaN'
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
GROUP BY e.tract_name, w.average_wage
WHERE average_wage IS NOT "NaN"
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
WHERE average_wage IS NOT "NaN"
GROUP BY e.tract_name, w.average_wage
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
WHERE average_wage IS NOT NULL
GROUP BY e.tract_name, w.average_wage
ORDER BY average_wage ASC
LIMIT 100
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
WHERE average_wage IS NOT NULL
GROUP BY e.tract_name, w.average_wage
ORDER BY average_wage ASC
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

query = """
SELECT e.tract_name, SUM(e.total_claims) AS sum_total_claims, w.average_wage
FROM `ironhacks-data.ironhacks_competition.unemployment_data` as e
JOIN 
`ironhacks-data.ironhacks_competition.wage_data` as w
ON e.uu_id=w.uu_id
WHERE average_wage IS NOT NULL
GROUP BY e.tract_name, w.average_wage
ORDER BY average_wage DESC
LIMIT 10
"""

query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()
print(unemployment_data)

Clear All Outputs

SyntaxError: invalid syntax (781848302.py, line 1)