In [1]:
get_ipython().system('pip install db-dtypes')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [2]:
import pandas as pd
import numpy as np
from google.cloud import bigquery

In [3]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [4]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE uu_id='e201385d37b5f6eea30f6d6d4106dc6f'
"""

In [5]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()

In [6]:
unemployment_data.shape

(0, 25)

In [7]:
unemployment_data.sort_values(['week_number'])

Empty DataFrame
Columns: [uu_id, timeperiod, week_number, countyfips, tract, tract_name, total_claims, edu_8th_or_less, edu_grades_9_11, edu_hs_grad_equiv, edu_post_hs, edu_unknown, top_category_employer1, top_category_employer2, top_category_employer3, gender_female, gender_male, gender_na, race_amerindian, race_asian, race_black, race_noanswer, race_hawaiiannative, race_other, race_white]
Index: []

[0 rows x 25 columns]

In [8]:
unemployment_data.columns

Index(['uu_id', 'timeperiod', 'week_number', 'countyfips', 'tract',
       'tract_name', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'],
      dtype='object')

In [9]:
unemployment_data.drop(['uu_id', 'week_number', 'countyfips', 'tract',
       'tract_name', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'], axis=1, inplace=True)

In [10]:
unemployment_data

Empty DataFrame
Columns: [timeperiod, total_claims]
Index: []

In [11]:
unemployment_data['year'] = unemployment_data['timeperiod'].apply(lambda x: str(x)[:4])
unemployment_data['month'] = unemployment_data['timeperiod'].apply(lambda x: str(x)[4:6])
unemployment_data['day'] = unemployment_data['timeperiod'].apply(lambda x: str(x)[6:])

In [12]:
unemployment_data

Empty DataFrame
Columns: [timeperiod, total_claims, year, month, day]
Index: []

In [13]:
unemployment_data['ds'] = pd.DatetimeIndex(unemployment_data['year'] + '-' + unemployment_data['month'] + '-' + unemployment_data['day'])

In [14]:
unemployment_data

Empty DataFrame
Columns: [timeperiod, total_claims, year, month, day, ds]
Index: []

In [15]:
unemployment_data.drop(['timeperiod', 'year', 'month', 'day'], axis=1, inplace=True)
unemployment_data.columns = ['y', 'ds']

In [16]:
unemployment_data

Empty DataFrame
Columns: [y, ds]
Index: []

In [17]:
unemployment_data.sort_values(['ds'], inplace=True)

In [18]:
unemployment_data.drop_duplicates(inplace=True)

Empty DataFrame
Columns: [y, ds]
Index: []

In [19]:
unemployment_data

Empty DataFrame
Columns: [y, ds]
Index: []

In [20]:
from prophet import Prophet

ModuleNotFoundError: No module named 'prophet'

In [21]:
get_ipython().system('pip install prophet')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: prophet in /opt/anaconda3/lib/python3.9/site-packages (1.1.2)
Requirement already satisfied: holidays>=0.14.2 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (0.21.13)
Requirement already satisfied: tqdm>=4.36.1 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (4.62.3)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (1.22.4)
Requirement already satisfied: cmdstanpy>=1.0.4 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (1.1.0)
Requirement already satisfied: matplotlib>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (3.7.1)
Requirement already satisfied: convertdate>=2.1.2 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (2.4.0)
Requirement already satisfied: pandas>=1.0.4 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (2.8.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /opt/anaconda3/lib/python3.9/site-packages (from prophet) (0.0.9)

Requirement already satisfied: pymeeus<=1,>=0.3.13 in /opt/anaconda3/lib/python3.9/site-packages (from convertdate>=2.1.2->prophet) (0.5.12)
Requirement already satisfied: korean-lunar-calendar in /opt/anaconda3/lib/python3.9/site-packages (from holidays>=0.14.2->prophet) (0.3.1)
Requirement already satisfied: hijri-converter in /opt/anaconda3/lib/python3.9/site-packages (from holidays>=0.14.2->prophet) (2.2.4)
Requirement already satisfied: pytz in /opt/anaconda3/lib/python3.9/site-packages (from LunarCalendar>=0.0.9->prophet) (2021.3)
Requirement already satisfied: ephem>=3.7.5.3 in /opt/anaconda3/lib/python3.9/site-packages (from LunarCalendar>=0.0.9->prophet) (4.1.4)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (5.12.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (1.3.1)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (21.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=2.0.0->prophet) (1.16.0)
Requirement already satisfied: zipp>=3.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib>=2.0.0->prophet) (3.6.0)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [22]:
from prophet import Prophet

ModuleNotFoundError: No module named 'prophet'

In [23]:
ud = unemployment_data

In [24]:
threshold_date = pd.to_datetime('2022-05-14')
mask = ud['ds'] < threshold_date

In [25]:
# Split the data and select `ds` and `y` columns.
ud_train = ud[mask][['ds', 'y']]
ud_test = ud[~mask][['ds', 'y']]

In [26]:
m = Prophet()

NameError: name 'Prophet' is not defined

In [27]:
m.fit(ud_train)

NameError: name 'm' is not defined

In [28]:
future = m.make_future_dataframe(periods=ud_test.shape[0], freq='W')

NameError: name 'm' is not defined

In [29]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [30]:
forecast

NameError: name 'forecast' is not defined

In [31]:
plot1 = m.plot(forecast)

NameError: name 'm' is not defined

In [32]:
ud_test

Empty DataFrame
Columns: [ds, y]
Index: []

In [33]:
ud_test
ud_train

Empty DataFrame
Columns: [ds, y]
Index: []

In [34]:
print(ud_train, ud_test)

Empty DataFrame
Columns: [ds, y]
Index: [] Empty DataFrame
Columns: [ds, y]
Index: []

In [35]:
ud_train

Empty DataFrame
Columns: [ds, y]
Index: []

In [36]:
ud_test

Empty DataFrame
Columns: [ds, y]
Index: []

In [37]:
unemployment_data.drop(['uu_id', 'countyfips', 'tract',
       'tract_name', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'], axis=1, inplace=True)

KeyError: "['uu_id', 'countyfips', 'tract', 'tract_name', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown', 'top_category_employer1', 'top_category_employer2', 'top_category_employer3', 'gender_female', 'gender_male', 'gender_na', 'race_amerindian', 'race_asian', 'race_black', 'race_noanswer', 'race_hawaiiannative', 'race_other', 'race_white'] not found in axis"

In [38]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE uu_id='e201385d37b5f6eea30f6d6d4106dc6f'
"""

In [39]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()

In [40]:
unemployment_data.shape

(0, 25)

In [41]:
unemployment_data.sort_values(['week_number'])

Empty DataFrame
Columns: [uu_id, timeperiod, week_number, countyfips, tract, tract_name, total_claims, edu_8th_or_less, edu_grades_9_11, edu_hs_grad_equiv, edu_post_hs, edu_unknown, top_category_employer1, top_category_employer2, top_category_employer3, gender_female, gender_male, gender_na, race_amerindian, race_asian, race_black, race_noanswer, race_hawaiiannative, race_other, race_white]
Index: []

[0 rows x 25 columns]

In [42]:
unemployment_data.columns

Index(['uu_id', 'timeperiod', 'week_number', 'countyfips', 'tract',
       'tract_name', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'],
      dtype='object')

In [43]:
unemployment_data.drop(['uu_id', 'countyfips', 'tract',
       'tract_name', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'], axis=1, inplace=True)

In [44]:
unemployment_data

Empty DataFrame
Columns: [timeperiod, week_number, total_claims]
Index: []

In [45]:
unemployment_data.sort_values(['week_number'])

Empty DataFrame
Columns: [timeperiod, week_number, total_claims]
Index: []

In [46]:
unemployment_data.drop_duplicates(inplace=True)
unemployment_data.sort_values(['week_number'])

Empty DataFrame
Columns: [timeperiod, week_number, total_claims]
Index: []

In [47]:
future = m.make_future_dataframe(periods=35, freq='W')

NameError: name 'm' is not defined

In [48]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [49]:
forecast

NameError: name 'forecast' is not defined

In [50]:
plot1 = m.plot(forecast)

NameError: name 'm' is not defined

In [51]:
m = Prophet(weekly_seasonality=False,
        daily_seasonality=False,
        interval_width=0.95, 
        mcmc_samples = 500)

NameError: name 'Prophet' is not defined

In [52]:
m.add_seasonality(
        name='monthly', 
        period=30.5, 
        fourier_order=5
    )

NameError: name 'm' is not defined

In [53]:
m.fit(ud_train)

NameError: name 'm' is not defined

In [54]:
future = m.make_future_dataframe(periods=35, freq='W')

NameError: name 'm' is not defined

In [55]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [56]:
forecast

NameError: name 'forecast' is not defined

In [57]:
plot1 = m.plot(forecast)

NameError: name 'm' is not defined

In [58]:
ud_test

Empty DataFrame
Columns: [ds, y]
Index: []

In [59]:
forecast['ds']

NameError: name 'forecast' is not defined

In [60]:
forecast['ds' == pd.to_datetime('2022-05-14')]).yhat

SyntaxError: unmatched ')' (172832558.py, line 1)

In [61]:
forecast['ds' == pd.to_datetime('2022-05-14')])

SyntaxError: unmatched ')' (3281829213.py, line 1)

In [62]:
forecast['ds' == pd.to_datetime('2022-05-14')].yhat

NameError: name 'forecast' is not defined

In [63]:
forecast['ds' == pd.to_datetime('2022-05-14')]

NameError: name 'forecast' is not defined

In [64]:
m = Prophet(weekly_seasonality=False,
        daily_seasonality=False,
        interval_width=0.95, 
        mcmc_samples = 500)

NameError: name 'Prophet' is not defined

m.add_seasonality(
        name='monthly', 
        period=30.5, 
        fourier_order=5
    )

In [65]:
m.fit(ud_train)

NameError: name 'm' is not defined

In [66]:
future = m.make_future_dataframe(periods=35, freq='W')

NameError: name 'm' is not defined

In [67]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [68]:
future = m.make_future_dataframe(periods=35, freq='W')

NameError: name 'm' is not defined

In [69]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [70]:
ud = unemployment_data

In [71]:
threshold_date = pd.to_datetime('2022-05-14')
mask = ud['ds'] < threshold_date

KeyError: 'ds'

In [72]:
# Split the data and select `ds` and `y` columns.
ud_train = ud[mask][['ds', 'y']]
ud_test = ud[~mask][['ds', 'y']]

KeyError: "None of [Index(['ds', 'y'], dtype='object')] are in the [columns]"

In [73]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
WHERE uu_id='e201385d37b5f6eea30f6d6d4106dc6f'
"""

In [74]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()

In [75]:
unemployment_data.drop(['uu_id', 'countyfips', 'tract',
       'tract_name', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'], axis=1, inplace=True)

In [76]:
unemployment_data.drop_duplicates(inplace=True)
unemployment_data.sort_values(['week_number'])

Empty DataFrame
Columns: [timeperiod, week_number, total_claims]
Index: []

In [77]:
unemployment_data['year'] = unemployment_data['timeperiod'].apply(lambda x: str(x)[:4])
unemployment_data['month'] = unemployment_data['timeperiod'].apply(lambda x: str(x)[4:6])
unemployment_data['day'] = unemployment_data['timeperiod'].apply(lambda x: str(x)[6:])

In [78]:
unemployment_data['ds'] = pd.DatetimeIndex(unemployment_data['year'] + '-' + unemployment_data['month'] + '-' + unemployment_data['day'])

In [79]:
unemployment_data

Empty DataFrame
Columns: [timeperiod, week_number, total_claims, year, month, day, ds]
Index: []

In [80]:
unemployment_data.drop(['timeperiod', 'year', 'month', 'day', 'week_number'], axis=1, inplace=True)
unemployment_data.columns = ['y', 'ds']

In [81]:
unemployment_data

Empty DataFrame
Columns: [y, ds]
Index: []

In [82]:
unemployment_data.sort_values(['ds'], inplace=True)

In [83]:
unemployment_data

Empty DataFrame
Columns: [y, ds]
Index: []

In [84]:
ud = unemployment_data

In [85]:
threshold_date = pd.to_datetime('2022-05-14')
mask = ud['ds'] < threshold_date

In [86]:
# Split the data and select `ds` and `y` columns.
ud_train = ud[mask][['ds', 'y']]
ud_test = ud[~mask][['ds', 'y']]

In [87]:
m.fit(ud_train)

NameError: name 'm' is not defined

In [88]:
m = Prophet(weekly_seasonality=False,
        daily_seasonality=False,
        interval_width=0.95, 
        mcmc_samples = 500)

NameError: name 'Prophet' is not defined

m.add_seasonality(
        name='monthly', 
        period=30.5, 
        fourier_order=5
    )

In [89]:
m.fit(ud_train)

NameError: name 'm' is not defined

In [90]:
future = m.make_future_dataframe(periods=35, freq='W')

NameError: name 'm' is not defined

In [91]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [92]:
m = Prophet(weekly_seasonality=False,
        daily_seasonality=False,
        interval_width=0.95, 
        mcmc_samples = 500)

NameError: name 'Prophet' is not defined

m.add_seasonality(
        name='monthly', 
        period=30.5, 
        fourier_order=5
    )

In [93]:
m.fit(ud_train)

NameError: name 'm' is not defined

In [94]:
future = m.make_future_dataframe(periods=35, freq='W')

NameError: name 'm' is not defined

In [95]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [96]:
threshold_date = pd.to_datetime('2022-05-14')
mask = ud['ds'] < threshold_date

In [97]:
# Split the data and select `ds` and `y` columns.
ud_train = ud[mask][['ds', 'y']]
ud_test = ud[~mask][['ds', 'y']]

In [98]:
threshold_date = pd.to_datetime('2022-05-14')
mask = ud['ds'] < threshold_date

In [99]:
# Split the data and select `ds` and `y` columns.
ud_train = ud[mask][['ds', 'y']]
ud_test = ud[~mask][['ds', 'y']]

In [100]:
ud_train

Empty DataFrame
Columns: [ds, y]
Index: []

In [101]:
m = Prophet(weekly_seasonality=False,
        daily_seasonality=False,
        interval_width=0.95, 
        mcmc_samples = 500)

NameError: name 'Prophet' is not defined

m.add_seasonality(
        name='monthly', 
        period=30.5, 
        fourier_order=5
    )

In [102]:
m.fit(ud_train)

NameError: name 'm' is not defined

In [103]:
future = m.make_future_dataframe(periods=35, freq='W')

NameError: name 'm' is not defined

In [104]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined

In [105]:
future = m.make_future_dataframe(periods=20, freq='W')

NameError: name 'm' is not defined

In [106]:
forecast = m.predict(df=future)

NameError: name 'm' is not defined