In [1]:
get_ipython().system('pip install google-cloud-bigquery')
get_ipython().system('pip install google-cloud-bigquery[pandas]')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: google-cloud-bigquery in /opt/anaconda3/lib/python3.9/site-packages (3.4.1)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.11.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (4.21.12)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (1.54.0)
Requirement already satisfied: packaging<22.0.0dev,>=14.3 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (21.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.3.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.30.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (1.22.2)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.4.0)

Requirement already satisfied: google-auth<3.0dev,>=2.14.1 in /opt/anaconda3/lib/python3.9/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.16.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /opt/anaconda3/lib/python3.9/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.58.0)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /opt/anaconda3/lib/python3.9/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.51.1)
Requirement already satisfied: six>=1.9.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.2.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging<22.0.0dev,>=14.3->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)

Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2021.10.8)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.7)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

zsh:1: no matches found: google-cloud-bigquery[pandas]

In [2]:
get_ipython().system('pip install google-cloud-bigquery')
get_ipython().system('pip install google-cloud-bigquery[pandas]')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: google-cloud-bigquery in /opt/anaconda3/lib/python3.9/site-packages (3.4.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.3.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (1.22.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.30.0)
Requirement already satisfied: packaging<22.0.0dev,>=14.3 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (21.3)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (1.54.0)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.11.0)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (2.4.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /opt/anaconda3/lib/python3.9/site-packages (from google-cloud-bigquery) (4.21.12)

Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /opt/anaconda3/lib/python3.9/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.58.0)
Requirement already satisfied: google-auth<3.0dev,>=2.14.1 in /opt/anaconda3/lib/python3.9/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.16.0)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /opt/anaconda3/lib/python3.9/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.51.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.2.1)
Requirement already satisfied: six>=1.9.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging<22.0.0dev,>=14.3->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)

Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.7)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

zsh:1: no matches found: google-cloud-bigquery[pandas]

In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')

In [4]:
import os
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [5]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [6]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [7]:
query = """
select * from `ironhacks-data.ironhacks_competition`
"""

In [8]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data['date']=pd.to_datetime(data['date'])
data.head()

NotFound: 404 Not found: Dataset ironhacks-data:ironhacks-data was not found in location US

Location: US
Job ID: 61ad790f-40c6-4a95-9e6f-eac192a8a075

In [9]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [10]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data['date']=pd.to_datetime(data['date'])
data.head()

KeyError: 'date'

In [11]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [12]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [13]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [14]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,f35320206f3dd1ffc411e4ac127caf92,20220618,25,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",21,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,14
16829,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,<NA>,13,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16830,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,<NA>,13,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16831,bbcb018f0e5e49e13636f6e78ce9f60f,20220326,13,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",53,0,<NA>,48,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,bbcb018f0e5e49e13636f6e78ce9f60f,20220416,16,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",24,0,<NA>,18,...,11,13,0,0,<NA>,<NA>,<NA>,0,0,<NA>

In [15]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [16]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,f35320206f3dd1ffc411e4ac127caf92,20220618,25,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",21,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,14
16829,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,<NA>,13,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16830,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,<NA>,13,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16831,bbcb018f0e5e49e13636f6e78ce9f60f,20220326,13,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",53,0,<NA>,48,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,bbcb018f0e5e49e13636f6e78ce9f60f,20220416,16,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",24,0,<NA>,18,...,11,13,0,0,<NA>,<NA>,<NA>,0,0,<NA>

In [17]:
data['edu_8th_or_less']

0        0
1        0
2        0
3        0
4        0
        ..
16828    0
16829    0
16830    0
16831    0
16832    0
Name: edu_8th_or_less, Length: 16833, dtype: Int64

In [18]:
data['edu_8th_or_less'].value_counts()

0     13711
18        5
16        5
19        4
10        3
12        3
21        3
24        2
14        2
33        2
11        2
17        1
28        1
41        1
13        1
26        1
37        1
Name: edu_8th_or_less, dtype: Int64

In [19]:
data['edu_grades_9_11'].value_counts()

0     5532
13      44
11      41
12      34
10      34
14      30
15      28
16      23
21      18
20      16
22      12
17      12
27      11
25      11
19      11
24       9
18       8
26       7
28       6
30       5
29       5
35       5
33       4
42       4
36       4
23       3
47       3
40       3
41       3
38       3
43       2
37       2
31       2
32       2
39       1
44       1
51       1
57       1
78       1
Name: edu_grades_9_11, dtype: Int64

In [20]:
data['edu_grades_9_11'].value_counts()

0     5532
13      44
11      41
12      34
10      34
14      30
15      28
16      23
21      18
20      16
22      12
17      12
27      11
25      11
19      11
24       9
18       8
26       7
28       6
30       5
29       5
35       5
33       4
42       4
36       4
23       3
47       3
40       3
41       3
38       3
43       2
37       2
31       2
32       2
39       1
44       1
51       1
57       1
78       1
Name: edu_grades_9_11, dtype: Int64

In [21]:
data['edu_grades_9_11'].isna().sum()

10891

In [22]:
data['edu_grades_9_11'].isna().sum()/179.9

60.53918843802112

In [23]:
query = """
select * from `ironhacks-data.ironhacks_competition.wage_data`
"""

In [24]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667
...,...,...,...,...,...
520,4a6ae3b5be1b9b7c10c177e1b9fded82,18169,102800,"Census Tract 1028, Wabash County, Indiana",7061.200000
521,e0e676badd59e9b1f2ecf853d2ca1ecb,18173,30500,"Census Tract 305, Warrick County, Indiana",8687.000000
522,4338a76c28b57d89da8a28cf06adcf73,18173,30600,"Census Tract 306, Warrick County, Indiana",11917.375000
523,3224483a60925de51923d51b10a00141,18173,30800,"Census Tract 308, Warrick County, Indiana",15117.700000
524,7b67eb2512a721025efe5cb967a38aff,18173,30400,"Census Tract 304, Warrick County, Indiana",9386.000000

In [25]:
query = """
select * from `ironhacks-data.ironhacks_competition.wage_data`
"""

In [26]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667
...,...,...,...,...,...
520,4a6ae3b5be1b9b7c10c177e1b9fded82,18169,102800,"Census Tract 1028, Wabash County, Indiana",7061.200000
521,e0e676badd59e9b1f2ecf853d2ca1ecb,18173,30500,"Census Tract 305, Warrick County, Indiana",8687.000000
522,4338a76c28b57d89da8a28cf06adcf73,18173,30600,"Census Tract 306, Warrick County, Indiana",11917.375000
523,3224483a60925de51923d51b10a00141,18173,30800,"Census Tract 308, Warrick County, Indiana",15117.700000
524,7b67eb2512a721025efe5cb967a38aff,18173,30400,"Census Tract 304, Warrick County, Indiana",9386.000000

In [27]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [28]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.dtypes()
# data = data.drop(["tract_name","edu_8th_or_less",

TypeError: 'Series' object is not callable

In [29]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [30]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data = data.drop(["tract_name","edu_8th_or_less"])
data

KeyError: "['tract_name', 'edu_8th_or_less'] not found in axis"

In [31]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [32]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data = data.drop(['tract_name','edu_8th_or_less'])
data

KeyError: "['tract_name', 'edu_8th_or_less'] not found in axis"

In [33]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [34]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data = data.drop(['tract_name','edu_8th_or_less'],axis=1)
data

,uu_id,timeperiod,week_number,countyfips,tract,total_claims,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,edu_unknown,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,22,<NA>,14,<NA>,0,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,111,<NA>,108,<NA>,0,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,39,<NA>,<NA>,<NA>,0,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,14,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,155,<NA>,69,83,<NA>,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,f35320206f3dd1ffc411e4ac127caf92,20220618,25,18163,3804,21,<NA>,<NA>,12,0,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,14
16829,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,22,<NA>,13,<NA>,<NA>,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16830,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,22,<NA>,13,<NA>,<NA>,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16831,bbcb018f0e5e49e13636f6e78ce9f60f,20220326,13,18163,10203,53,<NA>,48,<NA>,0,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,bbcb018f0e5e49e13636f6e78ce9f60f,20220416,16,18163,10203,24,<NA>,18,<NA>,<NA>,...,11,13,0,0,<NA>,<NA>,<NA>,0,0,<NA>

In [35]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [36]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data = data.drop(['tract_name','edu_8th_or_less','edu_unknown'],axis=1)
data

,uu_id,timeperiod,week_number,countyfips,tract,total_claims,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,top_category_employer1,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,22,<NA>,14,<NA>,31-33,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,111,<NA>,108,<NA>,48-49,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,39,<NA>,<NA>,<NA>,56,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,14,<NA>,<NA>,<NA>,56,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,155,<NA>,69,83,72,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,f35320206f3dd1ffc411e4ac127caf92,20220618,25,18163,3804,21,<NA>,<NA>,12,56,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,14
16829,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,22,<NA>,13,<NA>,56,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16830,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,22,<NA>,13,<NA>,56,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16831,bbcb018f0e5e49e13636f6e78ce9f60f,20220326,13,18163,10203,53,<NA>,48,<NA>,23,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,bbcb018f0e5e49e13636f6e78ce9f60f,20220416,16,18163,10203,24,<NA>,18,<NA>,23,...,11,13,0,0,<NA>,<NA>,<NA>,0,0,<NA>

In [37]:
query = """
select * from `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [38]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
pd.set_option('display.max_columns', None)
data = data.drop(['tract_name','edu_8th_or_less','edu_unknown'],axis=1)
data

,uu_id,timeperiod,week_number,countyfips,tract,total_claims,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,top_category_employer1,top_category_employer2,top_category_employer3,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,22,<NA>,14,<NA>,31-33,51,62,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,111,<NA>,108,<NA>,48-49,51,56,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,39,<NA>,<NA>,<NA>,56,N/A,N/A,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,14,<NA>,<NA>,<NA>,56,51,44-45,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,155,<NA>,69,83,72,51,56,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,f35320206f3dd1ffc411e4ac127caf92,20220618,25,18163,3804,21,<NA>,<NA>,12,56,48-49,81,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,14
16829,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,22,<NA>,13,<NA>,56,48-49,23,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16830,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,22,<NA>,13,<NA>,56,48-49,23,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16831,bbcb018f0e5e49e13636f6e78ce9f60f,20220326,13,18163,10203,53,<NA>,48,<NA>,23,48-49,44-45,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,bbcb018f0e5e49e13636f6e78ce9f60f,20220416,16,18163,10203,24,<NA>,18,<NA>,23,48-49,44-45,11,13,0,0,<NA>,<NA>,<NA>,0,0,<NA>