In [1]:
get_ipython().system('pip install db-dtypes')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [2]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [3]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [4]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [5]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [7]:
data["top_category_employer2"].value_counts()

56       3043
62       2471
23       1965
31-33    1962
72       1662
44-45    1608
48-49     985
81        545
54        518
52        474
42        431
61        334
55        281
92        157
71        132
53        115
N/A        49
51         46
99         21
21         17
11         10
22          7
Name: top_category_employer2, dtype: int64

In [8]:
data.loc[data["uu_id"] == "bd5b040eae3010ce09da8b176ed5aee0"]

Empty DataFrame
Columns: [uu_id, timeperiod, week_number, countyfips, tract, tract_name, total_claims, edu_8th_or_less, edu_grades_9_11, edu_hs_grad_equiv, edu_post_hs, edu_unknown, top_category_employer1, top_category_employer2, top_category_employer3, gender_female, gender_male, gender_na, race_amerindian, race_asian, race_black, race_noanswer, race_hawaiiannative, race_other, race_white]
Index: []

[0 rows x 25 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [10]:
data["top_category_employer2"].value_counts()

56       3043
62       2471
23       1965
31-33    1962
72       1662
44-45    1608
48-49     985
81        545
54        518
52        474
42        431
61        334
55        281
92        157
71        132
53        115
N/A        49
51         46
99         21
21         17
11         10
22          7
Name: top_category_employer2, dtype: int64

In [11]:
data.loc[data["uu_id"] == "bd5b040eae3010ce09da8b176ed5aee0"]

Empty DataFrame
Columns: [uu_id, timeperiod, week_number, countyfips, tract, tract_name, total_claims, edu_8th_or_less, edu_grades_9_11, edu_hs_grad_equiv, edu_post_hs, edu_unknown, top_category_employer1, top_category_employer2, top_category_employer3, gender_female, gender_male, gender_na, race_amerindian, race_asian, race_black, race_noanswer, race_hawaiiannative, race_other, race_white]
Index: []

[0 rows x 25 columns]

In [12]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [13]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [14]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [15]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
predict = query_job.to_dataframe()
predict.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [16]:
data["edu_8th_or_less"].value_counts()

0     13711
18        5
16        5
19        4
10        3
12        3
21        3
24        2
14        2
33        2
11        2
17        1
28        1
41        1
13        1
26        1
37        1
Name: edu_8th_or_less, dtype: Int64

In [17]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [18]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [19]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [20]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
predict = query_job.to_dataframe()
predict.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [21]:
data["top_category_employer2"].map(lambda x: '32' if x =='31-33')

SyntaxError: invalid syntax (610320058.py, line 1)

In [22]:
data["top_category_employer2"].map(lambda x: '32' if x =='31-33' else x)

0           51
1           51
2          N/A
3           51
4           51
         ...
16828    48-49
16829    48-49
16830    48-49
16831    48-49
16832    48-49
Name: top_category_employer2, Length: 16833, dtype: object

In [23]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '32' if x =='31-33' else x)

In [24]:
data["top_category_employer2"].value_counts()

56       3043
62       2471
23       1965
32       1962
72       1662
44-45    1608
48-49     985
81        545
54        518
52        474
42        431
61        334
55        281
92        157
71        132
53        115
N/A        49
51         46
99         21
21         17
11         10
22          7
Name: top_category_employer2, dtype: int64

In [25]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '32' if x =='31-33' else x)

In [26]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '44.5' if x =='44-45' else x)

In [27]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '48.5' if x =='48-49' else x)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [29]:
data["top_category_employer2"].value_counts()

56       3043
62       2471
23       1965
32       1962
72       1662
44-45    1608
48-49     985
81        545
54        518
52        474
42        431
61        334
55        281
92        157
71        132
53        115
N/A        49
51         46
99         21
21         17
11         10
22          7
Name: top_category_employer2, dtype: int64

In [30]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '32' if x =='31-33' else x)

In [31]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '44.5' if x =='44-45' else x)

In [32]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '48.5' if x =='48-49' else x)

In [33]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '32' if x =='31-33' else x)

In [34]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '44.5' if x =='44-45' else x)

In [35]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '48.5' if x =='48-49' else x)

In [36]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '32' if x =='31-33' else x)

In [37]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '44.5' if x =='44-45' else x)

In [38]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '48.5' if x =='48-49' else x)

In [39]:
data["edu_8th_or_less"].value_counts()

0     13711
18        5
16        5
19        4
10        3
12        3
21        3
24        2
14        2
33        2
11        2
17        1
28        1
41        1
13        1
26        1
37        1
Name: edu_8th_or_less, dtype: Int64

In [40]:
df["top_category_employer1"].astype(int)

NameError: name 'df' is not defined

In [41]:
data["top_category_employer1"].astype(int)

ValueError: invalid literal for int() with base 10: '48.5'

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [43]:
data["top_category_employer1"].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [44]:
data["race_black"].value_counts()

0      3881
11      241
12      234
10      227
13      216
       ...
72        1
138       1
91        1
65        1
117       1
Name: race_black, Length: 97, dtype: Int64

In [45]:
data["top_category_employer1"].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [46]:
data['edu_8th_or_less'].replace(np.NaN, data['edu_8th_or_less'].mean())

NameError: name 'np' is not defined

In [47]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import numpy as np

In [48]:
data['edu_8th_or_less'].replace(np.NaN, data['edu_8th_or_less'].mean())

TypeError: Invalid value '0.05098923479778877' for dtype Int64

In [49]:
data.fillna('0')

TypeError: Invalid value '0' for dtype Int64

In [50]:
data.fillna(0)

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,0,14,...,0,0,0,0,0,11,0,0,0,0
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,0,108,...,76,35,0,0,0,0,0,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,0,0,...,0,0,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,0,0,...,0,0,0,0,0,10,0,0,0,0
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,0,69,...,90,65,0,0,0,135,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,f35320206f3dd1ffc411e4ac127caf92,20220618,25,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",21,0,0,0,...,0,0,0,0,0,0,0,0,0,14
16829,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,0,13,...,0,0,0,0,0,0,0,0,0,0
16830,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,0,13,...,0,0,0,0,0,0,0,0,0,0
16831,bbcb018f0e5e49e13636f6e78ce9f60f,20220326,13,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",53,0,0,48,...,0,0,0,0,0,0,0,0,0,0
16832,bbcb018f0e5e49e13636f6e78ce9f60f,20220416,16,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",24,0,0,18,...,11,13,0,0,0,0,0,0,0,0

In [51]:
data = data.fillna(0)

In [52]:
data = data.fillna(0)

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         16833 non-null  Int64
 8   edu_grades_9_11         16833 non-null  Int64
 9   edu_hs_grad_equiv       16833 non-null  Int64
 10  edu_post_hs             16833 non-null  Int64
 11  edu_unknown             16833 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           16833 non-null  Int64
 16  gender_male             16833 non-null  Int64
 17  gender_na               16833 non-null  Int64
 18  race_amerindian         16833 non-null  Int64
 19  race_asian              16833 non-null  Int64
 20  race_black              16833 non-null  Int64
 21  race_noanswer           16833 non-null  Int64
 22  race_hawaiiannative     16833 non-null  Int64
 23  race_other              16833 non-null  Int64
 24  race_white              16833 non-null  Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [54]:
data['top_category_employer1'].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [55]:
data = data.fillna(0)

In [56]:
data['top_category_employer1'].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [57]:
data.isnull()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16829,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16830,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16831,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16832,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [58]:
data.isnull().any()

uu_id                     False
timeperiod                False
week_number               False
countyfips                False
tract                     False
tract_name                False
total_claims              False
edu_8th_or_less           False
edu_grades_9_11           False
edu_hs_grad_equiv         False
edu_post_hs               False
edu_unknown               False
top_category_employer1    False
top_category_employer2    False
top_category_employer3    False
gender_female             False
gender_male               False
gender_na                 False
race_amerindian           False
race_asian                False
race_black                False
race_noanswer             False
race_hawaiiannative       False
race_other                False
race_white                False
dtype: bool

In [59]:
data['top_category_employer1'].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [60]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '0' if x =='N/A' else x)

In [61]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '0' if x =='N/A' else x)

In [62]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '0' if x =='N/A' else x)

In [63]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '0' if x =='N/A' else x)

In [64]:
data = data.fillna(0)

In [65]:
data['top_category_employer1'].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [66]:
data['top_category_employer2'].astype(float)

0        51.0
1        51.0
2         0.0
3        51.0
4        51.0
         ...
16828    48.5
16829    48.5
16830    48.5
16831    48.5
16832    48.5
Name: top_category_employer2, Length: 16833, dtype: float64

In [67]:
data['top_category_employer3'].astype(float)

0        62.0
1        56.0
2         0.0
3        44.5
4        56.0
         ...
16828    81.0
16829    23.0
16830    23.0
16831    44.5
16832    44.5
Name: top_category_employer3, Length: 16833, dtype: float64

In [68]:
data["test"] = data.groupby(by=["uu_id"]).sum()

/var/folders/l2/cnhff0_n1470l4xf0p7v7l_40000gn/T/ipykernel_17195/2203671901.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data["test"] = data.groupby(by=["uu_id"]).sum()

ValueError: Cannot set a DataFrame with multiple columns to the single column test

In [69]:
data.groupby(by=["uu_id"]).mean()

/var/folders/l2/cnhff0_n1470l4xf0p7v7l_40000gn/T/ipykernel_17195/3042140056.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(by=["uu_id"]).mean()

,timeperiod,week_number,countyfips,tract,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,edu_unknown,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
uu_id,,,,,,,,,,,,,,,,,,,,
001cd9ae23064d7f0fd3cd327c873d8d,20220843.272727,34.636364,18099.0,20102.0,15.454545,0.0,0.0,2.727273,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.909091
005be9532fd717dc36d4be318fd9ad25,20220584.029412,23.117647,18039.0,802.0,32.852941,0.0,0.0,15.764706,3.058824,0.0,8.735294,14.117647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.735294
007c1caccff1fbb3a0b8a10790f77141,20220497.8,19.4,18081.0,610900.0,18.88,0.0,0.0,6.76,0.0,0.0,0.44,0.4,0.0,0.0,0.0,3.68,0.0,0.0,0.0,10.12
009683350b175edfc6414d664e4ba873,20220447.217391,17.086957,18089.0,42801.0,19.130435,0.0,0.0,3.478261,1.956522,0.565217,0.565217,1.478261,0.0,0.0,0.0,3.695652,0.0,0.0,0.0,4.869565
00f962ce727b8dbbf20925abd5a253dd,20220550.595238,21.785714,18097.0,330900.0,39.52381,0.0,1.047619,16.880952,7.428571,0.238095,18.214286,12.119048,0.0,0.0,0.0,27.095238,0.0,0.0,0.285714,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fcf9f3effa992cfd552696e4ae7219b6,20220552.6,21.9,18097.0,330103.0,16.275,0.0,0.0,0.725,6.225,0.0,1.35,1.425,0.0,0.0,0.0,0.875,0.0,0.0,0.0,2.4
fcfc60d8240e5a51f878fd92e2a352a3,20220510.941176,19.970588,18157.0,1300.0,19.705882,0.0,0.764706,6.029412,2.676471,0.0,0.441176,0.382353,0.0,0.0,0.0,0.882353,0.0,0.0,1.882353,3.147059
fd613eba867c6ad7350a937f743b88f2,20220532.514286,21.057143,18003.0,11304.0,21.485714,0.0,1.028571,5.771429,3.085714,0.0,2.971429,3.028571,0.0,0.0,0.0,7.828571,0.0,0.0,0.571429,0.714286
fe355ff27aa8b2242a558d5e3ec99c18,20220521.7,20.566667,18053.0,600.0,15.666667,0.0,0.0,3.666667,0.0,0.0,1.266667,1.333333,0.0,0.0,0.0,0.6,0.0,0.0,0.0,2.866667
fec479d0202d6e1e3f051a9ee902ff5d,20220550.595238,21.785714,18089.0,43300.0,30.404762,0.0,0.261905,4.190476,12.285714,0.0,9.166667,12.690476,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,23.047619

In [70]:
test = data.groupby(by=["uu_id"]).mean()

/var/folders/l2/cnhff0_n1470l4xf0p7v7l_40000gn/T/ipykernel_17195/2720939820.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test = data.groupby(by=["uu_id"]).mean()

In [71]:
test = data.groupby(by=["uu_id"]).mean()
test

/var/folders/l2/cnhff0_n1470l4xf0p7v7l_40000gn/T/ipykernel_17195/3282407337.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test = data.groupby(by=["uu_id"]).mean()

,timeperiod,week_number,countyfips,tract,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,edu_unknown,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
uu_id,,,,,,,,,,,,,,,,,,,,
001cd9ae23064d7f0fd3cd327c873d8d,20220843.272727,34.636364,18099.0,20102.0,15.454545,0.0,0.0,2.727273,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.909091
005be9532fd717dc36d4be318fd9ad25,20220584.029412,23.117647,18039.0,802.0,32.852941,0.0,0.0,15.764706,3.058824,0.0,8.735294,14.117647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.735294
007c1caccff1fbb3a0b8a10790f77141,20220497.8,19.4,18081.0,610900.0,18.88,0.0,0.0,6.76,0.0,0.0,0.44,0.4,0.0,0.0,0.0,3.68,0.0,0.0,0.0,10.12
009683350b175edfc6414d664e4ba873,20220447.217391,17.086957,18089.0,42801.0,19.130435,0.0,0.0,3.478261,1.956522,0.565217,0.565217,1.478261,0.0,0.0,0.0,3.695652,0.0,0.0,0.0,4.869565
00f962ce727b8dbbf20925abd5a253dd,20220550.595238,21.785714,18097.0,330900.0,39.52381,0.0,1.047619,16.880952,7.428571,0.238095,18.214286,12.119048,0.0,0.0,0.0,27.095238,0.0,0.0,0.285714,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fcf9f3effa992cfd552696e4ae7219b6,20220552.6,21.9,18097.0,330103.0,16.275,0.0,0.0,0.725,6.225,0.0,1.35,1.425,0.0,0.0,0.0,0.875,0.0,0.0,0.0,2.4
fcfc60d8240e5a51f878fd92e2a352a3,20220510.941176,19.970588,18157.0,1300.0,19.705882,0.0,0.764706,6.029412,2.676471,0.0,0.441176,0.382353,0.0,0.0,0.0,0.882353,0.0,0.0,1.882353,3.147059
fd613eba867c6ad7350a937f743b88f2,20220532.514286,21.057143,18003.0,11304.0,21.485714,0.0,1.028571,5.771429,3.085714,0.0,2.971429,3.028571,0.0,0.0,0.0,7.828571,0.0,0.0,0.571429,0.714286
fe355ff27aa8b2242a558d5e3ec99c18,20220521.7,20.566667,18053.0,600.0,15.666667,0.0,0.0,3.666667,0.0,0.0,1.266667,1.333333,0.0,0.0,0.0,0.6,0.0,0.0,0.0,2.866667
fec479d0202d6e1e3f051a9ee902ff5d,20220550.595238,21.785714,18089.0,43300.0,30.404762,0.0,0.261905,4.190476,12.285714,0.0,9.166667,12.690476,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,23.047619

In [72]:
predict = data.groupby(by=["uu_id"]).mean()
predict

/var/folders/l2/cnhff0_n1470l4xf0p7v7l_40000gn/T/ipykernel_17195/1140161251.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  predict = data.groupby(by=["uu_id"]).mean()

,timeperiod,week_number,countyfips,tract,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,edu_unknown,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
uu_id,,,,,,,,,,,,,,,,,,,,
001cd9ae23064d7f0fd3cd327c873d8d,20220843.272727,34.636364,18099.0,20102.0,15.454545,0.0,0.0,2.727273,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.909091
005be9532fd717dc36d4be318fd9ad25,20220584.029412,23.117647,18039.0,802.0,32.852941,0.0,0.0,15.764706,3.058824,0.0,8.735294,14.117647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.735294
007c1caccff1fbb3a0b8a10790f77141,20220497.8,19.4,18081.0,610900.0,18.88,0.0,0.0,6.76,0.0,0.0,0.44,0.4,0.0,0.0,0.0,3.68,0.0,0.0,0.0,10.12
009683350b175edfc6414d664e4ba873,20220447.217391,17.086957,18089.0,42801.0,19.130435,0.0,0.0,3.478261,1.956522,0.565217,0.565217,1.478261,0.0,0.0,0.0,3.695652,0.0,0.0,0.0,4.869565
00f962ce727b8dbbf20925abd5a253dd,20220550.595238,21.785714,18097.0,330900.0,39.52381,0.0,1.047619,16.880952,7.428571,0.238095,18.214286,12.119048,0.0,0.0,0.0,27.095238,0.0,0.0,0.285714,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fcf9f3effa992cfd552696e4ae7219b6,20220552.6,21.9,18097.0,330103.0,16.275,0.0,0.0,0.725,6.225,0.0,1.35,1.425,0.0,0.0,0.0,0.875,0.0,0.0,0.0,2.4
fcfc60d8240e5a51f878fd92e2a352a3,20220510.941176,19.970588,18157.0,1300.0,19.705882,0.0,0.764706,6.029412,2.676471,0.0,0.441176,0.382353,0.0,0.0,0.0,0.882353,0.0,0.0,1.882353,3.147059
fd613eba867c6ad7350a937f743b88f2,20220532.514286,21.057143,18003.0,11304.0,21.485714,0.0,1.028571,5.771429,3.085714,0.0,2.971429,3.028571,0.0,0.0,0.0,7.828571,0.0,0.0,0.571429,0.714286
fe355ff27aa8b2242a558d5e3ec99c18,20220521.7,20.566667,18053.0,600.0,15.666667,0.0,0.0,3.666667,0.0,0.0,1.266667,1.333333,0.0,0.0,0.0,0.6,0.0,0.0,0.0,2.866667
fec479d0202d6e1e3f051a9ee902ff5d,20220550.595238,21.785714,18089.0,43300.0,30.404762,0.0,0.261905,4.190476,12.285714,0.0,9.166667,12.690476,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,23.047619

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         16833 non-null  Int64
 8   edu_grades_9_11         16833 non-null  Int64
 9   edu_hs_grad_equiv       16833 non-null  Int64
 10  edu_post_hs             16833 non-null  Int64
 11  edu_unknown             16833 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           16833 non-null  Int64
 16  gender_male             16833 non-null  Int64
 17  gender_na               16833 non-null  Int64
 18  race_amerindian         16833 non-null  Int64
 19  race_asian              16833 non-null  Int64
 20  race_black              16833 non-null  Int64
 21  race_noanswer           16833 non-null  Int64
 22  race_hawaiiannative     16833 non-null  Int64
 23  race_other              16833 non-null  Int64
 24  race_white              16833 non-null  Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [74]:
data = data['top_category_employer2'].astype(float)

In [75]:
data = data['top_category_employer3'].astype(float)

KeyError: 'top_category_employer3'

In [76]:
data = data['top_category_employer1'].astype(float)

KeyError: 'top_category_employer1'

In [77]:
data['top_category_employer1'] = data['top_category_employer1'].astype(float)

KeyError: 'top_category_employer1'

In [78]:
data['top_category_employer1'].astype(float)

KeyError: 'top_category_employer1'

In [79]:
data['top_category_employer1'].astype(float)

KeyError: 'top_category_employer1'

In [80]:
data = data.fillna(0)

In [81]:
data['top_category_employer1'].astype(float)

KeyError: 'top_category_employer1'

In [82]:
data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 16833 entries, 0 to 16832
Series name: top_category_employer2
Non-Null Count  Dtype
--------------  -----
16833 non-null  float64
dtypes: float64(1)
memory usage: 131.6 KB

In [83]:
data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 16833 entries, 0 to 16832
Series name: top_category_employer2
Non-Null Count  Dtype
--------------  -----
16833 non-null  float64
dtypes: float64(1)
memory usage: 131.6 KB

In [84]:
data.info

<bound method Series.info of 0        51.0
1        51.0
2         0.0
3        51.0
4        51.0
         ...
16828    48.5
16829    48.5
16830    48.5
16831    48.5
16832    48.5
Name: top_category_employer2, Length: 16833, dtype: float64>

In [85]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import numpy as np

In [86]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [87]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [88]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [90]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '32' if x =='31-33' else x)

In [91]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '44.5' if x =='44-45' else x)

In [92]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '48.5' if x =='48-49' else x)

In [93]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '0' if x =='N/A' else x)

In [94]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '32' if x =='31-33' else x)

In [95]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '44.5' if x =='44-45' else x)

In [96]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '48.5' if x =='48-49' else x)

In [97]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '0' if x =='N/A' else x)

In [98]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '32' if x =='31-33' else x)

In [99]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '44.5' if x =='44-45' else x)

In [100]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '48.5' if x =='48-49' else x)

In [101]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '0' if x =='N/A' else x)

In [102]:
data = data.fillna(0)

In [103]:
data['top_category_employer1'].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [104]:
data = data['top_category_employer2'].astype(float)

In [105]:
data = data['top_category_employer3'].astype(float)

KeyError: 'top_category_employer3'

In [106]:
get_ipython().system('pip install db-dtypes')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [107]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import numpy as np

In [108]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [109]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [110]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [112]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '32' if x =='31-33' else x)

In [113]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '44.5' if x =='44-45' else x)

In [114]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '48.5' if x =='48-49' else x)

In [115]:
data["top_category_employer1"] = data["top_category_employer1"].map(lambda x: '0' if x =='N/A' else x)

In [116]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '32' if x =='31-33' else x)

In [117]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '44.5' if x =='44-45' else x)

In [118]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '48.5' if x =='48-49' else x)

In [119]:
data["top_category_employer2"] = data["top_category_employer2"].map(lambda x: '0' if x =='N/A' else x)

In [120]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '32' if x =='31-33' else x)

In [121]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '44.5' if x =='44-45' else x)

In [122]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '48.5' if x =='48-49' else x)

In [123]:
data["top_category_employer3"] = data["top_category_employer3"].map(lambda x: '0' if x =='N/A' else x)

In [124]:
data = data.fillna(0)

In [125]:
data['top_category_employer1'].astype(float)

0        32.0
1        48.5
2        56.0
3        56.0
4        72.0
         ...
16828    56.0
16829    56.0
16830    56.0
16831    23.0
16832    23.0
Name: top_category_employer1, Length: 16833, dtype: float64

In [126]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [127]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [128]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [129]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
predict = query_job.to_dataframe()
predict.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [130]:
predict = data.groupby(by=["uu_id"]).mean()
predict

/var/folders/l2/cnhff0_n1470l4xf0p7v7l_40000gn/T/ipykernel_17195/1140161251.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  predict = data.groupby(by=["uu_id"]).mean()

,timeperiod,week_number,countyfips,tract,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,edu_unknown,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
uu_id,,,,,,,,,,,,,,,,,,,,
001cd9ae23064d7f0fd3cd327c873d8d,20220843.272727,34.636364,18099.0,20102.0,15.454545,0.0,0.0,2.727273,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.909091
005be9532fd717dc36d4be318fd9ad25,20220584.029412,23.117647,18039.0,802.0,32.852941,0.0,0.0,15.764706,3.058824,0.0,8.735294,14.117647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.735294
007c1caccff1fbb3a0b8a10790f77141,20220497.8,19.4,18081.0,610900.0,18.88,0.0,0.0,6.76,0.0,0.0,0.44,0.4,0.0,0.0,0.0,3.68,0.0,0.0,0.0,10.12
009683350b175edfc6414d664e4ba873,20220447.217391,17.086957,18089.0,42801.0,19.130435,0.0,0.0,3.478261,1.956522,0.565217,0.565217,1.478261,0.0,0.0,0.0,3.695652,0.0,0.0,0.0,4.869565
00f962ce727b8dbbf20925abd5a253dd,20220550.595238,21.785714,18097.0,330900.0,39.52381,0.0,1.047619,16.880952,7.428571,0.238095,18.214286,12.119048,0.0,0.0,0.0,27.095238,0.0,0.0,0.285714,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fcf9f3effa992cfd552696e4ae7219b6,20220552.6,21.9,18097.0,330103.0,16.275,0.0,0.0,0.725,6.225,0.0,1.35,1.425,0.0,0.0,0.0,0.875,0.0,0.0,0.0,2.4
fcfc60d8240e5a51f878fd92e2a352a3,20220510.941176,19.970588,18157.0,1300.0,19.705882,0.0,0.764706,6.029412,2.676471,0.0,0.441176,0.382353,0.0,0.0,0.0,0.882353,0.0,0.0,1.882353,3.147059
fd613eba867c6ad7350a937f743b88f2,20220532.514286,21.057143,18003.0,11304.0,21.485714,0.0,1.028571,5.771429,3.085714,0.0,2.971429,3.028571,0.0,0.0,0.0,7.828571,0.0,0.0,0.571429,0.714286
fe355ff27aa8b2242a558d5e3ec99c18,20220521.7,20.566667,18053.0,600.0,15.666667,0.0,0.0,3.666667,0.0,0.0,1.266667,1.333333,0.0,0.0,0.0,0.6,0.0,0.0,0.0,2.866667
fec479d0202d6e1e3f051a9ee902ff5d,20220550.595238,21.785714,18089.0,43300.0,30.404762,0.0,0.261905,4.190476,12.285714,0.0,9.166667,12.690476,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,23.047619

In [131]:
data.info

<bound method DataFrame.info of                                   uu_id  timeperiod  week_number  countyfips  \
0      f013068de98db1470bd986137a0c6d23    20220416           16       18003
1      21957d5517323845818d87623589e1ba    20220319           12       18089
2      6a5609f385912113b6f1014b958ed748    20220326           13       18089
3      46b2882ec4c373527ec33f7bd4f1388d    20220716           29       18089
4      37495d17e82f7df326bfc2c4c090f7b7    20220409           15       18089
...                                 ...         ...          ...         ...
16828  f35320206f3dd1ffc411e4ac127caf92    20220618           25       18163
16829  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16830  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16831  bbcb018f0e5e49e13636f6e78ce9f60f    20220326           13       18163
16832  bbcb018f0e5e49e13636f6e78ce9f60f    20220416           16       18163

       tract                                        tract_name  total_claims  \
0        900             Census Tract 9, Allen County, Indiana            22
1      10400            Census Tract 104, Lake County, Indiana           111
2      11500            Census Tract 115, Lake County, Indiana            39
3      20700            Census Tract 207, Lake County, Indiana            14
4      21900            Census Tract 219, Lake County, Indiana           155
...      ...                                               ...           ...
16828   3804   Census Tract 38.04, Vanderburgh County, Indiana            21
16829   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16830   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16831  10203  Census Tract 102.03, Vanderburgh County, Indiana            53
16832  10203  Census Tract 102.03, Vanderburgh County, Indiana            24

       edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  ...  \
0                    0                0                 14  ...
1                    0                0                108  ...
2                    0                0                  0  ...
3                    0                0                  0  ...
4                    0                0                 69  ...
...                ...              ...                ...  ...
16828                0                0                  0  ...
16829                0                0                 13  ...
16830                0                0                 13  ...
16831                0                0                 48  ...
16832                0                0                 18  ...

       gender_female  gender_male gender_na race_amerindian race_asian  \
0                  0            0         0               0          0
1                 76           35         0               0          0
2                  0            0         0               0          0
3                  0            0         0               0          0
4                 90           65         0               0          0
...              ...          ...       ...             ...        ...
16828              0            0         0               0          0
16829              0            0         0               0          0
16830              0            0         0               0          0
16831              0            0         0               0          0
16832             11           13         0               0          0

       race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0              11              0                    0           0           0
1               0              0                    0           0           0
2              39              0                    0           0           0
3              10              0                    0           0           0
4             135              0                    0           0           0
...           ...            ...                  ...         ...         ...
16828           0              0                    0           0          14
16829           0              0                    0           0           0
16830           0              0                    0           0           0
16831           0              0                    0           0           0
16832           0              0                    0           0           0

[16833 rows x 25 columns]>

In [132]:
X_train = data[""]

KeyError: ''

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         16833 non-null  Int64
 8   edu_grades_9_11         16833 non-null  Int64
 9   edu_hs_grad_equiv       16833 non-null  Int64
 10  edu_post_hs             16833 non-null  Int64
 11  edu_unknown             16833 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           16833 non-null  Int64
 16  gender_male             16833 non-null  Int64
 17  gender_na               16833 non-null  Int64
 18  race_amerindian         16833 non-null  Int64
 19  race_asian              16833 non-null  Int64
 20  race_black              16833 non-null  Int64
 21  race_noanswer           16833 non-null  Int64
 22  race_hawaiiannative     16833 non-null  Int64
 23  race_other              16833 non-null  Int64
 24  race_white              16833 non-null  Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [134]:
X_train = data["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", gender_male, ]X_train = data["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", "gender_male", "race_amerindian", "race_asian", "race_black", "race_noanswer", "race_hawaiiannative", "race_other", "race_white"]

SyntaxError: invalid syntax (36781648.py, line 1)

In [135]:
X_train = data[["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", gender_male, ]X_train = data["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", "gender_male", "race_amerindian", "race_asian", "race_black", "race_noanswer", "race_hawaiiannative", "race_other", "race_white"]]

SyntaxError: invalid syntax (2761664484.py, line 1)

In [136]:
X_train = data[["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", gender_male, ]X_train = data["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", "gender_male", "race_amerindian", "race_asian", "race_black", "race_noanswer", "race_hawaiiannative", "race_other", "race_white"]]

SyntaxError: invalid syntax (2761664484.py, line 1)

In [137]:
X_train = data[["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", gender_male, ]X_train = data["edu_8th_or_less", "edu_grades_9_11", "edu_hs_grad_equiv", "gender_female", "gender_male", "race_amerindian", "race_asian", "race_black", "race_noanswer", "race_hawaiiannative", "race_other", "race_white"]]

SyntaxError: invalid syntax (2761664484.py, line 1)

In [138]:
X_train = data.iloc[:, 7:24]

In [139]:
y_train = data["total_claims"]

In [140]:
from sklearn.linear_model import LinearRegression

In [141]:
model = LinearRegression().fit(X_train, y_train)

In [142]:
model.predict(X_test = predict.iloc[:, 7:24])

TypeError: predict() got an unexpected keyword argument 'X_test'

In [143]:
model.predict(X_test = predict.iloc[:, 7:24])

TypeError: predict() got an unexpected keyword argument 'X_test'

In [144]:
model.predict(X_test = predict.iloc[:, 7:24])

TypeError: predict() got an unexpected keyword argument 'X_test'

In [145]:
model.predict(X_test)

NameError: name 'X_test' is not defined

In [146]:
X_test = predict.iloc[:, 7:24]

In [147]:
model.predict(X_test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- race_white
Feature names seen at fit time, yet now missing:
- edu_8th_or_less
- edu_grades_9_11
- top_category_employer1
- top_category_employer2
- top_category_employer3

In [148]:
X_test = predict.iloc[:, 7:24]

In [149]:
model.predict(X_test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- race_white
Feature names seen at fit time, yet now missing:
- edu_8th_or_less
- edu_grades_9_11
- top_category_employer1
- top_category_employer2
- top_category_employer3

In [150]:
X_test

,edu_hs_grad_equiv,edu_post_hs,edu_unknown,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
uu_id,,,,,,,,,,,,,
001cd9ae23064d7f0fd3cd327c873d8d,2.727273,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.909091
005be9532fd717dc36d4be318fd9ad25,15.764706,3.058824,0.0,8.735294,14.117647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.735294
007c1caccff1fbb3a0b8a10790f77141,6.76,0.0,0.0,0.44,0.4,0.0,0.0,0.0,3.68,0.0,0.0,0.0,10.12
009683350b175edfc6414d664e4ba873,3.478261,1.956522,0.565217,0.565217,1.478261,0.0,0.0,0.0,3.695652,0.0,0.0,0.0,4.869565
00f962ce727b8dbbf20925abd5a253dd,16.880952,7.428571,0.238095,18.214286,12.119048,0.0,0.0,0.0,27.095238,0.0,0.0,0.285714,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
fcf9f3effa992cfd552696e4ae7219b6,0.725,6.225,0.0,1.35,1.425,0.0,0.0,0.0,0.875,0.0,0.0,0.0,2.4
fcfc60d8240e5a51f878fd92e2a352a3,6.029412,2.676471,0.0,0.441176,0.382353,0.0,0.0,0.0,0.882353,0.0,0.0,1.882353,3.147059
fd613eba867c6ad7350a937f743b88f2,5.771429,3.085714,0.0,2.971429,3.028571,0.0,0.0,0.0,7.828571,0.0,0.0,0.571429,0.714286
fe355ff27aa8b2242a558d5e3ec99c18,3.666667,0.0,0.0,1.266667,1.333333,0.0,0.0,0.0,0.6,0.0,0.0,0.0,2.866667
fec479d0202d6e1e3f051a9ee902ff5d,4.190476,12.285714,0.0,9.166667,12.690476,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,23.047619