In [1]:
get_ipython().run_cell_magic('capture', '', "%logstop\n%logstart -t -r -q ipython_command_log.py global\n\n#- IRONHACKS RESEARCH TRACKING CODE\n#----------------------------------\n# The following code is used to help our research team understand how you \n# our notebook environment. We do not collect any personal information with\n# the following code, it is used to measure when and how often you work on\n# your submission files.\n\nimport os\nfrom datetime import datetime\nimport IPython.core.history as history\n\nha = history.HistoryAccessor()\nha_tail = ha.get_tail(1)\nha_cmd = next(ha_tail)\nsession_id = str(ha_cmd[0])\ncommand_id = str(ha_cmd[1])\ntimestamp = datetime.utcnow().isoformat()\nhistory_line = ','.join([session_id, command_id, timestamp]) + '\\n'\nlogfile = open(os.environ['HOME']+'/ipython_session_log.csv', 'a')\nlogfile.write(history_line)\nlogfile.close()\n")

In [2]:
get_ipython().run_cell_magic('capture', '', "\n#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED\n#------------------------------------------\n# This is normally not required. The hub environment comes preinstaled with \n# many packages that you can already use without setup. In case there is some\n# other library you would like to use that isn't on the list you run this command\n# once to install them.  If it is already installed this command has no effect.\n\n#!python3 -m pip install pandas\n")

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [3]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

- DEFINE YOUR CLASSES AND FUNCTIONS 
-----------------------------------
This is not required, but is helpful in keeping your notebook organized. 
You can use the following cell or several cells to define your functions
and classes to keep them separate from your analysis or results code.
In general it useful to define your methods in a separate cell from where
it is run.

In [4]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [5]:
!pip install db-dtypes
query_unemployment = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""
query = bigquery_client.query(query_unemployment)
df_unemployment = query.to_dataframe()
#df_unemployment.head()

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [6]:
query_wage = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""
query = bigquery_client.query(query_wage)
df_wage = query.to_dataframe()
#df_wage.head()

In [7]:
query_pred_list = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""
query = bigquery_client.query(query_pred_list)
df_pred_list = query.to_dataframe()
#df_pred_list.head()

In [8]:
query_schema = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.INFORMATION_SCHEMA.TABLES`
"""
query = bigquery_client.query(query_schema)
df_schema = query.to_dataframe()
#df_schema.head()

In [9]:
df_three_col = df_unemployment[["uu_id", "week_number", "total_claims"]]

In [10]:
df_three_col.to_csv("three_col.txt",index=False,sep="\t")

In [11]:
df_three_col = df_unemployment[["uu_id", "week_number", "total_claims"]]
df_three_col.shape

(16833, 3)

In [12]:
df_three_col = df_three_col.drop_duplicates()
df_three_col.shape

(13977, 3)

In [13]:
df_three_col = df_unemployment[["uu_id", "week_number", "total_claims"]]
df_three_col.shape

(16833, 3)

In [14]:
df_three_col = df_three_col.drop_duplicates()
df_three_col.shape

(13977, 3)

In [15]:
df_three_col = df_three_col.drop_duplicates()
df_three_col.shape

(13977, 3)

In [16]:
df_three_col.sort_values(by=['uu_id', "week_number"],inplace=True)
head(df_three_col)

NameError: name 'head' is not defined

In [17]:
df_three_col = df_three_col.drop_duplicates()
print(df_three_col.shape)

(13977, 3)

In [18]:
df_three_col.sort_values(by=['uu_id', "week_number"],inplace=True)
df_three_col.head()

                                  uu_id  week_number  total_claims
1877   001cd9ae23064d7f0fd3cd327c873d8d           31            34
1873   001cd9ae23064d7f0fd3cd327c873d8d           33            10
14073  001cd9ae23064d7f0fd3cd327c873d8d           34            25
7254   001cd9ae23064d7f0fd3cd327c873d8d           35            10
1872   001cd9ae23064d7f0fd3cd327c873d8d           36            10

In [19]:
df_three_col = df_three_col.drop_duplicates()
print(df_three_col.shape)

(13977, 3)

In [20]:
df_three_col.sort_values(by=['uu_id', "week_number"],inplace=True)
df_three_col[0:21,]

InvalidIndexError: (slice(0, 21, None),)

In [21]:
df_three_col = df_three_col.drop_duplicates()
print(df_three_col.shape)

(13977, 3)

In [22]:
df_three_col.sort_values(by=['uu_id', "week_number"],inplace=True)
df_three_col.head(21)

                                  uu_id  week_number  total_claims
1877   001cd9ae23064d7f0fd3cd327c873d8d           31            34
1873   001cd9ae23064d7f0fd3cd327c873d8d           33            10
14073  001cd9ae23064d7f0fd3cd327c873d8d           34            25
7254   001cd9ae23064d7f0fd3cd327c873d8d           35            10
1872   001cd9ae23064d7f0fd3cd327c873d8d           36            10
1871   001cd9ae23064d7f0fd3cd327c873d8d           37            13
10905  005be9532fd717dc36d4be318fd9ad25            1            20
10906  005be9532fd717dc36d4be318fd9ad25            2            19
10910  005be9532fd717dc36d4be318fd9ad25            3            19
8603   005be9532fd717dc36d4be318fd9ad25            5            15
8604   005be9532fd717dc36d4be318fd9ad25            6            10
10907  005be9532fd717dc36d4be318fd9ad25            7            11
3813   005be9532fd717dc36d4be318fd9ad25            8            19
10902  005be9532fd717dc36d4be318fd9ad25            9            18
8602   005be9532fd717dc36d4be318fd9ad25           10            12
3350   005be9532fd717dc36d4be318fd9ad25           14            11
3814   005be9532fd717dc36d4be318fd9ad25           16            11
10903  005be9532fd717dc36d4be318fd9ad25           19            10
13455  005be9532fd717dc36d4be318fd9ad25           20            27
8601   005be9532fd717dc36d4be318fd9ad25           24            10
13456  005be9532fd717dc36d4be318fd9ad25           25            24

In [23]:
df_three_col = df_three_col.drop_duplicates()
#print(df_three_col.shape)

In [24]:
df_three_col.sort_values(by=['uu_id', "week_number"],inplace=True)
#df_three_col.head(21)
df_three_col.tail(3)

                                 uu_id  week_number  total_claims
411   fec479d0202d6e1e3f051a9ee902ff5d           35            27
7566  fec479d0202d6e1e3f051a9ee902ff5d           36            28
410   fec479d0202d6e1e3f051a9ee902ff5d           37            28

In [25]:
res = pd.DataFrame(columns = ['uu_id', 'total_claims', 'week_number'])

In [26]:
for cur_uu_id in df_pred_list['uu_id']:
    #print(uu_id)
    test_data = df_three_col[df_three_col["uu_id"].isin([cur_uu_id]) ]
    test_data = test_data.tail(3)
    y_pred = int(test_data["total_claims"].mean())
    cur_row =  pd.DataFrame([[cur_uu_id, y_pred, 41]], columns=['uu_id', 'total_claims', 'week_number'] )
    res = pd.concat([res,cur_row] ,ignore_index = True)

In [27]:
res.to_csv("Nov19_submission_prediction_output.csv", index=False)