In [1]:
# remove unnecessary colomns and combine unemployment data together with wages
unemployment_sample = unemployment_data.copy()
unemployment_sample = unemployment_sample.drop(['timeperiod', 'tract', 'tract_name', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs',\
                                               'edu_unknown', 'top_category_employer1', 'top_category_employer2', 'top_category_employer3', 'gender_female', 'gender_male',\
                                                'gender_na', 'race_amerindian', 'race_asian', 'race_black', 'race_noanswer', 'race_hawaiiannative',\
                                               'race_other', 'race_white'], axis=1)
wage_sample = wage_data.copy()
wage_sample.drop(['tract', 'tract_name'], axis=1)
prediction_sample = prediction_list.copy()
wages_dict = {i:wage_sample["average_wage"].values[k] for k,i in enumerate(wage_sample["uu_id"])}
wage_list = [wages_dict[i]  for i in unemployment_sample["uu_id"]]
print(wages_dict)
unemployment_sample["average_wage"] = wage_list

NameError: name 'unemployment_data' is not defined

In [2]:
tract_dic = {i:k for k,i in enumerate(wage_sample["uu_id"])}

NameError: name 'wage_sample' is not defined

In [3]:
unemployment_sample["uu_id"] = [tract_dic[i] for i in unemployment_sample["uu_id"]]

NameError: name 'unemployment_sample' is not defined

In [4]:
# remove unnecessary colomns and combine unemployment data together with wages
unemployment_sample = unemployment_data.copy()
unemployment_sample = unemployment_sample.drop(['timeperiod', 'tract', 'tract_name', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs',\
                                               'edu_unknown', 'top_category_employer1', 'top_category_employer2', 'top_category_employer3', 'gender_female', 'gender_male',\
                                                'gender_na', 'race_amerindian', 'race_asian', 'race_black', 'race_noanswer', 'race_hawaiiannative',\
                                               'race_other', 'race_white'], axis=1)
wage_sample = wage_data.copy()
wage_sample.drop(['tract', 'tract_name'], axis=1)
prediction_sample = prediction_list.copy()
wages_dict = {i:wage_sample["average_wage"].values[k] for k,i in enumerate(wage_sample["uu_id"])}
wage_list = [wages_dict[i]  for i in unemployment_sample["uu_id"]]
# print(wages_dict)
unemployment_sample["average_wage"] = wage_list

NameError: name 'unemployment_data' is not defined

In [5]:
tract_dic = {i:k for k,i in enumerate(wage_sample["uu_id"])}

NameError: name 'wage_sample' is not defined

In [6]:
unemployment_sample["uu_id"] = [tract_dic[i] for i in unemployment_sample["uu_id"]]

NameError: name 'unemployment_sample' is not defined

In [7]:
get_ipython().run_cell_magic('capture', '', "%logstop\n%logstart -t -r -q ipython_command_log.py global\n\n#- IRONHACKS RESEARCH TRACKING CODE\n#----------------------------------\n# The following code is used to help our research team understand how you \n# our notebook environment. We do not collect any personal information with\n# the following code, it is used to measure when and how often you work on\n# your submission files.\n\nimport os\nfrom datetime import datetime\nimport IPython.core.history as history\n\nha = history.HistoryAccessor()\nha_tail = ha.get_tail(1)\nha_cmd = next(ha_tail)\nsession_id = str(ha_cmd[0])\ncommand_id = str(ha_cmd[1])\ntimestamp = datetime.utcnow().isoformat()\nhistory_line = ','.join([session_id, command_id, timestamp]) + '\\n'\nlogfile = open(os.environ['HOME']+'/ipython_session_log.csv', 'a')\nlogfile.write(history_line)\nlogfile.close()\n")

In [8]:
get_ipython().run_cell_magic('capture', '', "\n#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED\n#------------------------------------------\n# This is normally not required. The hub environment comes preinstaled with \n# many packages that you can already use without setup. In case there is some\n# other library you would like to use that isn't on the list you run this command\n# once to install them.  If it is already installed this command has no effect.\n\n!python3 -m pip install pandas\n")

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [9]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

- DEFINE YOUR CLASSES AND FUNCTIONS 
-----------------------------------
This is not required, but is helpful in keeping your notebook organized. 
You can use the following cell or several cells to define your functions
and classes to keep them separate from your analysis or results code.
In general it useful to define your methods in a separate cell from where
it is run.

In [10]:
def example_function():
    print('Hello World')

In [11]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [12]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [13]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
print(unemployment_data)

                                  uu_id  timeperiod  week_number  countyfips  \
0      f013068de98db1470bd986137a0c6d23    20220416           16       18003
1      21957d5517323845818d87623589e1ba    20220319           12       18089
2      6a5609f385912113b6f1014b958ed748    20220326           13       18089
3      46b2882ec4c373527ec33f7bd4f1388d    20220716           29       18089
4      37495d17e82f7df326bfc2c4c090f7b7    20220409           15       18089
...                                 ...         ...          ...         ...
16828  f35320206f3dd1ffc411e4ac127caf92    20220618           25       18163
16829  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16830  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16831  bbcb018f0e5e49e13636f6e78ce9f60f    20220326           13       18163
16832  bbcb018f0e5e49e13636f6e78ce9f60f    20220416           16       18163

       tract                                        tract_name  total_claims  \
0        900             Census Tract 9, Allen County, Indiana            22
1      10400            Census Tract 104, Lake County, Indiana           111
2      11500            Census Tract 115, Lake County, Indiana            39
3      20700            Census Tract 207, Lake County, Indiana            14
4      21900            Census Tract 219, Lake County, Indiana           155
...      ...                                               ...           ...
16828   3804   Census Tract 38.04, Vanderburgh County, Indiana            21
16829   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16830   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16831  10203  Census Tract 102.03, Vanderburgh County, Indiana            53
16832  10203  Census Tract 102.03, Vanderburgh County, Indiana            24

       edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  ...  \
0                    0             <NA>                 14  ...
1                    0             <NA>                108  ...
2                    0             <NA>               <NA>  ...
3                    0             <NA>               <NA>  ...
4                    0             <NA>                 69  ...
...                ...              ...                ...  ...
16828                0             <NA>               <NA>  ...
16829                0             <NA>                 13  ...
16830                0             <NA>                 13  ...
16831                0             <NA>                 48  ...
16832                0             <NA>                 18  ...

       gender_female  gender_male gender_na race_amerindian race_asian  \
0               <NA>         <NA>         0               0          0
1                 76           35         0               0          0
2               <NA>         <NA>         0               0          0
3               <NA>         <NA>         0               0       <NA>
4                 90           65         0               0          0
...              ...          ...       ...             ...        ...
16828           <NA>         <NA>         0               0          0
16829           <NA>         <NA>         0               0          0
16830           <NA>         <NA>         0               0          0
16831           <NA>         <NA>         0               0          0
16832             11           13         0               0       <NA>

       race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0              11              0                    0        <NA>        <NA>
1            <NA>           <NA>                    0           0           0
2              39              0                    0           0           0
3              10              0                    0        <NA>        <NA>
4             135           <NA>                 <NA>        <NA>        <NA>
...           ...            ...                  ...         ...         ...
16828        <NA>           <NA>                    0        <NA>          14
16829        <NA>           <NA>                    0        <NA>        <NA>
16830        <NA>           <NA>                    0        <NA>        <NA>
16831        <NA>           <NA>                    0           0        <NA>
16832        <NA>           <NA>                    0           0        <NA>

[16833 rows x 25 columns]

In [14]:
print(unemployment_sample.loc[1])

NameError: name 'unemployment_sample' is not defined

In [15]:
X = unemployment_sample.drop(["total_claims"], axis=1).to_numpy() #to_numpy() values
y = unemployment_sample['total_claims'].to_numpy()   #to_numpy() values
# print(X.shape,y.shape)

NameError: name 'unemployment_sample' is not defined

In [16]:
get_ipython().run_cell_magic('capture', '', "%logstop\n%logstart -t -r -q ipython_command_log.py global\n\n#- IRONHACKS RESEARCH TRACKING CODE\n#----------------------------------\n# The following code is used to help our research team understand how you \n# our notebook environment. We do not collect any personal information with\n# the following code, it is used to measure when and how often you work on\n# your submission files.\n\nimport os\nfrom datetime import datetime\nimport IPython.core.history as history\n\nha = history.HistoryAccessor()\nha_tail = ha.get_tail(1)\nha_cmd = next(ha_tail)\nsession_id = str(ha_cmd[0])\ncommand_id = str(ha_cmd[1])\ntimestamp = datetime.utcnow().isoformat()\nhistory_line = ','.join([session_id, command_id, timestamp]) + '\\n'\nlogfile = open(os.environ['HOME']+'/ipython_session_log.csv', 'a')\nlogfile.write(history_line)\nlogfile.close()\n")

In [17]:
get_ipython().run_cell_magic('capture', '', "\n#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED\n#------------------------------------------\n# This is normally not required. The hub environment comes preinstaled with \n# many packages that you can already use without setup. In case there is some\n# other library you would like to use that isn't on the list you run this command\n# once to install them.  If it is already installed this command has no effect.\n\n!python3 -m pip install pandas db-dtypes\n")

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [18]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

- DEFINE YOUR CLASSES AND FUNCTIONS 
-----------------------------------
This is not required, but is helpful in keeping your notebook organized. 
You can use the following cell or several cells to define your functions
and classes to keep them separate from your analysis or results code.
In general it useful to define your methods in a separate cell from where
it is run.

In [19]:
def example_function():
    print('Hello World')

In [20]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [21]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [22]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
print(unemployment_data)

                                  uu_id  timeperiod  week_number  countyfips  \
0      f013068de98db1470bd986137a0c6d23    20220416           16       18003
1      21957d5517323845818d87623589e1ba    20220319           12       18089
2      6a5609f385912113b6f1014b958ed748    20220326           13       18089
3      46b2882ec4c373527ec33f7bd4f1388d    20220716           29       18089
4      37495d17e82f7df326bfc2c4c090f7b7    20220409           15       18089
...                                 ...         ...          ...         ...
16828  f35320206f3dd1ffc411e4ac127caf92    20220618           25       18163
16829  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16830  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16831  bbcb018f0e5e49e13636f6e78ce9f60f    20220326           13       18163
16832  bbcb018f0e5e49e13636f6e78ce9f60f    20220416           16       18163

       tract                                        tract_name  total_claims  \
0        900             Census Tract 9, Allen County, Indiana            22
1      10400            Census Tract 104, Lake County, Indiana           111
2      11500            Census Tract 115, Lake County, Indiana            39
3      20700            Census Tract 207, Lake County, Indiana            14
4      21900            Census Tract 219, Lake County, Indiana           155
...      ...                                               ...           ...
16828   3804   Census Tract 38.04, Vanderburgh County, Indiana            21
16829   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16830   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16831  10203  Census Tract 102.03, Vanderburgh County, Indiana            53
16832  10203  Census Tract 102.03, Vanderburgh County, Indiana            24

       edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  ...  \
0                    0             <NA>                 14  ...
1                    0             <NA>                108  ...
2                    0             <NA>               <NA>  ...
3                    0             <NA>               <NA>  ...
4                    0             <NA>                 69  ...
...                ...              ...                ...  ...
16828                0             <NA>               <NA>  ...
16829                0             <NA>                 13  ...
16830                0             <NA>                 13  ...
16831                0             <NA>                 48  ...
16832                0             <NA>                 18  ...

       gender_female  gender_male gender_na race_amerindian race_asian  \
0               <NA>         <NA>         0               0          0
1                 76           35         0               0          0
2               <NA>         <NA>         0               0          0
3               <NA>         <NA>         0               0       <NA>
4                 90           65         0               0          0
...              ...          ...       ...             ...        ...
16828           <NA>         <NA>         0               0          0
16829           <NA>         <NA>         0               0          0
16830           <NA>         <NA>         0               0          0
16831           <NA>         <NA>         0               0          0
16832             11           13         0               0       <NA>

       race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0              11              0                    0        <NA>        <NA>
1            <NA>           <NA>                    0           0           0
2              39              0                    0           0           0
3              10              0                    0        <NA>        <NA>
4             135           <NA>                 <NA>        <NA>        <NA>
...           ...            ...                  ...         ...         ...
16828        <NA>           <NA>                    0        <NA>          14
16829        <NA>           <NA>                    0        <NA>        <NA>
16830        <NA>           <NA>                    0        <NA>        <NA>
16831        <NA>           <NA>                    0           0        <NA>
16832        <NA>           <NA>                    0           0        <NA>

[16833 rows x 25 columns]