In [1]:
get_ipython().run_line_magic('pip', 'install db-dtypes')

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

Requirement already satisfied: db-dtypes in /opt/homebrew/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/homebrew/lib/python3.9/site-packages (from db-dtypes) (1.5.1)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/homebrew/lib/python3.9/site-packages (from db-dtypes) (10.0.0)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/homebrew/lib/python3.9/site-packages (from db-dtypes) (1.23.4)
Requirement already satisfied: packaging>=17.0 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from packaging>=17.0->db-dtypes) (3.0.9)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2022.6)
Requirement already satisfied: six>=1.5 in /Users/weihaochen/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

Note: you may need to restart the kernel to use updated packages.

In [2]:
from google.cloud import bigquery

In [3]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [4]:
query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [5]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()

In [6]:
unemployment_data

     f0_
0  16833

In [7]:
unemployment_data.head(

SyntaxError: unexpected EOF while parsing (547478491.py, line 1)

In [8]:
unemployment_data.head()

     f0_
0  16833

In [9]:
unemployment_data

     f0_
0  16833

In [10]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [11]:
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()

In [12]:
unemployment_data

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,f35320206f3dd1ffc411e4ac127caf92,20220618,25,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",21,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,14
16829,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,<NA>,13,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16830,f35320206f3dd1ffc411e4ac127caf92,20220827,35,18163,3804,"Census Tract 38.04, Vanderburgh County, Indiana",22,0,<NA>,13,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,<NA>
16831,bbcb018f0e5e49e13636f6e78ce9f60f,20220326,13,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",53,0,<NA>,48,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,bbcb018f0e5e49e13636f6e78ce9f60f,20220416,16,18163,10203,"Census Tract 102.03, Vanderburgh County, Indiana",24,0,<NA>,18,...,11,13,0,0,<NA>,<NA>,<NA>,0,0,<NA>

In [13]:
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [14]:
unemployment_data.columns

Index(['uu_id', 'timeperiod', 'week_number', 'countyfips', 'tract',
       'tract_name', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'],
      dtype='object')

In [15]:
unemployment_data.shape

(16833, 25)

In [16]:
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [17]:
unemployment_data.head

<bound method NDFrame.head of                                   uu_id  timeperiod  week_number  countyfips  \
0      f013068de98db1470bd986137a0c6d23    20220416           16       18003
1      21957d5517323845818d87623589e1ba    20220319           12       18089
2      6a5609f385912113b6f1014b958ed748    20220326           13       18089
3      46b2882ec4c373527ec33f7bd4f1388d    20220716           29       18089
4      37495d17e82f7df326bfc2c4c090f7b7    20220409           15       18089
...                                 ...         ...          ...         ...
16828  f35320206f3dd1ffc411e4ac127caf92    20220618           25       18163
16829  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16830  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16831  bbcb018f0e5e49e13636f6e78ce9f60f    20220326           13       18163
16832  bbcb018f0e5e49e13636f6e78ce9f60f    20220416           16       18163

       tract                                        tract_name  total_claims  \
0        900             Census Tract 9, Allen County, Indiana            22
1      10400            Census Tract 104, Lake County, Indiana           111
2      11500            Census Tract 115, Lake County, Indiana            39
3      20700            Census Tract 207, Lake County, Indiana            14
4      21900            Census Tract 219, Lake County, Indiana           155
...      ...                                               ...           ...
16828   3804   Census Tract 38.04, Vanderburgh County, Indiana            21
16829   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16830   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16831  10203  Census Tract 102.03, Vanderburgh County, Indiana            53
16832  10203  Census Tract 102.03, Vanderburgh County, Indiana            24

       edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  ...  \
0                    0             <NA>                 14  ...
1                    0             <NA>                108  ...
2                    0             <NA>               <NA>  ...
3                    0             <NA>               <NA>  ...
4                    0             <NA>                 69  ...
...                ...              ...                ...  ...
16828                0             <NA>               <NA>  ...
16829                0             <NA>                 13  ...
16830                0             <NA>                 13  ...
16831                0             <NA>                 48  ...
16832                0             <NA>                 18  ...

       gender_female  gender_male gender_na race_amerindian race_asian  \
0               <NA>         <NA>         0               0          0
1                 76           35         0               0          0
2               <NA>         <NA>         0               0          0
3               <NA>         <NA>         0               0       <NA>
4                 90           65         0               0          0
...              ...          ...       ...             ...        ...
16828           <NA>         <NA>         0               0          0
16829           <NA>         <NA>         0               0          0
16830           <NA>         <NA>         0               0          0
16831           <NA>         <NA>         0               0          0
16832             11           13         0               0       <NA>

       race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0              11              0                    0        <NA>        <NA>
1            <NA>           <NA>                    0           0           0
2              39              0                    0           0           0
3              10              0                    0        <NA>        <NA>
4             135           <NA>                 <NA>        <NA>        <NA>
...           ...            ...                  ...         ...         ...
16828        <NA>           <NA>                    0        <NA>          14
16829        <NA>           <NA>                    0        <NA>        <NA>
16830        <NA>           <NA>                    0        <NA>        <NA>
16831        <NA>           <NA>                    0           0        <NA>
16832        <NA>           <NA>                    0           0        <NA>

[16833 rows x 25 columns]>

In [18]:
unemployment_data['total_claims'].head

<bound method NDFrame.head of 0         22
1        111
2         39
3         14
4        155
        ...
16828     21
16829     22
16830     22
16831     53
16832     24
Name: total_claims, Length: 16833, dtype: Int64>

In [19]:
unemployment_data['week_number'].head

<bound method NDFrame.head of 0        16
1        12
2        13
3        29
4        15
         ..
16828    25
16829    35
16830    35
16831    13
16832    16
Name: week_number, Length: 16833, dtype: Int64>

In [20]:
unemployment_data['week_number'].describe()

count      16833.0
mean     21.329531
std      11.618554
min            1.0
25%           11.0
50%           22.0
75%           32.0
max           37.0
Name: week_number, dtype: Float64

In [21]:
unemployment_data.describe()

,timeperiod,week_number,countyfips,tract,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,edu_post_hs,edu_unknown,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
count,16833.0,16833.0,16833.0,16833.0,16833.0,13748.0,5942.0,6036.0,3246.0,12031.0,3835.0,3931.0,15868.0,15285.0,14939.0,7124.0,10089.0,16426.0,8075.0,6392.0
mean,20220540.093329,21.329531,18088.919682,211605.900315,22.952712,0.050989,1.291148,19.319583,16.923598,0.131992,18.957757,19.689138,0.005546,0.010926,0.014057,10.738069,0.207156,0.0,0.504396,17.312735
std,268.366832,11.618554,41.019467,288715.02492,14.583655,1.05481,5.320218,12.554864,10.889373,1.772384,11.939064,12.093698,0.454213,0.49316,0.568924,15.92762,2.51169,0.0,3.353956,11.623372
min,20220101.0,1.0,18001.0,100.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,20220312.0,11.0,18063.0,10100.0,14.0,0.0,0.0,12.0,11.0,0.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
50%,20220528.0,22.0,18095.0,42801.0,18.0,0.0,0.0,15.0,14.0,0.0,15.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
75%,20220806.0,32.0,18103.0,342600.0,27.0,0.0,0.0,22.0,20.0,0.0,22.0,23.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,21.0
max,20220910.0,37.0,18183.0,976400.0,170.0,41.0,78.0,137.0,154.0,60.0,126.0,139.0,49.0,36.0,41.0,163.0,110.0,0.0,74.0,155.0

In [22]:
unmeployment_data[['total_claims']].groupby('week_number').mean()

NameError: name 'unmeployment_data' is not defined

In [23]:
unemployment_data[['total_claims']].groupby('week_number').mean()

KeyError: 'week_number'

In [24]:
unemployment_data[['total_claims']].groupby('week_number').mean()

KeyError: 'week_number'

In [25]:
unemployment_data[['total_claims']].groupby('week_number')

KeyError: 'week_number'

In [26]:
unemployment_data[['total_claims']].groupby('week_number').mean()

KeyError: 'week_number'

In [27]:
unemployment_data['total_claims'].groupby('week_number').mean()

KeyError: 'week_number'

In [28]:
unemployment_data.groupby('week_number')['total_claims'].mean()

week_number
1     22.329787
2      26.62249
3     24.195021
5     25.057692
6     22.951648
7     22.098876
8     24.723502
9     25.116667
10    24.054591
11        25.77
12    22.676923
13    23.100543
14    23.222513
15    27.707143
16    24.754762
17    26.810811
18     26.36272
19    20.559767
20    19.791304
21    20.934286
22     19.77381
24    20.147399
25    19.803235
26    20.513441
27    21.757576
28    21.565891
29    21.225389
30    19.163539
31    21.861728
32    20.243523
33     23.40048
34    20.675545
35    20.419355
36    25.406542
37    26.401891
Name: total_claims, dtype: Float64

In [29]:
unemployment_data.groupby('week_number','race_asian')['total_claims'].mean()

ValueError: No axis named race_asian for object type DataFrame

In [30]:
unemployment_data.groupby(('week_number','race_asian'))['total_claims'].mean()

KeyError: ('week_number', 'race_asian')

In [31]:
unemployment_data.groupby[('week_number','race_asian')]['total_claims'].mean()

TypeError: 'method' object is not subscriptable

In [32]:
unemployment_data.groupby(['week_number','race_asian'])['total_claims'].mean()

week_number  race_asian
1            0             22.377672
2            0             26.549884
3            0              23.93662
5            0             24.863415
             13                 32.5
             20                 28.0
6            0             23.080201
7            0             22.055838
8            0             24.533854
9            0             24.908602
10           0             23.758242
             10                 38.0
             19                 89.0
11           0             25.617486
12           0             22.688385
13           0             23.442478
14           0             23.072046
             24                 34.0
15           0             26.724868
16           0             24.027027
             11                 54.0
17           0             25.267606
18           0             25.663818
             12                 45.0
             41                 46.0
19           0             20.144737
20           0             19.878689
21           0             20.903226
             26                 71.0
22           0              19.62963
24           0             20.144695
25           0             19.472222
26           0             20.212766
27           0             20.844037
             21                 27.0
28           0             21.604167
29           0              21.25816
30           0             18.664634
31           0             21.649457
32           0             20.123529
33           0             22.686486
34           0             20.562162
35           0             20.041899
36           0             25.094086
37           0             25.480769
Name: total_claims, dtype: Float64

In [33]:
unemployment_data.groupby(['gender_female','gender_male'])['total_claims'].mean()

gender_female  gender_male
0              10              10.0
               11              11.0
               12              12.0
               13              13.0
               14              14.0
                              ...
96             24             120.0
103            15             118.0
112            39             151.0
119            26             145.0
126            17             143.0
Name: total_claims, Length: 900, dtype: Float64

In [34]:
unemployment_data.groupby('uuid')['total_claims'].mean()

KeyError: 'uuid'

In [35]:
unemployment_data.groupby('uu_id')['total_claims'].mean()

uu_id
001cd9ae23064d7f0fd3cd327c873d8d    15.454545
005be9532fd717dc36d4be318fd9ad25    32.852941
007c1caccff1fbb3a0b8a10790f77141        18.88
009683350b175edfc6414d664e4ba873    19.130435
00f962ce727b8dbbf20925abd5a253dd     39.52381
                                      ...
fcf9f3effa992cfd552696e4ae7219b6       16.275
fcfc60d8240e5a51f878fd92e2a352a3    19.705882
fd613eba867c6ad7350a937f743b88f2    21.485714
fe355ff27aa8b2242a558d5e3ec99c18    15.666667
fec479d0202d6e1e3f051a9ee902ff5d    30.404762
Name: total_claims, Length: 525, dtype: Float64

In [36]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [37]:
query2 = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [38]:
query3 = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [39]:
query_job2 = bigquery_client.query(query2)
wage_data = query_job2.to_dataframe()

In [40]:
query_job3 = bigquery_client.query(query3)
prediction_list = query_job3.to_dataframe()

In [41]:
wage_data.head

<bound method NDFrame.head of                                 uu_id  countyfips   tract  \
0    585f8731c2255d6b3f817a31180848b9       18177     200
1    8c9d2aa90948679972a9382aadcc6001       18177     900
2    0f3d45341a5b113b813ffb7be7f58bab       18183   50300
3    fb55464f8e34af6d750d06968bf719b8       18183   50400
4    983badfd7b568728e39a2344a9006078       18001   30200
..                                ...         ...     ...
520  4a6ae3b5be1b9b7c10c177e1b9fded82       18169  102800
521  e0e676badd59e9b1f2ecf853d2ca1ecb       18173   30500
522  4338a76c28b57d89da8a28cf06adcf73       18173   30600
523  3224483a60925de51923d51b10a00141       18173   30800
524  7b67eb2512a721025efe5cb967a38aff       18173   30400

                                    tract_name  average_wage
0        Census Tract 2, Wayne County, Indiana   6612.000000
1        Census Tract 9, Wayne County, Indiana   9883.250000
2    Census Tract 503, Whitley County, Indiana  13992.250000
3    Census Tract 504, Whitley County, Indiana  13613.500000
4      Census Tract 302, Adams County, Indiana  11816.666667
..                                         ...           ...
520  Census Tract 1028, Wabash County, Indiana   7061.200000
521  Census Tract 305, Warrick County, Indiana   8687.000000
522  Census Tract 306, Warrick County, Indiana  11917.375000
523  Census Tract 308, Warrick County, Indiana  15117.700000
524  Census Tract 304, Warrick County, Indiana   9386.000000

[525 rows x 5 columns]>

In [42]:
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [43]:
prediction_list.head(

SyntaxError: unexpected EOF while parsing (3809874088.py, line 1)

In [44]:
prediction_list.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [45]:
merged_data = prediction_list.merge(unemployment_data, on='uu_id',how='left')

In [46]:
merged_data

,uu_id,week_number_x,timeperiod,week_number_y,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,5bf51fc2e162d6faf9e3cf79e4198378,44,20220625,26,18103,952800,"Census Tract 9528, Miami County, Indiana",20,0,<NA>,...,<NA>,<NA>,0,<NA>,0,<NA>,0,0,0,<NA>
1,5bf51fc2e162d6faf9e3cf79e4198378,44,20220820,34,18103,952800,"Census Tract 9528, Miami County, Indiana",11,0,0,...,<NA>,<NA>,0,<NA>,0,<NA>,0,0,0,<NA>
2,5bf51fc2e162d6faf9e3cf79e4198378,44,20220820,34,18103,952800,"Census Tract 9528, Miami County, Indiana",11,0,0,...,<NA>,<NA>,0,<NA>,0,<NA>,0,0,0,<NA>
3,5bf51fc2e162d6faf9e3cf79e4198378,44,20220827,35,18103,952800,"Census Tract 9528, Miami County, Indiana",20,0,0,...,<NA>,<NA>,0,0,0,<NA>,0,0,0,<NA>
4,5bf51fc2e162d6faf9e3cf79e4198378,44,20220827,35,18103,952800,"Census Tract 9528, Miami County, Indiana",20,0,0,...,<NA>,<NA>,0,0,0,<NA>,0,0,0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,932a58530abff8a48558e2a15639d453,44,20220813,33,18091,41500,"Census Tract 415, LaPorte County, Indiana",17,<NA>,0,...,<NA>,<NA>,0,0,0,0,0,0,0,17
16829,932a58530abff8a48558e2a15639d453,44,20220507,19,18091,41500,"Census Tract 415, LaPorte County, Indiana",11,0,0,...,<NA>,<NA>,0,0,0,0,<NA>,0,<NA>,<NA>
16830,932a58530abff8a48558e2a15639d453,44,20220716,29,18091,41500,"Census Tract 415, LaPorte County, Indiana",25,0,15,...,<NA>,<NA>,0,0,0,0,<NA>,0,0,<NA>
16831,932a58530abff8a48558e2a15639d453,44,20220409,15,18091,41500,"Census Tract 415, LaPorte County, Indiana",13,0,0,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,932a58530abff8a48558e2a15639d453,44,20220430,18,18091,41500,"Census Tract 415, LaPorte County, Indiana",30,0,0,...,12,18,0,0,0,<NA>,<NA>,0,<NA>,26

In [47]:
unemployment_data.shape

(16833, 25)

In [48]:
prediction_list.shape

(525, 2)

In [49]:
merged_data

,uu_id,week_number_x,timeperiod,week_number_y,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,5bf51fc2e162d6faf9e3cf79e4198378,44,20220625,26,18103,952800,"Census Tract 9528, Miami County, Indiana",20,0,<NA>,...,<NA>,<NA>,0,<NA>,0,<NA>,0,0,0,<NA>
1,5bf51fc2e162d6faf9e3cf79e4198378,44,20220820,34,18103,952800,"Census Tract 9528, Miami County, Indiana",11,0,0,...,<NA>,<NA>,0,<NA>,0,<NA>,0,0,0,<NA>
2,5bf51fc2e162d6faf9e3cf79e4198378,44,20220820,34,18103,952800,"Census Tract 9528, Miami County, Indiana",11,0,0,...,<NA>,<NA>,0,<NA>,0,<NA>,0,0,0,<NA>
3,5bf51fc2e162d6faf9e3cf79e4198378,44,20220827,35,18103,952800,"Census Tract 9528, Miami County, Indiana",20,0,0,...,<NA>,<NA>,0,0,0,<NA>,0,0,0,<NA>
4,5bf51fc2e162d6faf9e3cf79e4198378,44,20220827,35,18103,952800,"Census Tract 9528, Miami County, Indiana",20,0,0,...,<NA>,<NA>,0,0,0,<NA>,0,0,0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16828,932a58530abff8a48558e2a15639d453,44,20220813,33,18091,41500,"Census Tract 415, LaPorte County, Indiana",17,<NA>,0,...,<NA>,<NA>,0,0,0,0,0,0,0,17
16829,932a58530abff8a48558e2a15639d453,44,20220507,19,18091,41500,"Census Tract 415, LaPorte County, Indiana",11,0,0,...,<NA>,<NA>,0,0,0,0,<NA>,0,<NA>,<NA>
16830,932a58530abff8a48558e2a15639d453,44,20220716,29,18091,41500,"Census Tract 415, LaPorte County, Indiana",25,0,15,...,<NA>,<NA>,0,0,0,0,<NA>,0,0,<NA>
16831,932a58530abff8a48558e2a15639d453,44,20220409,15,18091,41500,"Census Tract 415, LaPorte County, Indiana",13,0,0,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,0,<NA>
16832,932a58530abff8a48558e2a15639d453,44,20220430,18,18091,41500,"Census Tract 415, LaPorte County, Indiana",30,0,0,...,12,18,0,0,0,<NA>,<NA>,0,<NA>,26

In [50]:
merged_data.shape,prediction_list.shape

((16833, 26), (525, 2))

In [51]:
merged_data.shape,prediction_list.shape,unemployment_data.shape

((16833, 26), (525, 2), (16833, 25))

In [52]:
merged_data = pd.merge(prediction_list,unemployment_data, on='uu_id', how='left')

NameError: name 'pd' is not defined

In [53]:
import pandas as pd

In [54]:
merged_data = pd.merge(prediction_list,unemployment_data, on='uu_id', how='left')

In [55]:
merged_data.shape

(16833, 26)

In [56]:
merged_data = prediction_list.merge(unemployment_data, on='uu_id',how='inner')

In [57]:
merged_data.shape

(16833, 26)

In [58]:
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [59]:
merged_data = pd.merge(prediction_list,unemployment_data, on='uu_id', how='left')

In [60]:
prediction_list.shape

(525, 2)

In [61]:
prediction_list.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [62]:
prediction_list.shape

(525, 2)

In [63]:
prediction_list.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [64]:
prediction_list.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [65]:
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [66]:
unemployment_data.columns

Index(['uu_id', 'timeperiod', 'week_number', 'countyfips', 'tract',
       'tract_name', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11',
       'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown',
       'top_category_employer1', 'top_category_employer2',
       'top_category_employer3', 'gender_female', 'gender_male', 'gender_na',
       'race_amerindian', 'race_asian', 'race_black', 'race_noanswer',
       'race_hawaiiannative', 'race_other', 'race_white'],
      dtype='object')

In [67]:
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [68]:
merged_data = pd.merge(prediction_list,unemployment_data, on='uu_id', how='left')

In [69]:
merged_data.shape

(16833, 26)

In [70]:
merged_data = prediction_list.merge(unemployment_data['uu_id'], on='uu_id',how='inner')

In [71]:
merged_data.shape

(16833, 2)

In [72]:
merged_data.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  5bf51fc2e162d6faf9e3cf79e4198378           44
2  5bf51fc2e162d6faf9e3cf79e4198378           44
3  5bf51fc2e162d6faf9e3cf79e4198378           44
4  5bf51fc2e162d6faf9e3cf79e4198378           44

In [73]:
merged_data

                                  uu_id  week_number
0      5bf51fc2e162d6faf9e3cf79e4198378           44
1      5bf51fc2e162d6faf9e3cf79e4198378           44
2      5bf51fc2e162d6faf9e3cf79e4198378           44
3      5bf51fc2e162d6faf9e3cf79e4198378           44
4      5bf51fc2e162d6faf9e3cf79e4198378           44
...                                 ...          ...
16828  932a58530abff8a48558e2a15639d453           44
16829  932a58530abff8a48558e2a15639d453           44
16830  932a58530abff8a48558e2a15639d453           44
16831  932a58530abff8a48558e2a15639d453           44
16832  932a58530abff8a48558e2a15639d453           44

[16833 rows x 2 columns]

In [74]:
merged_data = prediction_list.merge(unemployment_data['uu_id','week_number'], on='uu_id',how='inner')

KeyError: ('uu_id', 'week_number')

In [75]:
merged_data = prediction_list.merge(unemployment_data[['uu_id','week_number']], on='uu_id',how='inner')

In [76]:
merged_data

                                  uu_id  week_number_x  week_number_y
0      5bf51fc2e162d6faf9e3cf79e4198378             44             26
1      5bf51fc2e162d6faf9e3cf79e4198378             44             34
2      5bf51fc2e162d6faf9e3cf79e4198378             44             34
3      5bf51fc2e162d6faf9e3cf79e4198378             44             35
4      5bf51fc2e162d6faf9e3cf79e4198378             44             35
...                                 ...            ...            ...
16828  932a58530abff8a48558e2a15639d453             44             33
16829  932a58530abff8a48558e2a15639d453             44             19
16830  932a58530abff8a48558e2a15639d453             44             29
16831  932a58530abff8a48558e2a15639d453             44             15
16832  932a58530abff8a48558e2a15639d453             44             18

[16833 rows x 3 columns]

In [77]:
unemplyment_data.value_counts()

NameError: name 'unemplyment_data' is not defined

In [78]:
unemployment_data.value_counts()

uu_id                             timeperiod  week_number  countyfips  tract   tract_name                                       total_claims  edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  edu_post_hs  edu_unknown  top_category_employer1  top_category_employer2  top_category_employer3  gender_female  gender_male  gender_na  race_amerindian  race_asian  race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0ad94f09274e2c9cb0ef5cb77eb334b4  20220903    36           18097       380100  Census Tract 3801, Marion County, Indiana        73            0                11               42                 20           0            56                      62                      23                      55             18           0          0                0           17          0              0                    0           56            2
def0c3fa02633394cd2b5041de7710ac  20220903    36           18109       510500  Census Tract 5105, Morgan County, Indiana        60            0                0                37                 23           0            56                      44-45                   62                      14             46           0          0                0           0           23             0                    0           37            2
06c78e49b4daedfeb808c42e58fb25e4  20220402    14           18063       210603  Census Tract 2106.03, Hendricks County, Indiana  45            0                0                21                 24           0            44-45                   54                      48-49                   22             23           0          0                0           19          0              0                    0           26            1
1bd2241076381b8c9e85d660512a013e  20220514    20           18039       1300    Census Tract 13, Elkhart County, Indiana         16            0                0                0                  16           0            48-49                   N/A                     N/A                     16             0            0          0                0           16          0              0                    0           0             1
5091d0be49e94dc89756d9b0dd743214  20220416    16           18089       11200   Census Tract 112, Lake County, Indiana           98            0                0                72                 26           0            48-49                   31-33                   56                      66             32           0          0                0           58          40             0                    0           0             1
6f483941cceef95c97d28b4f904a0d57  20220129    5            18127       51002   Census Tract 510.02, Porter County, Indiana      37            0                0                14                 23           0            52                      23                      48-49                   16             21           0          0                0           0           0              0                    0           37            1
7e2478517261a19d87c0ab2e737fb25f  20220312    11           18163       1000    Census Tract 10, Vanderburgh County, Indiana     53            0                0                32                 21           0            23                      62                      44-45                   15             38           0          0                0           12          0              0                    0           41            1
81594c0c7e4ef4c4cdbb7133d01cb361  20220101    1            18067       10100   Census Tract 101, Howard County, Indiana         28            0                0                15                 13           0            31-33                   23                      56                      14             14           0          0                0           0           0              0                    0           28            1
9e943f3dccee65ed33733a794a4d030e  20220115    3            18097       321600  Census Tract 3216, Marion County, Indiana        37            0                0                17                 20           0            62                      61                      31-33                   22             15           0          0                0           26          0              0                    0           11            1
a0c62bdce75bc5e1d047eae6ab6046ad  20220423    17           18097       340112  Census Tract 3401.12, Marion County, Indiana     55            0                0                22                 33           0            23                      44-45                   56                      31             24           0          0                0           29          0              0                    0           26            1
a90462cd11ae4e43144239bf7c4828a4  20220129    5            18153       50300   Census Tract 503, Sullivan County, Indiana       37            0                10               17                 10           0            23                      72                      62                      12             25           0          0                0           0           0              0                    0           37            1
bcf10911a28373ba22a779145eaa9942  20220326    13           18053       10500   Census Tract 105, Grant County, Indiana          38            0                0                28                 10           0            56                      44-45                   62                      13             25           0          0                0           0           0              0                    0           38            1
c8c87872fa559a2fd200ded474e8a8ad  20220430    18           18141       1400    Census Tract 14, St. Joseph County, Indiana      75            0                0                15                 60           0            56                      31-33                   62                      12             63           0          0                0           13          0              0                    0           62            1
e50bc1df1b2b46879a29c009cf17654e  20220115    3            18061       60600   Census Tract 606, Harrison County, Indiana       31            0                0                21                 10           0            23                      62                      71                      13             18           0          0                0           0           0              0                    0           31            1
dtype: int64

In [79]:
unemployment_data.head

<bound method NDFrame.head of                                   uu_id  timeperiod  week_number  countyfips  \
0      f013068de98db1470bd986137a0c6d23    20220416           16       18003
1      21957d5517323845818d87623589e1ba    20220319           12       18089
2      6a5609f385912113b6f1014b958ed748    20220326           13       18089
3      46b2882ec4c373527ec33f7bd4f1388d    20220716           29       18089
4      37495d17e82f7df326bfc2c4c090f7b7    20220409           15       18089
...                                 ...         ...          ...         ...
16828  f35320206f3dd1ffc411e4ac127caf92    20220618           25       18163
16829  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16830  f35320206f3dd1ffc411e4ac127caf92    20220827           35       18163
16831  bbcb018f0e5e49e13636f6e78ce9f60f    20220326           13       18163
16832  bbcb018f0e5e49e13636f6e78ce9f60f    20220416           16       18163

       tract                                        tract_name  total_claims  \
0        900             Census Tract 9, Allen County, Indiana            22
1      10400            Census Tract 104, Lake County, Indiana           111
2      11500            Census Tract 115, Lake County, Indiana            39
3      20700            Census Tract 207, Lake County, Indiana            14
4      21900            Census Tract 219, Lake County, Indiana           155
...      ...                                               ...           ...
16828   3804   Census Tract 38.04, Vanderburgh County, Indiana            21
16829   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16830   3804   Census Tract 38.04, Vanderburgh County, Indiana            22
16831  10203  Census Tract 102.03, Vanderburgh County, Indiana            53
16832  10203  Census Tract 102.03, Vanderburgh County, Indiana            24

       edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  ...  \
0                    0             <NA>                 14  ...
1                    0             <NA>                108  ...
2                    0             <NA>               <NA>  ...
3                    0             <NA>               <NA>  ...
4                    0             <NA>                 69  ...
...                ...              ...                ...  ...
16828                0             <NA>               <NA>  ...
16829                0             <NA>                 13  ...
16830                0             <NA>                 13  ...
16831                0             <NA>                 48  ...
16832                0             <NA>                 18  ...

       gender_female  gender_male gender_na race_amerindian race_asian  \
0               <NA>         <NA>         0               0          0
1                 76           35         0               0          0
2               <NA>         <NA>         0               0          0
3               <NA>         <NA>         0               0       <NA>
4                 90           65         0               0          0
...              ...          ...       ...             ...        ...
16828           <NA>         <NA>         0               0          0
16829           <NA>         <NA>         0               0          0
16830           <NA>         <NA>         0               0          0
16831           <NA>         <NA>         0               0          0
16832             11           13         0               0       <NA>

       race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0              11              0                    0        <NA>        <NA>
1            <NA>           <NA>                    0           0           0
2              39              0                    0           0           0
3              10              0                    0        <NA>        <NA>
4             135           <NA>                 <NA>        <NA>        <NA>
...           ...            ...                  ...         ...         ...
16828        <NA>           <NA>                    0        <NA>          14
16829        <NA>           <NA>                    0        <NA>        <NA>
16830        <NA>           <NA>                    0        <NA>        <NA>
16831        <NA>           <NA>                    0           0        <NA>
16832        <NA>           <NA>                    0           0        <NA>

[16833 rows x 25 columns]>

In [80]:
unemployment_data.value_counts()

uu_id                             timeperiod  week_number  countyfips  tract   tract_name                                       total_claims  edu_8th_or_less  edu_grades_9_11  edu_hs_grad_equiv  edu_post_hs  edu_unknown  top_category_employer1  top_category_employer2  top_category_employer3  gender_female  gender_male  gender_na  race_amerindian  race_asian  race_black  race_noanswer  race_hawaiiannative  race_other  race_white
0ad94f09274e2c9cb0ef5cb77eb334b4  20220903    36           18097       380100  Census Tract 3801, Marion County, Indiana        73            0                11               42                 20           0            56                      62                      23                      55             18           0          0                0           17          0              0                    0           56            2
def0c3fa02633394cd2b5041de7710ac  20220903    36           18109       510500  Census Tract 5105, Morgan County, Indiana        60            0                0                37                 23           0            56                      44-45                   62                      14             46           0          0                0           0           23             0                    0           37            2
06c78e49b4daedfeb808c42e58fb25e4  20220402    14           18063       210603  Census Tract 2106.03, Hendricks County, Indiana  45            0                0                21                 24           0            44-45                   54                      48-49                   22             23           0          0                0           19          0              0                    0           26            1
1bd2241076381b8c9e85d660512a013e  20220514    20           18039       1300    Census Tract 13, Elkhart County, Indiana         16            0                0                0                  16           0            48-49                   N/A                     N/A                     16             0            0          0                0           16          0              0                    0           0             1
5091d0be49e94dc89756d9b0dd743214  20220416    16           18089       11200   Census Tract 112, Lake County, Indiana           98            0                0                72                 26           0            48-49                   31-33                   56                      66             32           0          0                0           58          40             0                    0           0             1
6f483941cceef95c97d28b4f904a0d57  20220129    5            18127       51002   Census Tract 510.02, Porter County, Indiana      37            0                0                14                 23           0            52                      23                      48-49                   16             21           0          0                0           0           0              0                    0           37            1
7e2478517261a19d87c0ab2e737fb25f  20220312    11           18163       1000    Census Tract 10, Vanderburgh County, Indiana     53            0                0                32                 21           0            23                      62                      44-45                   15             38           0          0                0           12          0              0                    0           41            1
81594c0c7e4ef4c4cdbb7133d01cb361  20220101    1            18067       10100   Census Tract 101, Howard County, Indiana         28            0                0                15                 13           0            31-33                   23                      56                      14             14           0          0                0           0           0              0                    0           28            1
9e943f3dccee65ed33733a794a4d030e  20220115    3            18097       321600  Census Tract 3216, Marion County, Indiana        37            0                0                17                 20           0            62                      61                      31-33                   22             15           0          0                0           26          0              0                    0           11            1
a0c62bdce75bc5e1d047eae6ab6046ad  20220423    17           18097       340112  Census Tract 3401.12, Marion County, Indiana     55            0                0                22                 33           0            23                      44-45                   56                      31             24           0          0                0           29          0              0                    0           26            1
a90462cd11ae4e43144239bf7c4828a4  20220129    5            18153       50300   Census Tract 503, Sullivan County, Indiana       37            0                10               17                 10           0            23                      72                      62                      12             25           0          0                0           0           0              0                    0           37            1
bcf10911a28373ba22a779145eaa9942  20220326    13           18053       10500   Census Tract 105, Grant County, Indiana          38            0                0                28                 10           0            56                      44-45                   62                      13             25           0          0                0           0           0              0                    0           38            1
c8c87872fa559a2fd200ded474e8a8ad  20220430    18           18141       1400    Census Tract 14, St. Joseph County, Indiana      75            0                0                15                 60           0            56                      31-33                   62                      12             63           0          0                0           13          0              0                    0           62            1
e50bc1df1b2b46879a29c009cf17654e  20220115    3            18061       60600   Census Tract 606, Harrison County, Indiana       31            0                0                21                 10           0            23                      62                      71                      13             18           0          0                0           0           0              0                    0           31            1
dtype: int64