In [1]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [2]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [3]:
BIGQUERY_PROJECT = 'ironhacks-data'

In [4]:
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [5]:
BIGQUERY_PROJECT = 'ironhacks-data'

In [6]:
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [7]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [8]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404

In [9]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [10]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0000,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0000,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0000,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0000,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0000,2.3404
...,...,...,...,...,...,...,...,...,...
360,2020-04-30,96.2771,10.2888,7.1714,69.4000,4.0540,-0.8344,0.6096,6.1917
361,2020-01-19,52.0808,3.7231,-1.8390,23.0505,-7.4012,-2.0879,0.1006,7.3570
362,2020-05-09,65.8581,13.9009,7.3270,26.1280,0.7531,-3.9989,0.0221,3.9315
363,2020-06-25,75.0191,28.4810,22.4637,35.8970,16.4465,-6.2345,0.0884,3.7202
364,2020-01-28,100.0000,8.6565,0.7474,45.1941,-7.1618,-0.8509,0.0282,1.9813

In [11]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [12]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404

In [13]:
query = """
SELECT date, max_rel_humidity
FROM ironhacks-data.ironhacks_training.weather_data
WHERE date='2020-06-16'
"""
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()

In [14]:
query = """
SELECT date, max_rel_humidity
FROM ironhacks-data.ironhacks_training.weather_data
WHERE date='2020-06-16'
"""
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

         date  max_rel_humidity
0  2020-06-16           82.2795

In [15]:
query = """

Select 
a.*,
b.cases 

FROM 

(SELECT 
extract(week(Monday) from date) as week_number,
AVG(mean_temperature) as mean_temperature_week,
date as start_date,
AVG(wind_speed) as mean_wind_speed_week
FROM `ironhacks_training.weather_data`
group by week_number,start_date) a

JOIN `ironhacks-data.ironhacks_training.covid19_cases` b 
ON a.week_number=b.week_number
order by week_number



"""

In [16]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

   week_number  mean_temperature_week  start_date  mean_wind_speed_week  cases
0            1                 8.5567  2020-01-06                2.8754   4714
1            1                 8.5567  2020-01-06                2.8754    964
2            1                13.4670  2020-01-07                4.0858   4714
3            1                13.4670  2020-01-07                4.0858    964
4            1                 8.4360  2020-01-08                4.1800   4714