In [1]:
get_ipython().system('pip install db-dtypes')

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.9/site-packages (1.0.5)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (10.0.1)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.5.3)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from db-dtypes) (1.22.4)

Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0dev,>=0.24.2->db-dtypes) (1.16.0)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -umpy (/opt/anaconda3/lib/python3.9/site-packages)

In [2]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [3]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [4]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [5]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16833 entries, 0 to 16832
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uu_id                   16833 non-null  object
 1   timeperiod              16833 non-null  Int64
 2   week_number             16833 non-null  Int64
 3   countyfips              16833 non-null  Int64
 4   tract                   16833 non-null  Int64
 5   tract_name              16833 non-null  object
 6   total_claims            16833 non-null  Int64
 7   edu_8th_or_less         13748 non-null  Int64
 8   edu_grades_9_11         5942 non-null   Int64
 9   edu_hs_grad_equiv       6036 non-null   Int64
 10  edu_post_hs             3246 non-null   Int64
 11  edu_unknown             12031 non-null  Int64
 12  top_category_employer1  16833 non-null  object
 13  top_category_employer2  16833 non-null  object
 14  top_category_employer3  16833 non-null  object
 15  gender_female           3835 non-null   Int64
 16  gender_male             3931 non-null   Int64
 17  gender_na               15868 non-null  Int64
 18  race_amerindian         15285 non-null  Int64
 19  race_asian              14939 non-null  Int64
 20  race_black              7124 non-null   Int64
 21  race_noanswer           10089 non-null  Int64
 22  race_hawaiiannative     16426 non-null  Int64
 23  race_other              8075 non-null   Int64
 24  race_white              6392 non-null   Int64
dtypes: Int64(20), object(5)
memory usage: 3.5+ MB

In [7]:
data["top_category_employer2"].value_counts()

56       3043
62       2471
23       1965
31-33    1962
72       1662
44-45    1608
48-49     985
81        545
54        518
52        474
42        431
61        334
55        281
92        157
71        132
53        115
N/A        49
51         46
99         21
21         17
11         10
22          7
Name: top_category_employer2, dtype: int64

In [8]:
data.loc[data["uu_id"] == "bd5b040eae3010ce09da8b176ed5aee0"]

Empty DataFrame
Columns: [uu_id, timeperiod, week_number, countyfips, tract, tract_name, total_claims, edu_8th_or_less, edu_grades_9_11, edu_hs_grad_equiv, edu_post_hs, edu_unknown, top_category_employer1, top_category_employer2, top_category_employer3, gender_female, gender_male, gender_na, race_amerindian, race_asian, race_black, race_noanswer, race_hawaiiannative, race_other, race_white]
Index: []

[0 rows x 25 columns]

In [9]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [10]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [11]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [12]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
predict = query_job.to_dataframe()
predict.head()

                              uu_id  week_number
0  5bf51fc2e162d6faf9e3cf79e4198378           44
1  420b44cc7e3f55d738df565421e59941           44
2  e39c66ecceec76ee8f9f811fa4a2d246           44
3  a90462cd11ae4e43144239bf7c4828a4           44
4  8b20a6749088c7ff1237983076ebfeaa           44

In [13]:
data["edu_8th_or_less"].value_counts()

0     13711
18        5
16        5
19        4
10        3
12        3
21        3
24        2
14        2
33        2
11        2
17        1
28        1
41        1
13        1
26        1
37        1
Name: edu_8th_or_less, dtype: Int64

In [14]:
data["race_black"].value_counts()

0      3881
11      241
12      234
10      227
13      216
       ...
72        1
138       1
91        1
65        1
117       1
Name: race_black, Length: 97, dtype: Int64

In [15]:
data["gender_female"].value_counts()

10    459
11    424
12    328
14    284
13    279
     ...
84      1
95      1
82      1
74      1
73      1
Name: gender_female, Length: 80, dtype: Int64