In [1]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [2]:
#Code for BigQuery
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [3]:
#Testing bigquery
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [4]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
covid19_cases_data.head()

   week_number  start_date  county   fips  cases  deaths
0            9  2021-03-01  Marion  18097    664      23
1           12  2021-03-22  Marion  18097    623      11
2           19  2021-05-10  Marion  18097   1156       4
3           11  2021-03-15  Marion  18097    560      13
4            6  2021-02-08  Marion  18097   1542     219

In [5]:
#Testing bigquery
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.unempoyment_data`
"""
query2="""
SELECT *
FROM `ironhacks-data.ironhacks_training.wage_data`
"""

In [6]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unempolyment_data = query_job.to_dataframe()
unemployment_data.head()

NotFound: 404 Not found: Table ironhacks-data:ironhacks_training.unempoyment_data was not found in location US

Location: US
Job ID: ff44a6ee-3cfb-4c6d-832e-5462428d106a

In [7]:
query_job = bigquery_client.query(query2)
wage_data = query_job.to_dataframe()
wage_data.head()

NotFound: 404 Not found: Table ironhacks-data:ironhacks_training.wage_data was not found in location US

Location: US
Job ID: acb99e8f-528e-44be-80f7-95ab69a1efbe

In [8]:
#Testing bigquery
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.unemployment_data`
"""
query2="""
SELECT *
FROM `ironhacks-data.ironhacks_training.wage_data`
"""

In [9]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unempolyment_data = query_job.to_dataframe()
unemployment_data.head()

NotFound: 404 Not found: Table ironhacks-data:ironhacks_training.unemployment_data was not found in location US

Location: US
Job ID: 206b0147-ebfd-45c3-9379-0330262fb083

In [10]:
query_job = bigquery_client.query(query2)
wage_data = query_job.to_dataframe()
wage_data.head()

NotFound: 404 Not found: Table ironhacks-data:ironhacks_training.wage_data was not found in location US

Location: US
Job ID: 7f328d40-877c-4100-8e94-74933c3f91f1

In [11]:
#Testing bigquery
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""
query2="""
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [12]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unempolyment_data = query_job.to_dataframe()
unemployment_data.head()

NameError: name 'unemployment_data' is not defined

In [13]:
query_job = bigquery_client.query(query2)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [14]:
#Testing bigquery
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""
query2 = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [15]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unempolyment_data = query_job.to_dataframe()
unemployment_data.head()

NameError: name 'unemployment_data' is not defined

In [16]:
query_job = bigquery_client.query(query2)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [17]:
#Testing bigquery
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""
query2 = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [18]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unempolyment_data = query_job.to_dataframe()
unemployment_data.head()

NameError: name 'unemployment_data' is not defined

In [19]:
query_job2 = bigquery_client.query(query2)
wage_data = query_job2.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [20]:
#Testing bigquery
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""
query2 = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [21]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [22]:
query_job2 = bigquery_client.query(query2)
wage_data = query_job2.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [23]:
#Query 
query2 = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [24]:
#Query Unemployment data
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
"""

In [25]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,f013068de98db1470bd986137a0c6d23,20220416,16,18003,900,"Census Tract 9, Allen County, Indiana",22,0,<NA>,14,...,<NA>,<NA>,0,0,0,11,0,0,<NA>,<NA>
1,21957d5517323845818d87623589e1ba,20220319,12,18089,10400,"Census Tract 104, Lake County, Indiana",111,0,<NA>,108,...,76,35,0,0,0,<NA>,<NA>,0,0,0
2,6a5609f385912113b6f1014b958ed748,20220326,13,18089,11500,"Census Tract 115, Lake County, Indiana",39,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,39,0,0,0,0
3,46b2882ec4c373527ec33f7bd4f1388d,20220716,29,18089,20700,"Census Tract 207, Lake County, Indiana",14,0,<NA>,<NA>,...,<NA>,<NA>,0,0,<NA>,10,0,0,<NA>,<NA>
4,37495d17e82f7df326bfc2c4c090f7b7,20220409,15,18089,21900,"Census Tract 219, Lake County, Indiana",155,0,<NA>,69,...,90,65,0,0,0,135,<NA>,<NA>,<NA>,<NA>

In [26]:
#Query Wage Data
query2= """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
"""

In [27]:
query_job = bigquery_client.query(query2)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
1,8c9d2aa90948679972a9382aadcc6001,18177,900,"Census Tract 9, Wayne County, Indiana",9883.250000
2,0f3d45341a5b113b813ffb7be7f58bab,18183,50300,"Census Tract 503, Whitley County, Indiana",13992.250000
3,fb55464f8e34af6d750d06968bf719b8,18183,50400,"Census Tract 504, Whitley County, Indiana",13613.500000
4,983badfd7b568728e39a2344a9006078,18001,30200,"Census Tract 302, Adams County, Indiana",11816.666667

In [28]:
#Query Unemployment data
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data`
order by week_number
"""

In [29]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head()

,uu_id,timeperiod,week_number,countyfips,tract,tract_name,total_claims,edu_8th_or_less,edu_grades_9_11,edu_hs_grad_equiv,...,gender_female,gender_male,gender_na,race_amerindian,race_asian,race_black,race_noanswer,race_hawaiiannative,race_other,race_white
0,65f24aac652de33abaf3f227b41e2641,20220101,1,18093,950500,"Census Tract 9505, Lawrence County, Indiana",10,0,<NA>,<NA>,...,<NA>,<NA>,0,0,0,<NA>,0,0,0,<NA>
1,14ceb8012cb1b912044297c8933cfcfc,20220101,1,18057,110506,"Census Tract 1105.06, Hamilton County, Indiana",39,<NA>,0,<NA>,...,<NA>,<NA>,0,0,0,<NA>,<NA>,0,<NA>,28
2,f013068de98db1470bd986137a0c6d23,20220101,1,18003,900,"Census Tract 9, Allen County, Indiana",10,0,0,<NA>,...,<NA>,<NA>,0,0,0,<NA>,0,0,<NA>,<NA>
3,f70960d492c2fd067680a14baa0f66e9,20220101,1,18167,10600,"Census Tract 106, Vigo County, Indiana",35,0,<NA>,21,...,<NA>,<NA>,0,0,0,0,<NA>,0,<NA>,32
4,778946d9696cd6c95f57e8b1e6336389,20220101,1,18167,11200,"Census Tract 112, Vigo County, Indiana",37,0,<NA>,24,...,26,11,0,0,0,<NA>,<NA>,0,<NA>,<NA>

In [30]:
#Query Wage Data
query2= """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
order by tract
"""

In [31]:
query_job = bigquery_client.query(query2)
wage_data = query_job.to_dataframe()
wage_data.head()

,uu_id,countyfips,tract,tract_name,average_wage
0,6ac331ecae4b7e4dd2750893612331f9,18053,100,"Census Tract 1, Grant County, Indiana",8901.400000
1,16b9d35c6d253c30527eb2de8d2d1bb9,18141,100,"Census Tract 1, St. Joseph County, Indiana",7361.100000
2,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
3,c676fe3aef9660b4e225ac44d2e1174b,18039,200,"Census Tract 2, Elkhart County, Indiana",15600.391304
4,ce64452a172b006bd45b3c1f147c88c1,18053,200,"Census Tract 2, Grant County, Indiana",10198.000000

In [32]:
#Query Wage Data
query2= """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data`
order by tract
"""

In [33]:
query_job = bigquery_client.query(query2)
wage_data = query_job.to_dataframe()
wage_data

,uu_id,countyfips,tract,tract_name,average_wage
0,6ac331ecae4b7e4dd2750893612331f9,18053,100,"Census Tract 1, Grant County, Indiana",8901.400000
1,16b9d35c6d253c30527eb2de8d2d1bb9,18141,100,"Census Tract 1, St. Joseph County, Indiana",7361.100000
2,585f8731c2255d6b3f817a31180848b9,18177,200,"Census Tract 2, Wayne County, Indiana",6612.000000
3,c676fe3aef9660b4e225ac44d2e1174b,18039,200,"Census Tract 2, Elkhart County, Indiana",15600.391304
4,ce64452a172b006bd45b3c1f147c88c1,18053,200,"Census Tract 2, Grant County, Indiana",10198.000000
...,...,...,...,...,...
520,fca0703f480d461a24d0b68fd994815e,18113,972400,"Census Tract 9724, Noble County, Indiana",18390.428571
521,0aed17ab54d56c6651d331418e8db6be,18009,975300,"Census Tract 9753, Blackford County, Indiana",7689.800000
522,cfeb7a55105a6e277ebef7dc3df83ffc,18065,975800,"Census Tract 9758, Henry County, Indiana",8230.222222
523,cd572640b6e423db8fd7ad50ef0b4473,18065,976000,"Census Tract 9760, Henry County, Indiana",10188.500000
524,19c0ba2728a6971ff9c1301f3bf17f59,18065,976400,"Census Tract 9764, Henry County, Indiana",14287.142857