In [1]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

NameError: name 'bigquery' is not defined

In [2]:
mport os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

SyntaxError: invalid syntax (1890479132.py, line 1)

In [3]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [4]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [5]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [6]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
covid19_cases_data.head()

   week_number  start_date  county   fips  cases  deaths
0            9  2021-03-01  Marion  18097    664      23
1           12  2021-03-22  Marion  18097    623      11
2           19  2021-05-10  Marion  18097   1156       4
3           11  2021-03-15  Marion  18097    560      13
4            6  2021-02-08  Marion  18097   1542     219

In [7]:
# THEN WORK BELOW TO DO SOMETHING THE RESULTS
print("Columns:")
print('\n'.join(covid19_cases_data.columns))
print("\nResults:")
print(covid19_cases_data.head())

Columns:
week_number
start_date
county
fips
cases
deaths

Results:
   week_number  start_date  county   fips  cases  deaths
0            9  2021-03-01  Marion  18097    664      23
1           12  2021-03-22  Marion  18097    623      11
2           19  2021-05-10  Marion  18097   1156       4
3           11  2021-03-15  Marion  18097    560      13
4            6  2021-02-08  Marion  18097   1542     219

In [8]:
query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [9]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [10]:
print(covid19_cases_data)

   f0_
0   46

In [11]:
query = """
SELECT 
week_number,
cases 
FROM `ironhacks-data.ironhacks_training.covid19_cases`
Where week_number between 1 and 3
order by week_number
"""

In [12]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [13]:
print(covid19_cases_data.head())

   week_number  cases
0            1   4714
1            1    964
2            2   5289
3            2   1232
4            3   3460

In [14]:
df = pandas.DataFrame(covid19_cases_data, columns = ['cases'])
print("mean: ", df.mean());

mean:  cases    2732.666667
dtype: float64