In [1]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

NameError: name 'bigquery' is not defined

In [2]:
BIGQUERY_PROJECT = 'ironhacks-data'

In [3]:
query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [4]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
print(covid19_cases_data)

NameError: name 'bigquery_client' is not defined

In [5]:
covid19_cases_data = query_job.to_dataframe()
print(covid19_cases_data)

NameError: name 'query_job' is not defined

In [6]:
print(covid19_cases_data)

NameError: name 'covid19_cases_data' is not defined

In [7]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [8]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [9]:
query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [10]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
print(covid19_cases_data)

   f0_
0   46

In [11]:
import os
import pandas
import db_dtypes
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [12]:
import os
import pandas
import db_dtypes
date_dtype_name = db_dtypes.DateDtype.name
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [13]:
import os
import pandas

In [14]:
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [15]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [16]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [17]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404

In [18]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [19]:
query_job = bigquery_client.query(query)
import db_dtypes
date_dtype_name = db.DateDtype.name
data = query_job.to_dataframe()
data.head()

NameError: name 'db' is not defined

In [20]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [21]:
query_job = bigquery_client.query(query)
date_dtype_name = db.DateDtype.name
data = query_job.to_dataframe()
data.head()

NameError: name 'db' is not defined

In [22]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [23]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404

In [24]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [25]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404

In [26]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [27]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [28]:
import os
import pandas
from google.cloud import db_dtypes
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

ImportError: cannot import name 'db_dtypes' from 'google.cloud' (unknown location)

In [29]:
import os
import pandas
from google.oauth2 import db_dtypes
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

ImportError: cannot import name 'db_dtypes' from 'google.oauth2' (/opt/anaconda3/lib/python3.9/site-packages/google/oauth2/__init__.py)

In [30]:
import os
import pandas
from google.cloud.bigquery import db_dtypes
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

ImportError: cannot import name 'db_dtypes' from 'google.cloud.bigquery' (/opt/anaconda3/lib/python3.9/site-packages/google/cloud/bigquery/__init__.py)

In [31]:
import os
import pandas
from datetime import date
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [32]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [33]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404

In [34]:
import os
import pandas
from datetime import date
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [35]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [36]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [37]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2019-09-04,99.9498,25.4570,18.6242,56.4720,11.7913,-3.6142,0.0,3.6461
1,2020-02-16,84.4966,8.6228,3.1896,40.7666,-2.2436,-1.4307,0.0,2.2398
2,2019-12-19,95.9017,2.8886,-3.4884,39.0330,-9.8654,-0.9389,0.0,4.1230
3,2020-02-20,70.0359,0.7939,-4.0254,34.7544,-8.8446,-1.4427,0.0,4.8531
4,2019-12-23,97.1634,13.8411,5.7818,31.2553,-2.2774,-1.2787,0.0,2.3404