In [ ]:
get_ipython().run_cell_magic('capture', '', "%logstop\n%logstart -t -r -q ipython_command_log.py global\n\n#- IRONHACKS RESEARCH TRACKING CODE\n#----------------------------------\n# The following code is used to help our research team understand how you \n# our notebook environment. We do not collect any personal information with\n# the following code, it is used to measure when and how often you work on\n# your submission files.\n\nimport os\nfrom datetime import datetime\nimport IPython.core.history as history\n\nha = history.HistoryAccessor()\nha_tail = ha.get_tail(1)\nha_cmd = next(ha_tail)\nsession_id = str(ha_cmd[0])\ncommand_id = str(ha_cmd[1])\ntimestamp = datetime.utcnow().isoformat()\nhistory_line = ','.join([session_id, command_id, timestamp]) + '\\n'\nlogfile = open(os.environ['HOME']+'/ipython_session_log.csv', 'a')\nlogfile.write(history_line)\nlogfile.close()\n")

In [ ]:
get_ipython().run_cell_magic('capture', '', "\n#- INSTALL ADDITIONAL LIBRARIES IF REQUIRED\n#------------------------------------------\n# This is normally not required. The hub environment comes preinstaled with \n# many packages that you can already use without setup. In case there is some\n# other library you would like to use that isn't on the list you run this command\n# once to install them.  If it is already installed this command has no effect.\n\n!python3 -m pip install pandas\n")

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [ ]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

- DEFINE YOUR CLASSES AND FUNCTIONS 
-----------------------------------
This is not required, but is helpful in keeping your notebook organized. 
You can use the following cell or several cells to define your functions
and classes to keep them separate from your analysis or results code.
In general it useful to define your methods in a separate cell from where
it is run.

In [ ]:
def example_function():
    print('Hello World')

In [ ]:
example_function()

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
#rn that error is expected, they r still tryna fix it

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [ ]:
import csv
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

CONFIGURE THE BIGQUERY SETTINGS

In [ ]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
#rn that error is expected, they r still tryna fix it

In [ ]:
# THEN WORK BELOW TO DO SOMETHING THE RESULTS
print("Columns:")
print('\n'.join(covid19_cases_data.columns))
print("\nResults:")
print(covid19_cases_data.head())

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
`
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
#rn that error is expected, they r still tryna fix it

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()
#rn that error is expected, they r still tryna fix it

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
wage_data.head(5)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head(5)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
unemployment_data.columns()

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
unemployment_data.columns

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
print(unemployment_data.columns)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.wage_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
wage_data = query_job.to_dataframe()
#wage_data.head(5)
print(wage_data.columns)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
prediction_data = query_job.to_dataframe()
#wage_data.head(5)
print(prediction_data.columns)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.prediction_list`
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
prediction_data = query_job.to_dataframe()
print(prediction_data.columns)

In [ ]:
prediction_data.head(5)

In [ ]:
query = """
SELECT * 
FROM `ironhacks-data.ironhacks_competition.INFORMATION_SCHEMA.TABLES`
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
table_data = query_job.to_dataframe()
print(table_data.columns)

In [ ]:
table_data.head(5)

In [ ]:
pip install google-cloud-bigquery
get_ipython().system('pip install google-cloud-bigquery[pandas]')

In [ ]:
get_ipython().system('pip install google-cloud-bigquery')
get_ipython().system('pip install google-cloud-bigquery[pandas]')

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [ ]:
import csv
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')

In [ ]:
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
print(unemployment_data.columns)
dtype(unemployment_data)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
print(unemployment_data.columns)
unemployment_data.dtypes

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
print(unemployment_data.columns)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head(5)
print(unemployment_data.columns)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head(5)
#print(unemployment_data.columns)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
#print(unemployment_data.columns)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
#unemployment_data.head(5)
#print(unemployment_data.columns)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head(5)
#print(unemployment_data.columns)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['uu_id'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['uu_id'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['uu_id'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.head(5)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['uu_id'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.head(15)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['uu_id'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.head(15)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['uu_id'])['total_claims'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.head(15)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.head(15)

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.max()

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.min()

Here, I want to combine the education levels into one dataframe.

In [ ]:
edu_level = unemployment_data[['uu_id', 'total_claims', 'edu_8th_or_less', 'edu_grades_9_11', 'edu_hs_grad_equiv', 'edu_post_hs', 'edu_unknown']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.max()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
edu_lvl = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
edu_lvl.max()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
gender = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
gender.max()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
gender = edu_level.groupby(['total_claims'])['edu_8th_or_less'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
gender.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
gender = edu_level.groupby(['total_claims'])['gender_female'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
gender.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
genders = gender.groupby(['total_claims'])['gender_female'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
genders.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
genders = gender.groupby(['total_claims', 'uu_id'])['gender_female'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
genders.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
genders = gender.groupby(['total_claims', 'uu_id'])['gender_female', 'gender_male'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
genders.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
genders = gender.groupby(['total_claims', 'uu_id'])['gender_female'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
genders.head()

Here, I want to combine the education levels into one dataframe.

In [ ]:
gender = unemployment_data[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]
edu_level.head(5)

In [ ]:
genders = gender.groupby(['total_claims', 'uu_id'])['gender_female'].count().reset_index(
  name='Count').sort_values(['Count'], ascending=True)

In [ ]:
genders.max()

In [ ]:
df = unemployment_data.dropna()
df.head()

- IMPORT THE LIBRARIES YOU WILL USE
------------------------------------------
You only need to import packages one time per notebook session. To keep your
notebook clean and organized you can handle all imports at the top of your file.
The following are included for example purposed, feel free to modify or delete 
anything in this section.

In [ ]:
import csv
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

Here, I want to combine the gender into one dataframe.

In [ ]:
gender = df[['uu_id', 'total_claims', 'gender_female', 'gender_male', 'gender_na']]

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head(5)
print(unemployment_data.columns)

SPLIT training set

In [ ]:
x = df['edu_post_hs'].values.reshape(-1,1)
y = df['total_claims'].values.reshape(-1,1)

SPLIT training set

In [ ]:
X = df['edu_post_hs'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)

In [ ]:
#For retrieving the slope:
print(regressor.coef_)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df2

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df2

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df2

In [ ]:
df2 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred.flatten()})
df2

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
df1 = df.head(25)
df1.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
plt.scatter(X_test, y_test,  color='gray')
plt.plot(X_test, y_pred, color='red', linewidth=2)
plt.show()

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
df2 = df.head(25)
df1.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten() , 'Predicted': y_pred.flatten()})
df2

SPLIT training set

In [ ]:
X = df['uu_id'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

SPLIT training set

In [ ]:
X = df['top_category_employer1'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

SPLIT training set

In [ ]:
X = df['edu_8th_or_less'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)

In [ ]:
#For retrieving the slope:
print(regressor.coef_)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten() , 'Predicted': y_pred.flatten()})
df2

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten , 'Predicted': y_pred.flatten()})
df2

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

SPLIT training set

In [ ]:
X = df['edu_post_hs'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

SPLIT training set

In [ ]:
X = df['edu_post_hs'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
plt.scatter(X_test, y_test,  color='gray')
plt.plot(X_test, y_pred, color='red', linewidth=2)
plt.show()

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

split the data

In [ ]:
X = df['edu_post_hs'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#fit the model to the data
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)

In [ ]:
#For retrieving the slope:
print(regressor.coef_)

split the data

In [ ]:
X = df['edu_post_hs'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)

In [ ]:
#For retrieving the slope:
print(regressor.coef_)

split the data

In [ ]:
X = df['edu_post_hs'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_competition.unemployment_data` 
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
unemployment_data = query_job.to_dataframe()
unemployment_data.head(1)
#print(unemployment_data.columns)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
len(df2)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
len(df2)

Drop NA VALUES

In [ ]:
df = unemployment_data.dropna()
df.head()
len(df)

In [ ]:
len(X)

In [ ]:
len(Y)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
len(df2)

In [ ]:
len(X_test)

In [ ]:
len(Y_test)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, train.size=0.9, test_size=0.1, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, train.size==0.9, test_size==0.1, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, train.size=0.9, test_size=0.1, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, train.size=0.9, test_size=0.1)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train.size=0.9, test_size=0.1)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
Y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

In [ ]:
len(Y_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
len(df2)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten() , 'Predicted': y_pred.flatten()})
df2

In [ ]:
plt.scatter(X_test, y_test,  color='gray')
plt.plot(X_test, y_pred, color='red', linewidth=2)
plt.show()

split the data

In [ ]:
X = df['week_number'].values.reshape(-1,1)
y = df['total_claims'].values.reshape(-1,1)

In [ ]:
#create training & split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#fit the model to the data
model = LinearRegression()  
model.fit(X_train, y_train)

In [ ]:
#To retrieve the intercept:
print(model.intercept_)

In [ ]:
#For retrieving the slope:
print(model.coef_)

In [ ]:
#
y_pred = model.predict(X_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
output = df2.to_csv('submission_prediction_output.csv')
output

In [ ]:
output = df2.to_csv('submission_prediction_output.csv')
output

In [ ]:
df2 = pd.DataFrame({'Actual': y_test , 'Predicted': y_pred.flatten()})
df2

In [ ]:
output = df2.to_csv('submission_prediction_output.csv')
output

In [ ]:
output = df2.to_csv('submission_prediction_output.csv')
output

In [ ]:
output = df2.to_csv('submission_prediction_output.csv')
output

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))