In [ ]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [ ]:
BIGQUERY_PROJECT = 'ironhacks-data'

In [ ]:
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [ ]:
query = """
SELECT * FROM `ironhacks-data.ironhacks_training.weather_data`
"""

In [ ]:
query_job = bigquery_client.query(query)
data = query_job.to_dataframe()
data.head()

In [ ]:
query = """

SELECT date, max_rel_humidity
FROM ironhacks-data.ironhacks_training.weather_data
WHERE date='2020-06-16'




"""

In [ ]:
query_job = bigquery_client.query(query)
get_ipython().system('python3 -m pip install pandas')
import pandas
data = query_job.to_dataframe()
data.head()

In [ ]:
query = """

Select 
a.*,
b.cases 

FROM 

(SELECT 
extract(week(Monday) from date) as week_number,
AVG(mean_temperature) as mean_temperature_week,
date as start_date,
AVG(wind_speed) as mean_wind_speed_week
FROM `ironhacks_training.weather_data`
group by week_number,start_date) a

JOIN `ironhacks-data.ironhacks_training.covid19_cases` b 
ON a.week_number=b.week_number
order by week_number



"""

In [ ]:
query_job = bigquery_client.query(query)
get_ipython().system('python3 -m pip install pandas')
import pandas
data = query_job.to_dataframe()
data.head()