In [ ]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [ ]:
import os
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics

In [ ]:
BIGQUERY_PROJECT = 'ironhacks-data'
bigquery_client = bigquery.Client(project=BIGQUERY_PROJECT)

In [ ]:
query = """
SELECT *
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [ ]:
# QUERY THE DATA ONCE
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
print("Columns:")
print('\n'.join(covid19_cases_data.columns))
print("\nResults:")
print(covid19_cases_data.head())

In [ ]:
query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.covid19_cases`
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
print(covid19_cases_data)

In [ ]:
query = """
SELECT COUNT(*)
FROM `ironhacks-data.ironhacks_training.covid19_cases` group by county
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
print(covid19_cases_data)

In [ ]:
query = """
SELECT COUNT(*),county
FROM `ironhacks-data.ironhacks_training.covid19_cases` group by county
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
print(covid19_cases_data)

In [ ]:
query = """
SELECT 
week_number,
cases 
FROM `ironhacks-data.ironhacks_training.covid19_cases`
Where week_number between 1 and 3
order by week_number
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
print(covid19_cases_data.head())

In [ ]:
query = """
SELECT 
week_number,
cases 
FROM `ironhacks-data.ironhacks_training.covid19_cases`
Where week_number between 1 and 3
order by week_number
group by week_number
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
query = """
SELECT 
week_number,
cases 
FROM `ironhacks-data.ironhacks_training.covid19_cases`
Where week_number between 1 and 3
group by week_number
order by week_number
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
query = """
SELECT 
week_number,
cases 
FROM `ironhacks-data.ironhacks_training.covid19_cases`
Where week_number between 1 and 3
order by week_number
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
print(covid19_cases_data.head())

In [ ]:
query = """
SELECT 
week_number,
cases 
FROM `ironhacks-data.ironhacks_training.covid19_cases`
Where week_number between 1 and 3
group by county
order by week_number
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
query = """
SELECT 
week_number,
cases 
FROM `ironhacks-data.ironhacks_training.covid19_cases`
Where week_number between 1 and 3
order by week_number
"""

In [ ]:
query_job = bigquery_client.query(query)
covid19_cases_data = query_job.to_dataframe()

In [ ]:
print(covid19_cases_data)

In [ ]:
df = pandas.DataFrame(covid19_cases_data, columns = ['cases'])
print("mean: ", df.mean());